<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.certificate.CertificateMapper">

    <resultMap id="CertificateResultMap" type="com.masiis.shop.dao.beans.certificate.CertificateInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pf_user_sku_id" property="pfUserSkuId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="imgUrl" property="img_url" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="wx_nk_name" property="ctName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getCertificateInfo" resultMap="CertificateResultMap">
         SELECT u.wx_nk_name,ctf.mobile,ctf.wx_id,
                 ctf.agent_level_id,ctf.begin_time
         FROM pf_user_certificate ctf
         LEFT JOIN com_user u ON ctf.user_id = u.id
    </select>
</mapper>