<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.PfSkuStockMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.PfSkuStock" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="spu_id" property="spuId" jdbcType="INTEGER" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="stock" property="stock" jdbcType="INTEGER" />
        <result column="frozen_stock" property="frozenStock" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, create_time, supplier_id, spu_id, sku_id, stock, frozen_stock, remark
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.masiis.shop.dao.PfSkuStockExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from pf_sku_stock
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="countByExample" parameterType="com.masiis.shop.dao.PfSkuStockExample" resultType="java.lang.Integer" >
        select count(*) from pf_sku_stock
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update pf_sku_stock
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.supplierId != null" >
                supplier_id = #{record.supplierId,jdbcType=INTEGER},
            </if>
            <if test="record.spuId != null" >
                spu_id = #{record.spuId,jdbcType=INTEGER},
            </if>
            <if test="record.skuId != null" >
                sku_id = #{record.skuId,jdbcType=INTEGER},
            </if>
            <if test="record.stock != null" >
                stock = #{record.stock,jdbcType=INTEGER},
            </if>
            <if test="record.frozenStock != null" >
                frozen_stock = #{record.frozenStock,jdbcType=INTEGER},
            </if>
            <if test="record.remark != null" >
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update pf_sku_stock
        set id = #{record.id,jdbcType=INTEGER},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            supplier_id = #{record.supplierId,jdbcType=INTEGER},
            spu_id = #{record.spuId,jdbcType=INTEGER},
            sku_id = #{record.skuId,jdbcType=INTEGER},
            stock = #{record.stock,jdbcType=INTEGER},
            frozen_stock = #{record.frozenStock,jdbcType=INTEGER},
            remark = #{record.remark,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.masiis.shop.dao.PfSkuStock" >
        update pf_sku_stock
        <set >
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="supplierId != null" >
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="spuId != null" >
                spu_id = #{spuId,jdbcType=INTEGER},
            </if>
            <if test="skuId != null" >
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="stock != null" >
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="frozenStock != null" >
                frozen_stock = #{frozenStock,jdbcType=INTEGER},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByExample" parameterType="com.masiis.shop.dao.PfSkuStockExample" >
        delete from pf_sku_stock
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

</mapper>