<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/task
	                       http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package=" com.masiis.shop.scheduler" />

    <task:annotation-driven scheduler="qbScheduler" mode="proxy"/>
    <task:scheduler id="qbScheduler" pool-size="10"/>

    <!-- 定时任务配置 -->
    <task:scheduled-tasks>
        <!-- platform订单相关job -->
        <!-- 平台结算中到可提现的定时任务 -->
        <task:scheduled ref="pfOrderTask" method="billCountJob" cron="0 20 0 * * ?" />
        <!-- 未支付订单72小时后自动取消 -->
        <task:scheduled ref="pfOrderTask" method="unPayOrderCancelJob" cron="0 20 * * * ?"/>
        <!-- 订单发货后7天自动收货 -->
        <task:scheduled ref="pfOrderTask" method="orderReceivedConfirmJob" cron="0 30 * * * ?" />

        <!-- mall订单相关job -->
        <task:scheduled ref="sfOrderTask" method="sfBillCountJob" cron="0 20 0 * * ?" />
        <!-- 每日统计下级代理数量 -->
        <task:scheduled ref="pfAgentTask" method="agentStatisticsJob" cron="0 40 0 * * ?"/>
    </task:scheduled-tasks>

</beans>