.wrap{
    nav{
            width: 100%;
            background: white;
            padding: 12px 0 10px 0;
            ul{
                margin:0 10px;
                display: -webkit-box;
                li:first-child{
                    border-right: 1px solid #C2C2C2;
                    padding-left: 0;
                }
                li:last-child{
                    h2{
                        background: url("../images/zichan_2.png") no-repeat 0;
                        background-size: 12px;
                    }
                }
                li{
                    width: 1px;
                    -webkit-box-flex:1;
                    padding-left: 10px;
                    p{
                        font-size: 12px;
                        span{
                            float: right;
                            display: block;
                            width: 70px;
                            height: 18px;
                            border-radius: 5px;
                            line-height: 18px;
                            text-align: center;
                            font-size: 12px;
                            border: 1px solid #FA570B;
                            margin-right: 10px;
                            a{
                                color: #FB5F09;
                            }
                        }
                        b{
                            width: 20px;
                            height: 20px;
                            float: right;
                            margin-right: 10px;
                            border-radius: 20px;
                            background: #ccc;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                    h1{
                        text-align: center;
                        color: #F9550C;
                        margin-top:24px;
                        font-size: 18px;
                        span{
                         font-size: 12px;
                        }
                    }
                    h2{
                        color: #333;
                        font-weight: 100;
                        margin-top:24px;
                        float: right;
                        display: block;
                        width: 70px;
                        height: 18px;
                        border-radius: 5px;
                        line-height: 18px;
                        text-align: center;
                        font-size: 12px;
                        margin-right: 10px;
                        background: url("../images/zichan_1.png") no-repeat 0;
                        background-size: 12px;
                        padding-left: 5px;
                    }
                }
            }
        }
    .sec1{
        display: -webkit-box;
        -webkit-box-pack:justify;
        padding: 5px 10px;
        background: #fff;
        margin-top: 5px;
        border-bottom: 1px solid #f6f6f6;
        p{
            font-size: 12px;
            a,span{
                font-size: 12px;
            }
        }
    }
    .sec2{
        display: -webkit-box;
        -webkit-box-orient:vertical;
        padding: 10px 10px;
        background: #fff;
        margin-bottom: 5px;
        p{
            display: -webkit-box;
            -webkit-box-pack:justify;
            b{
                display: block;
                font-size: 12px;
                a{
                    width: 60px;
                    display: inline-block;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    line-height: 13px;
                    text-decoration: underline;
                }
                span{
                    font-size: 12px;
                }
            }
            b:first-child{
                font-size: 14px;
            }
            
        }
        h1{
            text-align: right;
            span{
                font-size: 12px;
            }
        }
    }
}
.back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  z-index: 4;
    display: none;
}
.back_j {
  width: 90%;
  position: fixed;
  top: 30%;
  left: 5%;
  background: #fff;
  z-index: 10;
  border-radius: 5px;
  display: none;
}
.back_j .biao {
  margin: 0 5px;
  border-bottom: 1px solid #F74A11;
  text-indent: 10px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #FF5200;
  letter-spacing: 1px;
}
.back_j div {
  margin: 0 20px;
  position: relative;
  border-bottom: 1px solid #cdcdcd;
}
.back_j div p {
  border-radius: 5px;
  line-height: 44px;
  text-indent: 10px;
}
.back_j div p input {
  border: none;
}
.back_j div em {
  font-size: 12px;
  position: absolute;
  right: 4px;
  top: 46%;
  display: none;
}
.back_j .d {
  margin-top: 0;
}
.back_j .d p input {
  display: inline-block;
  width: 30%;
}
.back_j .d p button {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background: #F74A11;
  color: white;
  float: right;
  margin-top: 8px;
}
.back_j .tishi {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  color: red;
}
.back_j .j_qu {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #ff5200;
  margin: 40px auto 20px auto;
  text-align: center;
  border-radius: 5px;
  color: white;
}