<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.mall.promotion.SfUserPromotionMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfUserPromotion" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="introduction" property="introduction" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="person_type" property="personType" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from sf_user_promotion
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.SfUserPromotion" >
        insert into sf_user_promotion (id, create_time, create_man, 
            code, name, introduction, 
            type, person_type, status, 
            begin_time, end_time, modify_time, 
            modify_man, remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, 
            #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
            #{type,jdbcType=INTEGER}, #{personType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
            #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
            #{modifyMan,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.SfUserPromotion" >
        update sf_user_promotion
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            code = #{code,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            introduction = #{introduction,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            person_type = #{personType,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            begin_time = #{beginTime,jdbcType=TIMESTAMP},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            modify_man = #{modifyMan,jdbcType=BIGINT},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, create_man, code, name, introduction, type, person_type, 
        status, begin_time, end_time, modify_time, modify_man, remark
        from sf_user_promotion
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, code, name, introduction, type, person_type, 
        status, begin_time, end_time, modify_time, modify_man, remark
        from sf_user_promotion
    </select>

</mapper>