<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.mall.promotion.SfUserPromotionRuleMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfUserPromotionRule" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="promo_id" property="promoId" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="rule_value" property="ruleValue" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from sf_user_promotion_rule
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.SfUserPromotionRule" >
        insert into sf_user_promotion_rule (id, promo_id, type, 
            rule_value, remark)
        values (#{id,jdbcType=INTEGER}, #{promoId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
            #{ruleValue,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.SfUserPromotionRule" >
        update sf_user_promotion_rule
        set promo_id = #{promoId,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            rule_value = #{ruleValue,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, promo_id, type, rule_value, remark
        from sf_user_promotion_rule
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, promo_id, type, rule_value, remark
        from sf_user_promotion_rule
    </select>

    <select id="maxId" resultType="Integer">
        select max(id) from sf_user_promotion_rule
    </select>

    <select id="getPromoRuleByPromoId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, promo_id, type, rule_value, remark
        from sf_user_promotion_rule
        where promo_id = #{promoId,jdbcType=INTEGER}
    </select>
</mapper>