<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.storage.PbStorageBillMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbStorageBill" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="bill_reason" property="billReason" jdbcType="VARCHAR" />
        <result column="product_quantity" property="productQuantity" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="audit_man" property="auditMan" jdbcType="BIGINT" />
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from pb_storage_bill
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PbStorageBill" useGeneratedKeys="true" keyProperty="id">
        insert into pb_storage_bill (id, create_time, create_man, 
            code, user_id, bill_reason, product_quantity,
            status, type, audit_man, 
            audit_time, remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, 
            #{code,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{billReason,jdbcType=VARCHAR}, #{productQuantity,jdbcType=INTEGER},
            #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{auditMan,jdbcType=BIGINT}, 
            #{auditTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PbStorageBill" >
        update pb_storage_bill
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            code = #{code,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=BIGINT},
            bill_reason = #{billReason,jdbcType=VARCHAR},
            product_quantity = #{productQuantity,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            audit_man = #{auditMan,jdbcType=BIGINT},
            audit_time = #{auditTime,jdbcType=TIMESTAMP},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, create_man, code, user_id, bill_reason, product_quantity, status, type,
        audit_man, audit_time, remark
        from pb_storage_bill
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, code, user_id, bill_reason, product_quantity, status, type,
        audit_man, audit_time, remark
        from pb_storage_bill
    </select>

    <select id="getStoragechangeList" parameterType="Map" resultType="java.util.HashMap">
        select st.id, st.create_time, st.create_man, st.code, st.user_id, st.bill_reason, st.product_quantity, st.status, st.type,
        st.audit_man, st.audit_time, st.remark, u1.true_name create_man_name, u2.real_name user_id_name
        from pb_storage_bill st
        left join pb_user u1 on st.create_man = u1.id
        left join com_user u2 on st.user_id = u2.id
        where 1 = 1
        <if test="code != null">
            and st.code = #{code}
        </if>
        <if test="realNamelike != null">
            and u2.real_name like #{realNamelike}
        </if>
        <if test="mobilelike != null">
            and u2.mobile like #{mobilelike}
        </if>
        <if test="state != null">
            and st.status = #{state}
        </if>
    </select>

    <select id="getStorageItemDetailList" resultType="java.util.HashMap">
        select i.sku_name skuName, i.quantity, u.real_name realName, u.wx_nk_name nkName
        from pb_storage_bill_item i
        left join pb_storage_bill b on b.id = i.pb_storage_bill_id
        left join pf_user_sku s on s.user_id = b.user_id and s.sku_id = i.sku_id
        left join com_user u on u.id = s.user_pid
        where pb_storage_bill_id = #{storageId}
    </select>

</mapper>