<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.storage.PbStorageBillItemMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbStorageBillItem" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="pb_storage_bill_id" property="pbStorageBillId" jdbcType="INTEGER" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
        <result column="quantity" property="quantity" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from pb_storage_bill_item
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PbStorageBillItem" useGeneratedKeys="true" keyProperty="id">
        insert into pb_storage_bill_item (id, create_time, pb_storage_bill_id, 
            sku_id, sku_name, quantity, 
            remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{pbStorageBillId,jdbcType=INTEGER}, 
            #{skuId,jdbcType=INTEGER}, #{skuName,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PbStorageBillItem" >
        update pb_storage_bill_item
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            pb_storage_bill_id = #{pbStorageBillId,jdbcType=INTEGER},
            sku_id = #{skuId,jdbcType=INTEGER},
            sku_name = #{skuName,jdbcType=VARCHAR},
            quantity = #{quantity,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, pb_storage_bill_id, sku_id, sku_name, quantity, remark
        from pb_storage_bill_item
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, pb_storage_bill_id, sku_id, sku_name, quantity, remark
        from pb_storage_bill_item
    </select>

</mapper>