<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.mall.order.SfOrderItemDistributionExtendMapper" >
    <resultMap id="CommissionRecordResultMap" type="com.masiis.shop.dao.po.SfOrderItemDistribution" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="sf_order_id" property="sfOrderId" jdbcType="BIGINT" />
        <result column="sf_order_item_id" property="sfOrderItemId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="sf_sku_distribution_id" property="sfSkuDistributionId" jdbcType="INTEGER" />
        <result column="distribution_amount" property="distributionAmount" jdbcType="DECIMAL" />
        <result column="is_counting" property="isCounting" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="nk_name" property="nkName" jdbcType="VARCHAR"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="sku_id" property="skuId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectCommissionRecordByUserId" resultMap="CommissionRecordResultMap">
        select dis.*,u.wx_nk_name as nk_name,sku.name as sku_name,od.create_time as order_time,sku.id as sku_id
            from sf_order_item_distribution dis
            LEFT JOIN sf_order od on dis.sf_order_id = od.id
            LEFT JOIN com_user u on od.user_id = u.id
--             LEFT JOIN com_user u on dis.user_id = u.id
            LEFT JOIN sf_sku_distribution sdis on dis.sf_sku_distribution_id = sdis.id
            LEFT JOIN com_sku sku on sdis.sku_id = sku.id
        where /*dis.is_counting = 1 and */
            dis.user_id = #{0}
            and od.pay_status = 1
            order by create_time desc
    </select>
    <select id="selectCommissionRecordCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(*)
            from sf_order_item_distribution dis
            LEFT JOIN sf_order od on dis.sf_order_id = od.id
            LEFT JOIN com_user u on od.user_id = u.id
            LEFT JOIN sf_sku_distribution sdis on dis.sf_sku_distribution_id = sdis.id
            LEFT JOIN com_sku sku on sdis.sku_id = sku.id
        where dis.user_id = #{userId}
            and od.pay_status = 1
    </select>
    <select id="selectSumAmount" resultType="java.util.HashMap">
        select sum(dis.distribution_amount) as sumAmount
            from sf_order_item_distribution dis
            LEFT JOIN sf_order od on dis.sf_order_id = od.id
            LEFT JOIN com_user u on dis.user_id = u.id
            LEFT JOIN sf_sku_distribution sdis on dis.sf_sku_distribution_id = sdis.id
            LEFT JOIN com_sku sku on sdis.sku_id = sku.id
        where dis.user_id = #{userId, jdbcType=BIGINT} and od.id in
            <foreach item="item" collection="orderIds" open="(" separator="," close=")">
              #{item}
            </foreach>
    </select>

    <select id="selectUserAmount" resultType="java.util.HashMap">
        select sum(dis.distribution_amount) as sumAmount
        from sf_order_item_distribution dis
            LEFT JOIN sf_order od on dis.sf_order_id = od.id
            LEFT JOIN com_user u on dis.user_id = u.id
            LEFT JOIN sf_sku_distribution sdis on dis.sf_sku_distribution_id = sdis.id
            LEFT JOIN com_sku sku on sdis.sku_id = sku.id
        where dis.user_id = #{userId, jdbcType=BIGINT}
            and od.pay_status = 1
--          and dis.is_counting=1
    </select>

</mapper>