<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.mall.order.SfOrderMallFreightMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfOrderFreight" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="sf_order_id" property="sfOrderId" jdbcType="BIGINT" />
        <result column="ship_man_id" property="shipManId" jdbcType="INTEGER" />
        <result column="ship_man_name" property="shipManName" jdbcType="VARCHAR" />
        <result column="freight" property="freight" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, sf_order_id, ship_man_id, ship_man_name, freight
        from sf_order_freight
        where sf_order_id = #{sfOrderId,jdbcType=BIGINT}
    </select>


</mapper>