<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.ComAreaMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComArea" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="name_en" property="nameEn" jdbcType="VARCHAR" />
        <result column="shortname_en" property="shortnameEn" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from com_area
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComArea" >
        insert into com_area (id, create_time, create_man,
        code, name, pid,
        level, name_en, shortname_en,
        sort, remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT},
        #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER},
        #{level,jdbcType=INTEGER}, #{nameEn,jdbcType=VARCHAR}, #{shortnameEn,jdbcType=VARCHAR},
        #{sort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComArea" >
        update com_area
        set create_time = #{createTime,jdbcType=TIMESTAMP},
        create_man = #{createMan,jdbcType=BIGINT},
        code = #{code,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        pid = #{pid,jdbcType=INTEGER},
        level = #{level,jdbcType=INTEGER},
        name_en = #{nameEn,jdbcType=VARCHAR},
        shortname_en = #{shortnameEn,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="queryComAreasByParam"  resultMap="BaseResultMap">
        select id, create_time, create_man, code, name, pid, level, name_en, shortname_en,
        sort, remark
        from com_area
        WHERE 1=1
        <if test="comArea.id != null">
            and id = #{comArea.id}
        </if>
        <if test="comArea.code != null">
            AND pid = #{comArea.code}
        </if>
        <if test="comArea.name != null">
            AND pid = #{comArea.name}
        </if>
        <if test="comArea.pid != null">
            AND pid = #{comArea.pid}
        </if>

    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, create_man, code, name, pid, level, name_en, shortname_en,
        sort, remark
        from com_area
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, code, name, pid, level, name_en, shortname_en,
        sort, remark
        from com_area
    </select>

</mapper>