<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.ComUserAccountRecordMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComUserAccountRecord" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="com_user_id" property="comUserId" jdbcType="BIGINT" />
        <result column="user_account_id" property="userAccountId" jdbcType="BIGINT" />
        <result column="handle_fee" property="handleFee" jdbcType="DECIMAL" />
        <result column="prev_fee" property="prevFee" jdbcType="DECIMAL" />
        <result column="next_fee" property="nextFee" jdbcType="DECIMAL" />
        <result column="fee_type" property="feeType" jdbcType="INTEGER" />
        <result column="bill_id" property="billId" jdbcType="BIGINT" />
        <result column="handler_time" property="handlerTime" jdbcType="TIMESTAMP" />
        <result column="handler" property="handler" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from com_user_account_record
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComUserAccountRecord" >
        insert into com_user_account_record (id, com_user_id, user_account_id, 
            handle_fee, prev_fee, next_fee, 
            fee_type, bill_id, handler_time, 
            handler)
        values (#{id,jdbcType=BIGINT}, #{comUserId,jdbcType=BIGINT}, #{userAccountId,jdbcType=BIGINT}, 
            #{handleFee,jdbcType=DECIMAL}, #{prevFee,jdbcType=DECIMAL}, #{nextFee,jdbcType=DECIMAL}, 
            #{feeType,jdbcType=INTEGER}, #{billId,jdbcType=BIGINT}, #{handlerTime,jdbcType=TIMESTAMP}, 
            #{handler,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComUserAccountRecord" >
        update com_user_account_record
        set com_user_id = #{comUserId,jdbcType=BIGINT},
            user_account_id = #{userAccountId,jdbcType=BIGINT},
            handle_fee = #{handleFee,jdbcType=DECIMAL},
            prev_fee = #{prevFee,jdbcType=DECIMAL},
            next_fee = #{nextFee,jdbcType=DECIMAL},
            fee_type = #{feeType,jdbcType=INTEGER},
            bill_id = #{billId,jdbcType=BIGINT},
            handler_time = #{handlerTime,jdbcType=TIMESTAMP},
            handler = #{handler,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, com_user_id, user_account_id, handle_fee, prev_fee, next_fee, fee_type, 
        bill_id, handler_time, handler
        from com_user_account_record
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, com_user_id, user_account_id, handle_fee, prev_fee, next_fee, fee_type, 
        bill_id, handler_time, handler
        from com_user_account_record
    </select>

</mapper>