<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.ComUserMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="wx_nk_name" property="wxNkName" jdbcType="VARCHAR"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <result column="wx_head_img" property="wxHeadImg" jdbcType="VARCHAR"/>
        <result column="access_token" property="accessToken" jdbcType="VARCHAR"/>
        <result column="refresh_token" property="refreshToken" jdbcType="VARCHAR"/>
        <result column="atoken_expire" property="atokenExpire" jdbcType="TIMESTAMP"/>
        <result column="rtoken_expire" property="rtokenExpire" jdbcType="TIMESTAMP"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
        <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
        <result column="province_id" property="provinceId" jdbcType="INTEGER"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="region_id" property="regionId" jdbcType="INTEGER"/>
        <result column="region_name" property="regionName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="send_type" property="sendType" jdbcType="INTEGER" />
        <result column="is_agent" property="isAgent" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="auditStatus" property="audit_status" jdbcType="INTEGER"/>
        <result column="auditReason" property="audit_reason" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from com_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComUser" useGeneratedKeys="true" keyProperty="id">
        insert into com_user (id, create_time, openid,
        wx_nk_name, wx_id, wx_head_img,
        access_token, refresh_token, atoken_expire,
        rtoken_expire, real_name, mobile,
        id_card, id_card_front_url, id_card_back_url,
        province_id, province_name, city_id,
        city_name, region_id, region_name,
        address,send_type, is_agent, is_verified, sex,audit_status,audit_reason
        )
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{openid,jdbcType=VARCHAR},
        #{wxNkName,jdbcType=VARCHAR}, #{wxId,jdbcType=VARCHAR}, #{wxHeadImg,jdbcType=VARCHAR},
        #{accessToken,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, #{atokenExpire,jdbcType=TIMESTAMP},
        #{rtokenExpire,jdbcType=TIMESTAMP}, #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
        #{idCard,jdbcType=VARCHAR}, #{idCardFrontUrl,jdbcType=VARCHAR}, #{idCardBackUrl,jdbcType=VARCHAR},
        #{provinceId,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER},
        #{cityName,jdbcType=VARCHAR}, #{regionId,jdbcType=INTEGER}, #{regionName,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{sendType,jdbcType=INTEGER}, #{isAgent,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER},
        #{auditStatus,jdbcType=INTEGER}, #{auditReason,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updatePhone" parameterType="com.masiis.shop.dao.po.ComUser">
        update com_user
        set mobile = #{mobile,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComUser">
        update com_user
        set create_time = #{createTime,jdbcType=TIMESTAMP},
        openid = #{openid,jdbcType=VARCHAR},
        wx_nk_name = #{wxNkName,jdbcType=VARCHAR},
        wx_id = #{wxId,jdbcType=VARCHAR},
        wx_head_img = #{wxHeadImg,jdbcType=VARCHAR},
        access_token = #{accessToken,jdbcType=VARCHAR},
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
        atoken_expire = #{atokenExpire,jdbcType=TIMESTAMP},
        rtoken_expire = #{rtokenExpire,jdbcType=TIMESTAMP},
        real_name = #{realName,jdbcType=VARCHAR},
        mobile = #{mobile,jdbcType=VARCHAR},
        id_card = #{idCard,jdbcType=VARCHAR},
        id_card_front_url = #{idCardFrontUrl,jdbcType=VARCHAR},
        id_card_back_url = #{idCardBackUrl,jdbcType=VARCHAR},
        province_id = #{provinceId,jdbcType=INTEGER},
        province_name = #{provinceName,jdbcType=VARCHAR},
        city_id = #{cityId,jdbcType=INTEGER},
        city_name = #{cityName,jdbcType=VARCHAR},
        region_id = #{regionId,jdbcType=INTEGER},
        region_name = #{regionName,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        is_agent = #{isAgent,jdbcType=INTEGER},
        send_type = #{sendType,jdbcType=INTEGER},
        sex = #{sex,jdbcType=INTEGER},
        audit_status = #{auditStatus,jdbcType=INTEGER},
        audit_reason = #{auditReason,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, openid, wx_nk_name, wx_id, wx_head_img, access_token, refresh_token,
        atoken_expire, rtoken_expire, real_name, mobile, id_card, id_card_front_url, id_card_back_url,
        province_id, province_name, city_id, city_name, region_id, region_name, address,
        is_agent, sex, send_type, audit_status,audit_reason
        from com_user
        where id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, openid, wx_nk_name, wx_id, wx_head_img, access_token, refresh_token,
        atoken_expire, rtoken_expire, real_name, mobile, id_card, id_card_front_url, id_card_back_url,
        province_id, province_name, city_id, city_name, region_id, region_name, address,
        is_agent, sex, send_type, audit_status,audit_reason
        from com_user
    </select>
    <select id="findByPid" resultType="string">
        select real_name
        from com_user
        where id = #{pid}
    </select>

    <select id="selectByMobile" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, create_time, openid, wx_nk_name, wx_id, wx_head_img, access_token, refresh_token,
        atoken_expire, rtoken_expire, real_name, mobile, id_card, id_card_front_url, id_card_back_url,
        province_id, province_name, city_id, city_name, region_id, region_name, address,
        is_agent, sex, send_type, audit_status,audit_reason
        from com_user
        where mobile = #{mobile,jdbcType=VARCHAR}
    </select>

    <select id="selectByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, create_time, openid, wx_nk_name, wx_id, wx_head_img, access_token, refresh_token,
        atoken_expire, rtoken_expire, real_name, mobile, id_card, id_card_front_url, id_card_back_url,
        province_id, province_name, city_id, city_name, region_id, region_name, address,
        is_agent, sex, send_type, audit_status,audit_reason
        from com_user
        where openid = #{openid,jdbcType=VARCHAR}
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.ComUser" resultMap="BaseResultMap">
        select
               id,
               create_time,
               openid,
               wx_nk_name,
               wx_id,
               wx_head_img,
               access_token,
               refresh_token,
               atoken_expire,
               rtoken_expire,
               real_name,
               mobile,
               id_card,
               id_card_front_url,
               id_card_back_url,
               province_id,
               province_name,
               city_id,
               city_name,
               region_id,
               region_name,
               address,
               is_agent,
               sex,
               send_type,
               audit_status,
               audit_reason
        from
               com_user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="wxNkName != null">
                AND wx_nk_name = #{wxNkName}
            </if>
            <if test="wxId != null">
                AND wx_id = #{wxId}
            </if>
            <if test="realName != null">
                AND real_name = #{realName}
            </if>
            <if test="mobile != null">
                AND mobile = #{mobile}
            </if>
            <if test="idCard != null">
                AND id_card = #{idCard}
            </if>
        </where>
    </select>

</mapper>