<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.ComUserExtractApplyMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComUserExtractApply" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="com_user_id" property="comUserId" jdbcType="BIGINT" />
        <result column="extract_fee" property="extractFee" jdbcType="DECIMAL" />
        <result column="extractway_info_id" property="extractwayInfoId" jdbcType="BIGINT" />
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
        <result column="extract_way" property="extractWay" jdbcType="BIGINT" />
        <result column="extract_time" property="extractTime" jdbcType="TIMESTAMP" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="audit_type" property="auditType" jdbcType="INTEGER" />
        <result column="audit_cause" property="auditCause" jdbcType="VARCHAR" />
        <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="card_owner_name" property="cardOwnerName" jdbcType="VARCHAR" />
        <result column="deposit_bank_name" property="depositBankName" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="auditTypeView" property="auditTypeView" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="ExtractApplyMap" type="com.masiis.shop.dao.beans.extract.ExtractApply" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="com_user_id" property="comUserId" jdbcType="BIGINT" />
        <result column="extract_fee" property="extractFee" jdbcType="DECIMAL" />
        <result column="extractway_info_id" property="extractwayInfoId" jdbcType="BIGINT" />
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
        <result column="extract_way" property="extractWay" jdbcType="BIGINT" />
        <result column="extract_time" property="extractTime" jdbcType="TIMESTAMP" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="audit_type" property="auditType" jdbcType="INTEGER" />
        <result column="audit_cause" property="auditCause" jdbcType="VARCHAR" />
        <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="card_owner_name" property="cardOwnerName" jdbcType="VARCHAR" />
        <result column="deposit_bank_name" property="depositBankName" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />

        <association column="com_user_id" property="comUser"
                     javaType="com.masiis.shop.dao.po.ComUser">
            <id column="userId" property="id" jdbcType="INTEGER"/>
            <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
            <result column="real_name" property="realName" jdbcType="VARCHAR"/>
            <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
            <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
            <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
            <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
        </association>
    </resultMap>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from com_user_extract_apply
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComUserExtractApply" useGeneratedKeys="true" keyProperty="id">
        insert into com_user_extract_apply (id, com_user_id, extract_fee, 
            extractway_info_id, apply_time, extract_way, 
            extract_time, pay_time, audit_type, audit_cause,
            bank_card, bank_name, card_owner_name, 
            deposit_bank_name, remark)
        values (#{id,jdbcType=BIGINT}, #{comUserId,jdbcType=BIGINT}, #{extractFee,jdbcType=DECIMAL}, 
            #{extractwayInfoId,jdbcType=BIGINT}, #{applyTime,jdbcType=TIMESTAMP}, #{extractWay,jdbcType=BIGINT}, 
            #{extractTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{auditType,jdbcType=INTEGER}, #{auditCause,jdbcType=VARCHAR},
            #{bankCard,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{cardOwnerName,jdbcType=VARCHAR}, 
            #{depositBankName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComUserExtractApply" >
        update com_user_extract_apply
        set com_user_id = #{comUserId,jdbcType=BIGINT},
            extract_fee = #{extractFee,jdbcType=DECIMAL},
            extractway_info_id = #{extractwayInfoId,jdbcType=BIGINT},
            apply_time = #{applyTime,jdbcType=TIMESTAMP},
            extract_way = #{extractWay,jdbcType=BIGINT},
            extract_time = #{extractTime,jdbcType=TIMESTAMP},
            pay_time = #{payTime,jdbcType=TIMESTAMP},
            audit_type = #{auditType,jdbcType=INTEGER},
            audit_cause = #{auditCause,jdbcType=VARCHAR},
            bank_card = #{bankCard,jdbcType=VARCHAR},
            bank_name = #{bankName,jdbcType=VARCHAR},
            card_owner_name = #{cardOwnerName,jdbcType=VARCHAR},
            deposit_bank_name = #{depositBankName,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, com_user_id, extract_fee, extractway_info_id, apply_time, extract_way, 
        extract_time, pay_time, audit_type, audit_cause, bank_card, bank_name, card_owner_name, deposit_bank_name,
        remark
        from com_user_extract_apply
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, com_user_id, extract_fee, extractway_info_id, apply_time, extract_way, 
        extract_time, pay_time, audit_type, audit_cause, bank_card, bank_name, card_owner_name, deposit_bank_name,
        remark
        from com_user_extract_apply
    </select>

    <select id="getExtractApplyList" resultMap="ExtractApplyMap" >
        SELECT
          cuea.id,
          cuea.com_user_id,cu.real_name,
          cuea.extract_fee,
          cuea.apply_time,
          cuea.pay_time,
          cuea.extract_way,
          cuea.audit_type,
          cuea.remark
        FROM com_user_extract_apply cuea
        LEFT JOIN com_user cu ON cuea.com_user_id = cu.id
    </select>

    <select id="findById" resultMap="ExtractApplyMap" >
        SELECT
            cuea.id,
            cuea.com_user_id,cu.real_name,
            cu.openid,
            cuea.extract_fee,
            cuea.apply_time,
            extract_time,
            cuea.bank_card,
            cuea.pay_time,
            cuea.bank_name,
            cuea.deposit_bank_name,
            cuea.card_owner_name,
            cuea.extract_way,
            cuea.audit_type,
            cuea.remark
        FROM com_user_extract_apply cuea
        LEFT JOIN com_user cu ON cuea.com_user_id = cu.id
        WHERE cuea.id = #{id}
    </select>


    <update id="pass">
          update com_user_extract_apply set audit_type = 2 where id = #{id}
    </update>
    <update id="refuse">
          update com_user_extract_apply set audit_type = 1 where id = #{id}
    </update>
    <update id="pay">
          update com_user_extract_apply set audit_type = 3 where id = #{id}
    </update>

    <select id="selectByUserAndDate" resultMap="BaseResultMap" >
        select id, com_user_id, extract_fee, extractway_info_id, apply_time, extract_way,
               extract_time, pay_time, audit_type, audit_cause, bank_card, bank_name, card_owner_name, deposit_bank_name,
               remark, (SELECT `value` from com_dictionary where code = <![CDATA['USER_EXTRACT_AUDIT_TYPE']]> and `key` = ea.audit_type) as auditTypeView
        from com_user_extract_apply ea
        where com_user_id = #{userid,jdbcType=BIGINT}
              and apply_time <![CDATA[<=]]> #{end,jdbcType=TIMESTAMP}
              and apply_time <![CDATA[>=]]> #{start,jdbcType=TIMESTAMP}
    </select>

    <select id="selectNumsByUserAndDate" resultType="java.lang.Integer">
        select count(id)
        from com_user_extract_apply ea
        where com_user_id = #{userid,jdbcType=BIGINT}
              and apply_time <![CDATA[<=]]> #{end,jdbcType=TIMESTAMP}
              and apply_time <![CDATA[>=]]> #{start,jdbcType=TIMESTAMP}
    </select>

    <select id="selectByUserAndDateAndPageNum" resultMap="BaseResultMap" >
        select id, com_user_id, extract_fee, extractway_info_id, apply_time, extract_way,
               extract_time, pay_time, audit_type, audit_cause, bank_card, bank_name, card_owner_name, deposit_bank_name,
               remark, (SELECT `value` from com_dictionary where code = <![CDATA['USER_EXTRACT_AUDIT_TYPE']]> and `key` = ea.audit_type) as auditTypeView
        from com_user_extract_apply ea
        where com_user_id = #{userid,jdbcType=BIGINT}
              and apply_time <![CDATA[<=]]> #{end,jdbcType=TIMESTAMP}
              and apply_time <![CDATA[>=]]> #{start,jdbcType=TIMESTAMP}
              and apply_time <![CDATA[>=]]> (select apply_time from com_user_extract_apply order by apply_time limit #{startNum,jdbcType=INTEGER}, 1)
              order by apply_time limit #{qSize,jdbcType=INTEGER}
    </select>
</mapper>