<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserCertificateMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserCertificate">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pf_user_sku_id" property="pfUserSkuId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pf_user_certificate
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserCertificate">
        insert into pf_user_certificate (id, create_time, code, 
            pf_user_sku_id, user_id, spu_id, 
            sku_id, id_card, mobile, 
            wx_id, begin_time, end_time, 
            agent_level_id, img_url, status, 
            remark)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, 
            #{pfUserSkuId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{spuId,jdbcType=INTEGER}, 
            #{skuId,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
            #{wxId,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
            #{agentLevelId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserCertificate">
        update pf_user_certificate
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            code = #{code,jdbcType=VARCHAR},
            pf_user_sku_id = #{pfUserSkuId,jdbcType=INTEGER},
            user_id = #{userId,jdbcType=BIGINT},
            spu_id = #{spuId,jdbcType=INTEGER},
            sku_id = #{skuId,jdbcType=INTEGER},
            id_card = #{idCard,jdbcType=VARCHAR},
            mobile = #{mobile,jdbcType=VARCHAR},
            wx_id = #{wxId,jdbcType=VARCHAR},
            begin_time = #{beginTime,jdbcType=TIMESTAMP},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            agent_level_id = #{agentLevelId,jdbcType=INTEGER},
            img_url = #{imgUrl,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, code, pf_user_sku_id, user_id, spu_id, sku_id, id_card, mobile, 
        wx_id, begin_time, end_time, agent_level_id, img_url, status, remark
        from pf_user_certificate
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, code, pf_user_sku_id, user_id, spu_id, sku_id, id_card, mobile, 
        wx_id, begin_time, end_time, agent_level_id, img_url, status, remark
        from pf_user_certificate
    </select>

    <select id="selectByCode" parameterType="Long" resultMap="BaseResultMap">
        select
               id,
               create_time,
               code,
               pf_user_sku_id,
               user_id,
               spu_id,
               sku_id,
               id_card,
               mobile,
               wx_id,
               begin_time,
               end_time,
               agent_level_id,
               img_url,
               status,
               remark
        from
               pf_user_certificate
        where
               user_id = #{userId,jdbcType=BIGINT}
    </select>

</mapper>