<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserSkuMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserSku" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER" />
        <result column="is_pay" property="isPay" jdbcType="INTEGER" />
        <result column="is_certificate" property="isCertificate" jdbcType="INTEGER" />
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>


<!-- 合伙人关系映射 -->
    <resultMap id="UserSkuResultMap" type="com.masiis.shop.dao.beans.user.PfUserSkuCertificate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER" />
        <result column="is_pay" property="isPay" jdbcType="INTEGER" />
        <result column="is_certificate" property="isCertificate" jdbcType="INTEGER" />
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="csname" property="skuName" jdbcType="VARCHAR" />

        <association column="user_id" property="comUser"
                     javaType="com.masiis.shop.dao.po.ComUser">
            <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
            <result column="real_name" property="realName" jdbcType="VARCHAR"/>
            <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        </association>
        <association column="agent_level_id" property="comAgentLevel"
                     javaType="com.masiis.shop.dao.po.ComAgentLevel">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="calname" property="name" jdbcType="VARCHAR" />
            <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
            <result column="lower" property="lower" jdbcType="DECIMAL" />
            <result column="discount" property="discount" jdbcType="DECIMAL" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
        </association>


    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from pf_user_sku
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserSku" >
        insert into pf_user_sku (id, create_time, code,
        pid, user_id, sku_id,
        agent_level_id, is_pay, is_certificate,
        pf_border_id, remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR},
        #{pid,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{skuId,jdbcType=INTEGER},
        #{agentLevelId,jdbcType=INTEGER}, #{isPay,jdbcType=INTEGER}, #{isCertificate,jdbcType=INTEGER},
        #{pfBorderId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserSku" >
        update pf_user_sku
        set create_time = #{createTime,jdbcType=TIMESTAMP},
        code = #{code,jdbcType=VARCHAR},
        pid = #{pid,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=BIGINT},
        sku_id = #{skuId,jdbcType=INTEGER},
        agent_level_id = #{agentLevelId,jdbcType=INTEGER},
        is_pay = #{isPay,jdbcType=INTEGER},
        is_certificate = #{isCertificate,jdbcType=INTEGER},
        pf_border_id = #{pfBorderId,jdbcType=BIGINT},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, code, pid, user_id, sku_id, agent_level_id, is_pay, is_certificate,
        pf_border_id, remark
        from pf_user_sku
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, code, pid, user_id, sku_id, agent_level_id, is_pay, is_certificate,
        pf_border_id, remark
        from pf_user_sku
    </select>

    <select id="selectByUserIdAndSkuId" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, sku_id, agent_level_id, is_pay, is_certificate,
        pf_border_id, remark
        from pf_user_sku
        where user_id = #{userId}
        and sku_id = #{skuId}
    </select>

    <select id="getUserSkuList" resultMap="UserSkuResultMap" >
        select pus.code,cu.real_name,cu.mobile,cu.wx_id,cs.name csname,cal.id,cal.name calname,pus.create_time,pus.is_pay,pus.is_certificate
        from pf_user_sku pus
        LEFT JOIN com_user cu on pus.user_id = cu.id
        LEFT JOIN com_sku cs on pus.sku_id = cs.id
        LEFT JOIN com_agent_level cal on pus.agent_level_id = cal.id
    </select>
</mapper>




