<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserCertificateMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserCertificate">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pf_user_sku_id" property="pfUserSkuId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="poster" property="poster" jdbcType="VARCHAR"/>
    </resultMap>

    <!--个人信息-微信号信息查询  start-->
    <resultMap id="skuWeChatInfoMap" type="com.masiis.shop.dao.po.PfUserCertificate">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <association property="comSku" javaType="com.masiis.shop.dao.po.ComSku">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    <select id="selectSkuWeChatInfo" parameterType="java.lang.Long" resultMap="skuWeChatInfoMap">
        SELECT p.id, p.sku_id, p.wx_id,c.name,c.id
         FROM pf_user_certificate p ,com_sku c
         WHERE p.user_id = #{userId,jdbcType=BIGINT}
         AND p.sku_id = c.id
    </select>
    <!--个人信息-微信号信息查询  end-->

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pf_user_certificate
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserCertificate">
        insert into pf_user_certificate (id, create_time, code, 
            pf_user_sku_id, user_id, spu_id, 
            sku_id, id_card, mobile, 
            wx_id, begin_time, end_time, 
            agent_level_id, img_url, status, 
            remark,reason,poster)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, 
            #{pfUserSkuId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{spuId,jdbcType=INTEGER}, 
            #{skuId,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
            #{wxId,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
            #{agentLevelId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{remark,jdbcType=VARCHAR},#{reason,jdbcType=VARCHAR},#{poster,jdbcType=VARCHAR})
    </insert>

    <update id="updateById" parameterType="com.masiis.shop.dao.po.PfUserCertificate">
        update
               pf_user_certificate
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="pfUserSkuId != null">
                pf_user_sku_id = #{pfUserSkuId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="spuId != null">
                spu_id = #{spuId,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="wxId != null">
                wx_id = #{wxId,jdbcType=VARCHAR},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="agentLevelId != null">
                agent_level_id = #{agentLevelId,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="poster != null">
                poster = #{poster,jdbcType=VARCHAR}
            </if>
        </set>
        where
              id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, code, pf_user_sku_id, user_id, spu_id, sku_id, id_card, mobile,
        wx_id, begin_time, end_time, agent_level_id, img_url, status, remark,reason,poster
        from pf_user_certificate
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, code, pf_user_sku_id, user_id, spu_id, sku_id, id_card, mobile,
        wx_id, begin_time, end_time, agent_level_id, img_url, status, remark,reason,poster
        from pf_user_certificate
    </select>

    <select id="selectByCode" parameterType="String" resultMap="BaseResultMap">
        select
                id,
                create_time,
                code,
                pf_user_sku_id,
                user_id,
                spu_id,
                sku_id,
                id_card,
                mobile,
                wx_id,
                begin_time,
                end_time,
                agent_level_id,
                img_url,
                status,
                remark,
                reason,
                poster
        from
                pf_user_certificate
        where
                code = #{code}
    </select>

    <select id="selectByUserSkuId" parameterType="Integer" resultMap="BaseResultMap">
        select
                id,
                create_time,
                code,
                pf_user_sku_id,
                user_id,
                spu_id,
                sku_id,
                id_card,
                mobile,
                wx_id,
                begin_time,
                end_time,
                agent_level_id,
                img_url,
                status,
                remark,
                reason,
                poster
        from
                pf_user_certificate
        where
                pf_user_sku_id = #{userSkuId}
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfUserCertificate" resultMap="BaseResultMap">
        select
        id,
        create_time,
        code,
        pf_user_sku_id,
        user_id,
        spu_id,
        sku_id,
        id_card,
        mobile,
        wx_id,
        begin_time,
        end_time,
        agent_level_id,
        img_url,
        status,
        remark,
        reason,
        poster
        from
        pf_user_certificate
        <where>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="skuId != null">
                AND sku_id = #{skuId}
            </if>
            <if test="spuId != null">
                AND spu_id = #{spuId}
            </if>
        </where>
    </select>
    <select id="selectByUser" parameterType="Long" resultMap="BaseResultMap">
        select
        id,
        create_time,
        code,
        pf_user_sku_id,
        user_id,
        spu_id,
        sku_id,
        id_card,
        mobile,
        wx_id,
        begin_time,
        end_time,
        agent_level_id,
        img_url,
        status,
        remark,
        reason,
        poster
        from
        pf_user_certificate
        where
        user_id = #{userId}
    </select>
</mapper>