<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.SfUserRelationMapper" >
  <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfUserRelation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="parent_user_id" property="parentUserId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
            id,
            create_time,
            user_id,
            parent_user_id,
            remark
    from
            sf_user_relation
    where
            id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="Long">
    select
            id,
            create_time,
            user_id,
            parent_user_id,
            remark
    from
            sf_user_relation
    where
            user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.masiis.shop.dao.po.SfUserRelation" >
    select
           id,
           create_time,
           user_id,
           parent_user_id,
           remark
    from
           sf_user_relation
    <where>
          <if test="id != null">
            id = #{id}
          </if>
    </where>
  </select>

  <insert id="insert" parameterType="com.masiis.shop.dao.po.SfUserRelation" useGeneratedKeys="true" keyProperty="id" >
    insert into sf_user_relation
                (
                id,
                create_time,
                user_id,
                parent_user_id,
                remark
                )
    values
               (
               #{id,jdbcType=BIGINT},
               #{createTime,jdbcType=TIMESTAMP},
               #{userId,jdbcType=BIGINT},
               #{parentUserId,jdbcType=BIGINT},
               #{remark,jdbcType=VARCHAR}
               )
  </insert>

  <update id="updateById" parameterType="com.masiis.shop.dao.po.SfUserRelation" >
    update
           sf_user_relation
    <set>
      <if test=" != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test=" != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test=" != null">
        parent_user_id = #{parentUserId,jdbcType=BIGINT},
      </if>
      <if test=" != null">
        remark = #{remark,jdbcType=VARCHAR}
      </if>
    </set>
    where
           id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from sf_user_relation where id = #{id,jdbcType=BIGINT}
  </delete>


















    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from sf_user_relation
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.SfUserRelation" >
        update sf_user_relation
        set create_time = #{createTime,jdbcType=TIMESTAMP},
        user_id = #{userId,jdbcType=BIGINT},
        parent_user_id = #{parentUserId,jdbcType=BIGINT},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, user_id, parent_user_id, remark
        from sf_user_relation
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select parent_user_id
        from sf_user_relation
        where user_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, user_id, parent_user_id, remark
        from sf_user_relation
    </select>

    <select id="getUpperPartnerById" parameterType="int" resultMap="BaseResultMap">
        SELECT sfu.id,sfu.user_id,sfu.parent_user_id,
        u.real_name
        FROM sf_user_relation sfu
        LEFT JOIN com_user u ON u.id = sfu.parent_user_id
        WHERE sfu.parent_user_id = #{pid}
    </select>

</mapper>