.alert{
    display: block;
    font-size: 12px;
    width:200px;
    left: 50%;
    line-height: 27px;
    margin-left: -100px;
    margin-top: -50px;
    position: fixed;
    top: 50%;
    z-index: 111;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;;
}
.alert h1{
    padding:10px 10px;
    font-size:12px;
    font-weight: normal;
}
.alert img{
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin: 6px 0 0 20px;
}

.alert button{
    display: block;
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    color: #007AFF;
}
.alert h2{
    text-align: center;
    color: #333333;
}
.layer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 11;
}
