body,html{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    background: #EEEEEE;
    header{
        width: 100%;
        background: #fff;
        display: -webkit-box;
        position: relative;
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px #999;
        a:first-child{
            display: block;
            width: 50px;
            height: 100%;
            position: absolute;
            left: 10px;
             top:9px;
            img{
            display: block;
            width: 10px;
            height: 20px;

        }
        }
        a:last-child{
            display: block;
            width: 50px;
            height: 100%;
            position: absolute;
            right: 10px;
            display: -webkit-box;
            -webkit-box-pack:end;
            -webkit-box-align:center;
            h2{
                text-align: right;
                color: red;
                font-size: 14px;
            }
        }
        p{
            -webkit-box-flex:1;
            -moz-box-flex:1;
            text-align: center;
            line-height: 38px;
            font-size: 16px;
        }
}
    .wrap{
        -webkit-box-flex:1;
        overflow-x: hidden;
        overflow-y: auto;
        color: #333;
    }
    footer{
        width: 100%;
        background:white;
        div{
           width: 100%;
            display: -webkit-box;
            a{
                -webkit-box-flex:1;
                display: -webkit-box;
                width: 1px;
                -webkit-box-orient:vertical;
                -webkit-box-align:center;
                -webkit-box-pack:center;
                background: #F74A10;
                span{
                    display: block;
                    color: white;
                    display: -webkit-box;
                    -webkit-box-orient:vertical;
                    -webkit-box-align:center;
                    -webkit-box-pack:center;
                    img{
                        display: block;
                        width:50%;
                        margin-top: 5px;
                    }
                }
                span:nth-child(1){
                    height:30px;
                }
            }
            .active{
                background: #DA3700;
            }
        }
}
}