.wrap{
    nav{
        width: 100%;
        display: -webkit-box;
        color: #333;
        background: #fff;
        padding: 5px;
        border-bottom: 1px solid #eeeeee;
        p{
            width: 1px;
            -webkit-box-flex:1;
            text-align: center;
            label{
                font-size: 16px;
            }
            .active{
                color: #ff5200;
                border-bottom: 2px solid #ff5200;
                padding-bottom: 5px;
            }
        }
    }
    display: -webkit-box;
    -webkit-box-orient:vertical;
    main{
        display: -webkit-box;
        section{
            width:100%;
            display: none;
             .sec1{
        display: -webkit-box;
        padding: 10px;
        background: #fff;
        img{
            display: block;
            width: 70px;
            height: 70px;
        }
        div{
            -webkit-box-flex:1;
            margin-left: 10px;
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-box-pack:center;
        }
    }
        .sec2{
            display: -webkit-box;
            -webkit-box-pack:justify;
            background: #fff;
            padding: 0 10px;
            border-top: 1px solid #eee;
            padding: 5px;
            p{
                width: 60px;
                line-height: 20px;
                border: 1px solid #999999;
                text-align: center;
                color: #666666;
            }
            p:nth-child(1){
                color: #333;
            }
        }
        }
    }
}
  .back_que{
        position: fixed;
        left: 5%;
        top: 30%;
        width: 90%;
        background: white;
        border-radius: 5px;
        z-index: 10;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        p{
            margin: 0 10px;
            color: #F74A11;
            border-bottom: 1px solid #F74A11;
            line-height:50px;
            margin-bottom: 15px;
            text-indent: 10px;
            font-size: 15px;
        }
        h4{
            margin: 0 10px;
            letter-spacing: 1px;
            display: -webkit-box;
            text-align: center;
        }
        h3{
            margin-top: 10px;
            display: -webkit-box;
            -webkit-box-align:center;
            margin: 15px 10px;
            border-top: 1px solid #999;
            span{
                display: block;
                -webkit-box-flex:1;
                text-align: center;
                line-height: 33px;
                background: #d6d6d6;
                margin-left: 10%;
                color: white;
                width: 1px;
                border-radius: 5px;
                color: #333;
                margin-top:15px;

            }
            span:nth-child(2){
                margin-right: 10%;
                background: #0fc420;
                color: white;
            }
        }
        display: none;
    }
    .back{
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.5;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
        }