.wrap{
    nav{
        width: 100%;
        display: -webkit-box;
        color: #333;
        background: #fff;
        padding: 5px;
        border-bottom: 1px solid #eeeeee;
        p{
            width: 1px;
            -webkit-box-flex:1;
            text-align: center;
            label{
                font-size: 16px;
            }
            .active{
                color: #ff5200;
                border-bottom: 2px solid #ff5200;
                padding-bottom: 5px;
            }
        }
    }
    display: -webkit-box;
    -webkit-box-orient:vertical;
    main{
        display: -webkit-box;
        section{
            width:100%;
            display: none;
             .sec1{
        display: -webkit-box;
        padding: 10px;
        background: #fff;
        img{
            display: block;
            width: 70px;
            height: 70px;
        }
        div{
            -webkit-box-flex:1;
            margin-left: 10px;
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-box-pack:center;
        }
    }
        .sec2{
            display: -webkit-box;
            -webkit-box-pack:justify;
            background: #fff;
            padding: 0 10px;
            border-top: 1px solid #eee;
            padding: 5px;
            p{
                width: 60px;
                line-height: 20px;
                border: 1px solid #999999;
                text-align: center;
                color: #666666;
            }
            p:nth-child(1){
                color: #333;
            }
        }
        }
    }
}