.wrap{
    .na{
        width: 100%;
        display: -webkit-box;
        margin-bottom: 5px;
        padding: 5px 10px;
        background: #F3F4F6;
            p{
                width: 20px;
                height: 20px;
                border-radius: 25px;
                background: #ccc;
                overflow: hidden;
                    img{
                width: 100%;
                }
            }
            h1{
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-box-pack:center;
            margin-left: 10px;
            span{
                display: block;
            }
        }
        }
    .header{
        width: 100%;
        position: relative;
        background: #fff;
        &>img{
            position: absolute;
            width: 60px;
            height: 60px;
            left: 10px;
            bottom: 75px;
            box-shadow: 1px 1px 1px #666;
            border-radius: 30px;
            overflow: hidden;
        }
        div:nth-child(1){
            background: url("../images/bdbanner.png") no-repeat;
            background-size: 100% 100%;
            padding-top: 7em;
            color: white;
            padding-left: 5.5em;
            padding-bottom: 0.5em;
            position:relative;
            span{
                 display: block;
                width: 50px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: #EFA109;
                text-align: center;
            }
        }
        div:nth-child(2){
            padding-left: 5.5em;
            background: #fff;
            padding-bottom: 2em;
            p{
            color: #8A8A8A;
                }
        }
        nav{
            display: -webkit-box;
            width: 100%;
            p{
                width: 1px;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                -webkit-box-align:center;
                -webkit-box-pack:center;
                -webkit-box-flex:1;
                margin: 5px 0;
                border-right: 1px solid #eeeeee;
                span{
                    display: block;
                    color: #5A5A5A;
                    margin: 2px 0;
                }
            }
        }
    }
            &>nav{
            display: -webkit-box;
            width: 100%;
            background: #fff;
                margin-top: 10px;
            p{
                width: 1px;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                -webkit-box-align:center;
                -webkit-box-pack:center;
                -webkit-box-flex:1;
                margin: 5px 0;
                span{
                    display: block;
                    color: #5A5A5A;
                    margin: 2px 0;
                    display: -webkit-box;
                -webkit-box-orient:vertical;
                -webkit-box-align:center;
                -webkit-box-pack:center;
                    img{
                        display: block;
                        width: 40%;
                    }
                }
            }
        }
}