.wrap{
    background: #fff;
}
img{
    display: block;
    width: 95%;
    margin:10px auto;
}
button{
    display: block;
    width:80%;
    line-height: 30px;
    background: #C8A66A;
    margin: 0 auto;
    margin-top: 2em;
    color: #fff;
    margin-bottom: 100px;
    padding: 4px 0;
}
body .back_j {
    width: 90%;
    position: fixed;
    top: 30%;
    left: 5%;
    background: #fff;
    z-index: 10;
    border-radius: 5px;
}
body .back_j .biao {
    margin: 0 5px;
    border-bottom: 1px solid #C29C5A;
    text-indent: 10px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #C29C5A;
    letter-spacing: 1px;
}
body .back_j div {
    margin: 0 20px;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
}
body .back_j div p {
    border-radius: 5px;
    line-height: 44px;
    text-indent: 10px;
}
body .back_j div p input {
    border: none;
}
body .back_j div em {
    font-size: 12px;
    position: absolute;
    right: 4px;
    top: 46%;
    display: none;
}
.close{
    width:20px;
    height:20px;
    border-radius: 20px;
    border: 1px solid #666;
    line-height:20px;
    text-align: center;
    position: absolute;
    right: 5px;
    top:5px;
    color: #666;
}
body .back_j .d {
    margin-top: 0;
}
body .back_j .d p input {
    display: inline-block;
    width: 30%;
}
body .back_j .d p button {
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background: #C29C5A;
    color: white;
    float: right;
    margin-top: 8px;
    width: 32%;
    line-height: normal;
}
body .back_j .tishi {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: red;
}
body .back_j .j_qu {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #C29C5A;
    margin: 40px auto 20px auto;
    text-align: center;
    border-radius: 5px;
    color: white;
}
body .back {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    display: none;
}