.wrap{
    display: -webkit-box;
    -webkit-box-orient:vertical;
        .na{
        width: 100%;
        background: #fff;
        display: -webkit-box;
        margin-bottom: 5px;
        padding: 10px;
            p{
                width: 40px;
                height: 40px;
                border-radius: 25px;
                background: #ccc;
                overflow: hidden;
                    img{
                width: 100%;
                }
            }
            h1{
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-box-pack:center;
            margin-left: 10px;
            span{
                display: block;
            }
        }
        }
    main{
        background: #fff;
        -webkit-box-flex:1;
        &>p{
            padding: 5px 10px;
            background: #f6f6f6;
        }
        .sec1{
            font-size: 12px;
            padding: 5px 10px;
            border-bottom: 1px solid #f6f6f6;
        }
        &>h1{
            color: red;
            font-size: 10px;
            padding: 5px 10px;
        }
        &>h2{
            font-size: 12px;
            padding: 5px 10px;
        }
        button{
            display: block;
            width: 65%;
            line-height: 30px;
            background: #ccc;
            margin: 0 auto;
            margin-top: 10rem;
        }
    }
}