<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.product.ComSkuImageMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComSkuImage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_man" property="createMan" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="img_name" property="imgName" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT"/>
        <result column="is_default" property="isDefault" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from com_sku_image
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComSkuImage">
        insert into com_sku_image (id, create_time, create_man, 
            spu_id, sku_id, img_name, 
            img_url, modify_time, modify_man, 
            is_default, sort, remark
            )
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, 
            #{spuId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, 
            #{imgUrl,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyMan,jdbcType=BIGINT}, 
            #{isDefault,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComSkuImage">
        update com_sku_image
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            spu_id = #{spuId,jdbcType=INTEGER},
            sku_id = #{skuId,jdbcType=INTEGER},
            img_name = #{imgName,jdbcType=VARCHAR},
            img_url = #{imgUrl,jdbcType=VARCHAR},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            modify_man = #{modifyMan,jdbcType=BIGINT},
            is_default = #{isDefault,jdbcType=INTEGER},
            sort = #{sort,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, create_time, create_man, spu_id, sku_id, img_name, img_url, modify_time, 
        modify_man, is_default, sort, remark
        from com_sku_image
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, create_man, spu_id, sku_id, img_name, img_url, modify_time, 
        modify_man, is_default, sort, remark
        from com_sku_image
    </select>

    <select id="selectDefaultImgBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, create_time, create_man, spu_id, sku_id, img_name, img_url, modify_time,
        modify_man, is_default, sort, remark
        from com_sku_image
        where sku_id = #{sku_id,jdbcType=INTEGER}
        and is_default=1
    </select>

    <select id="selectBySkuId" parameterType="Integer" resultMap="BaseResultMap">
        select
               id,
               create_time,
               create_man,
               spu_id,
               sku_id,
               img_name,
               img_url,
               modify_time,
               modify_man,
               is_default,
               sort,
               remark
        from
               com_sku_image
        where
               sku_id = #{skuId,jdbcType=INTEGER}
    </select>

</mapper>