<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.masiis.shop.dao.platform.product.PfSkuStockMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfSkuStock">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="frozen_stock" property="frozenStock" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="is_queue" property="isQueue" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, create_time, supplier_id, spu_id, sku_id, stock, frozen_stock, remark,is_queue,version
  </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    id,
    create_time,
    supplier_id,
    spu_id,
    sku_id,
    stock,
    frozen_stock,
    remark,
    is_queue,
    version
    from
    pf_sku_stock
    where
    id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfSkuStock" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pf_sku_stock
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select
    id,
    create_time,
    supplier_id,
    spu_id,
    sku_id,
    stock,
    frozen_stock,
    remark,
    is_queue,
    version
    from
    pf_sku_stock
  </select>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfSkuStock">
      insert into pf_sku_stock
                 (
                 id,
                 create_time,
                 supplier_id,
                 spu_id,
                 sku_id,
                 stock,
                 frozen_stock,
                 remark,
                 version
                 )
      values
                 (
                 #{id,jdbcType=INTEGER},
                 #{createTime,jdbcType=TIMESTAMP},
                 #{supplierId,jdbcType=INTEGER},
                 #{spuId,jdbcType=INTEGER},
                 #{skuId,jdbcType=INTEGER},
                 #{stock,jdbcType=INTEGER},
                 #{frozenStock,jdbcType=INTEGER},
                 #{remark,jdbcType=VARCHAR},
                 #{version,jdbcType=INTEGER}
                 )
  </insert>

    <update id="updateById" parameterType="com.masiis.shop.dao.po.PfSkuStock">
        update
        pf_sku_stock
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="spuId != null">
                spu_id = #{spuId,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="frozenStock != null">
                frozen_stock = #{frozenStock,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="isQueue != null">
                is_queue = #{isQueue},
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from pf_sku_stock where id = #{id,jdbcType=INTEGER}
  </delete>

    <select id="selectBySkuId" parameterType="Integer" resultMap="BaseResultMap">
    select
            id,
            create_time,
            supplier_id,
            spu_id,
            sku_id,
            stock,
            frozen_stock,
            remark,
            is_queue,
            version
    from
            pf_sku_stock
    where
            sku_id = #{skuId,jdbcType=INTEGER}
  </select>

    <update id="updateByIdAndVersion" parameterType="com.masiis.shop.dao.po.PfSkuStock">
        update
        pf_sku_stock
        <set>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="frozenStock != null">
                frozen_stock = #{frozenStock,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isQueue != null">
                is_queue = #{isQueue},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER}+1
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
        and version = #{version,jdbcType=INTEGER}
    </update>
</mapper>