<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.order.PfBorderItemMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfBorderItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="original_price" property="originalPrice" jdbcType="DECIMAL"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="bail_amount" property="bailAmount" jdbcType="DECIMAL"/>
        <result column="is_comment" property="isComment" jdbcType="INTEGER"/>
        <result column="is_return" property="isReturn" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ExtendsResultMap" type="com.masiis.shop.dao.po.PfBorderItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT"/>
        <result column="spu_id" property="spuId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="original_price" property="originalPrice" jdbcType="DECIMAL"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="bail_amount" property="bailAmount" jdbcType="DECIMAL"/>
        <result column="is_comment" property="isComment" jdbcType="INTEGER"/>
        <result column="is_return" property="isReturn" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="spuNmme" property="spuNmme" jdbcType="VARCHAR"/>
        <result column="logoUrl" property="logoUrl" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
       select id, create_time, pf_border_id, spu_id, sku_id, sku_name, quantity, original_price,
        unit_price, total_price, bail_amount, is_comment, is_return, remark
        from
               pf_border_item
        where
               id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfBorderItem" resultMap="BaseResultMap">
        select id, create_time, pf_border_id, spu_id, sku_id, sku_name, quantity, original_price,
        unit_price, total_price, bail_amount, is_comment, is_return, remark
        from
        pf_border_item
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <select id="selectAllByOrderId" resultMap="BaseResultMap">
        select id, create_time, pf_border_id, spu_id, sku_id, sku_name, quantity, original_price,
        unit_price, total_price, bail_amount, is_comment, is_return, remark
        from
               pf_border_item
        where
               pf_border_id = #{pfBorderId,jdbcType=BIGINT}
    </select>

    <select id="getPfBorderItemDetail" resultMap="ExtendsResultMap" parameterType="java.lang.Long">
        select p.*,sku.img_url from pf_border_item p
          LEFT JOIN com_spu spu on p.spu_id = spu.id
          LEFT JOIN com_sku_image sku on p.sku_id=sku.sku_id and sku.is_default=1
        where p.pf_border_id = #{pfBorderId,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfBorderItem" useGeneratedKeys="true" keyProperty="id">
        insert into pf_border_item (id, create_time, pf_border_id,
            spu_id, sku_id, sku_name,
            quantity, original_price, unit_price,
            total_price, bail_amount, is_comment,
            is_return, remark)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{pfBorderId,jdbcType=BIGINT},
            #{spuId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{skuName,jdbcType=VARCHAR},
            #{quantity,jdbcType=INTEGER}, #{originalPrice,jdbcType=DECIMAL}, #{unitPrice,jdbcType=DECIMAL},
            #{totalPrice,jdbcType=DECIMAL}, #{bailAmount,jdbcType=DECIMAL}, #{isComment,jdbcType=INTEGER},
            #{isReturn,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateById" parameterType="com.masiis.shop.dao.po.PfBorderItem">
        update
        pf_border_item
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pfBorderId != null">
                pf_border_id = #{pfBorderId,jdbcType=BIGINT},
            </if>
            <if test="spuId != null">
                spu_id = #{spuId,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="originalPrice != null">
                original_price = #{originalPrice,jdbcType=DECIMAL},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalPrice != null">
                total_price = #{totalPrice,jdbcType=DECIMAL},
            </if>
            <if test="bailAmount!=null">
                bail_amount = #{bailAmount,jdbcType=DECIMAL},
            </if>
            <if test="isComment != null">
                is_comment = #{isComment,jdbcType=INTEGER},
            </if>
            <if test="isReturn != null">
                is_return = #{isReturn,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from pf_border_item where id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>