<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.product.ComSpuMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComSpu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="name" property="name" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <id column="create_man" property="createMan" jdbcType="BIGINT" />
        <id column="category_id" property="categoryId" jdbcType="INTEGER" />
        <id column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <id column="status" property="status" jdbcType="INTEGER" />
        <id column="is_sale" property="isSale" jdbcType="INTEGER" />
        <id column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="brand_id" property="brandId" jdbcType="INTEGER" />
        <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
        <result column="down_time" property="downTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
        <result column="slogan" property="slogan" jdbcType="VARCHAR" />
        <result column="is_trial" property="isTrial" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        <result column="weight" property="weight" jdbcType="DECIMAL" />
        <result column="pack_length" property="packLength" jdbcType="DECIMAL" />
        <result column="pack_width" property="packWidth" jdbcType="DECIMAL" />
        <result column="pack_height" property="packHeight" jdbcType="DECIMAL" />
        <result column="ship_amount" property="shipAmount" jdbcType="DECIMAL" />
        <result column="art_no" property="artNo" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>


    <!-- 根据id查找记录 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        id,
        name,
        create_time,
        create_man,
        category_id,
        category_name,
        status,
        is_sale,
        is_delete,
        brand_id,
        up_time,
        down_time,
        modify_time,
        modify_man,
        slogan,
        is_trial,
        content,
        weight,
        pack_length,
        pack_width,
        pack_height,
        ship_amount, remark
        from
        com_spu
        where
        id = #{id}
    </select>

    <!-- 根据条件查询记录 -->
    <select id="selectByCondition" resultMap="BaseResultMap" >
        SELECT
                id,
                name,
                create_time,
                create_man,
                category_id,
                category_name,
                status, is_sale,
                is_delete,
                brand_id,
                up_time,
                down_time,
                modify_time,
                modify_man,
                slogan,
                is_trial,
                content,
                weight,
                pack_length,
                pack_width,
                pack_height,
                ship_amount,
                remark
        FROM
                com_spu

                <where>
                    <if test="comSpu.id != null">
                        id = #{comSpu.id}
                    </if>
                </where>
    </select>

    <!-- 保存记录 -->
    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComSpu" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO com_spu
                   (
                   name,
                   create_time,
                   create_man,
                   category_id,
                   category_name,
                   status,
                   is_sale,
                   is_delete,
                   brand_id,
                   up_time,
                   down_time,
                   modify_time,
                   modify_man,
                   slogan,
                   is_trial,
                   content,
                   weight,
                   pack_length,
                   pack_width,
                   pack_height,
                   ship_amount,
                   remark
                   )
        values
                   (
                   #{comSpu.name},
                   #{comSpu.createTime},
                   #{comSpu.createMan},
                   #{comSpu.categoryId},
                   #{comSpu.categoryName},
                   #{comSpu.status},
                   #{comSpu.isSale},
                   #{comSpu.isDelete},
                   #{comSpu.brandId},
                   #{comSpu.upTime},
                   #{comSpu.downTime},
                   #{comSpu.modifyTime},
                   #{comSpu.modifyMan},
                   #{comSpu.slogan},
                   #{comSpu.isTrial},
                   #{comSpu.content},
                   #{comSpu.weight},
                   #{comSpu.packLength},
                   #{comSpu.packWidth},
                   #{comSpu.packHeight},
                   #{comSpu.shipAmount},
                   #{comSpu.remark}
                   )
    </insert>

    <!-- 根据id更新记录 -->
    <update id="updateById" parameterType="com.masiis.shop.dao.po.ComSpu" >
        update com_spu
        set
               brand_id = #{comSpu.brandId},
               up_time = #{comSpu.upTime},
               down_time = #{comSpu.downTime},
               modify_time = #{comSpu.modifyTime},
               modify_man = #{comSpu.modifyMan},
               slogan = #{comSpu.slogan},
               is_trial = #{comSpu.isTrial},
               content = #{comSpu.content},
               weight = #{comSpu.weight},
               pack_length = #{comSpu.packLength},
               pack_width = #{comSpu.packWidth},
               pack_height = #{comSpu.packHeight},
               ship_amount = #{comSpu.shipAmount},
               remark = #{comSpu.remark}
        where
               id = #{id}
    </update>

    <!-- 根据id删除记录 -->
    <delete id="deleteById">
        DELETE FROM com_spu WHERE id = #{id}
    </delete>

</mapper>