<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.product.ComSkuMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComSku" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="spu_id" property="spuId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
        <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
        <result column="price_cost" property="priceCost" jdbcType="DECIMAL" />
        <result column="price_market" property="priceMarket" jdbcType="DECIMAL" />
        <result column="price_retail" property="priceRetail" jdbcType="DECIMAL" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from com_sku
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--<insert id="insert" parameterType="com.masiis.shop.dao.po.ComSku" >-->
        <!--insert into com_sku (id, name, spu_id, -->
            <!--create_time, create_man, modify_time, -->
            <!--modify_man, bar_code, price_cost, -->
            <!--price_market, price_retail, remark-->
            <!--)-->
        <!--values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{spuId,jdbcType=INTEGER}, -->
            <!--#{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, -->
            <!--#{modifyMan,jdbcType=BIGINT}, #{barCode,jdbcType=VARCHAR}, #{priceCost,jdbcType=DECIMAL}, -->
            <!--#{priceMarket,jdbcType=DECIMAL}, #{priceRetail,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}-->
            <!--)-->
    <!--</insert>-->

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComSku" >
        update com_sku
        set name = #{name,jdbcType=VARCHAR},
            spu_id = #{spuId,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            modify_man = #{modifyMan,jdbcType=BIGINT},
            bar_code = #{barCode,jdbcType=VARCHAR},
            price_cost = #{priceCost,jdbcType=DECIMAL},
            price_market = #{priceMarket,jdbcType=DECIMAL},
            price_retail = #{priceRetail,jdbcType=DECIMAL},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, name, spu_id, create_time, create_man, modify_time, modify_man, bar_code, 
        price_cost, price_market, price_retail, remark
        from com_sku
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select name
        from com_sku
        where id = #{skuId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, name, spu_id, create_time, create_man, modify_time, modify_man, bar_code, 
        price_cost, price_market, price_retail, remark
        from com_sku
    </select>











    <!-- 根据id查询一条记录 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
               id,
               name,
               spu_id,
               create_time,
               create_man,
               modify_time,
               modify_man,
               bar_code,
               price_cost,
               price_market,
               price_retail,
               remark
        FROM
               com_sku
        WHERE
               id = #{id}
    </select>

    <!-- 根据条件查询记录 -->
    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
               id,
               name,
               spu_id,
               create_time,
               create_man,
               modify_time,
               modify_man,
               bar_code,
               price_cost,
               price_market,
               price_retail,
               remark
        FROM
               com_sku
                <where>
                    <if test="comSku.id != null">
                        id = #{comSku.id}
                    </if>
                    <if test="comSku.spuId != null">
                        AND spu_id = #{comSku.spuId}
                    </if>
                    <if test="comSku.name != null">
                        AND name = #{comSku.name}
                    </if>
                    <if test="comSku.barCode != null">
                        AND bar_code = #{comSku.barCode}
                    </if>
                </where>
    </select>

    <!-- 添加一条记录 -->
    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComSku" useGeneratedKeys="true" keyProperty="id">
    insert into com_sku
                (
                id,
                name,
                spu_id,
                create_time,
                create_man,
                modify_time,
                modify_man,
                bar_code,
                price_cost,
                price_market,
                price_retail, remark
                )
    values
                (
                #{id,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
                #{spuId,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP},
                #{createMan,jdbcType=BIGINT},
                #{modifyTime,jdbcType=TIMESTAMP},
                #{modifyMan,jdbcType=BIGINT},
                #{barCode,jdbcType=VARCHAR},
                #{priceCost,jdbcType=DECIMAL},
                #{priceMarket,jdbcType=DECIMAL},
                #{priceRetail,jdbcType=DECIMAL},
                #{remark,jdbcType=VARCHAR}
                )
    </insert>

    <!-- 根据id更新一条记录 -->
    <update id="updateById">
        UPDATE com_sku
        SET
               name = #{comSku.name},
               spu_id = #{comSku.spuId},
               create_time = #{comSku.createTime},
               create_man = #{comSku.createMan},
               modify_time = #{comSku.modifyTime},
               modify_man = #{comSku.modifyMan},
               bar_code = #{comSku.barCode},
               price_cost = #{comSku.priceCost},
               price_market = #{comSku.priceMarket},
               price_retail = #{comSku.priceRetail},
               remark = #{comSku.remark}
        WHERE
               id = #{com_sku.id}
    </update>

    <!-- 根据id删除一条记录 -->
    <delete id="deleteById">
        DELETE FROM com_sku WHERE id = #{id}
    </delete>

</mapper>