<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.product.PfSkuAgentMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfSkuAgent">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="discount" property="discount" jdbcType="DECIMAL"/>
        <result column="bail" property="bail" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectBySkuId" parameterType="Integer" resultMap="BaseResultMap">
        select id, sku_id, agent_level_id,icon, discount, bail, quantity, remark
        FROM
               pf_sku_agent
        WHERE
               sku_id = #{skuId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pf_sku_agent
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfSkuAgent">
        insert into pf_sku_agent (id, sku_id, agent_level_id, icon,
            discount, bail, quantity,
            remark)
        values (#{id,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{agentLevelId,jdbcType=INTEGER},#{icon,jdbcType=VARCHAR},
            #{discount,jdbcType=DECIMAL}, #{bail,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER},
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfSkuAgent">
        update pf_sku_agent
        set sku_id = #{skuId,jdbcType=INTEGER},
            agent_level_id = #{agentLevelId,jdbcType=INTEGER},
            icon = #{icon,jdbcType=VARCHAR},
            discount = #{discount,jdbcType=DECIMAL},
            bail = #{bail,jdbcType=DECIMAL},
            quantity = #{quantity,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, sku_id, agent_level_id,icon, discount, bail, quantity, remark
        from pf_sku_agent
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, sku_id, agent_level_id,icon, discount, bail, quantity, remark
        from pf_sku_agent
    </select>

    <select id="selectAllBySkuId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, sku_id, agent_level_id,icon discount, bail, quantity, remark
        from pf_sku_agent
        where sku_id = #{sku_id,jdbcType=INTEGER}
    </select>

    <select id="selectBySkuIdAndLevelId" resultMap="BaseResultMap">
        select id, sku_id, agent_level_id,icon, discount, bail, quantity, remark
        from pf_sku_agent
        where sku_id = #{skuId}
        and agent_level_id =#{levelId}
    </select>

    <update id="updateById" parameterType="com.masiis.shop.dao.po.PfSkuAgent">
        update
        pf_sku_agent
        <set>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="agentLevelId != null">
                agent_level_id = #{agentLevelId,jdbcType=INTEGER},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=DECIMAL},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                remark = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="bail != null">
                bail = #{bail,jdbcType=DECIMAL},
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>
</mapper>