<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.ComBrandMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComBrand" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="cname" property="cname" jdbcType="VARCHAR" />
        <result column="ename" property="ename" jdbcType="VARCHAR" />
        <result column="logo_url" property="logoUrl" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from com_brand
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComBrand" >
        insert into com_brand (id, create_time, cname, 
            ename, logo_url, remark
            )
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{cname,jdbcType=VARCHAR}, 
            #{ename,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComBrand" >
        update com_brand
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            cname = #{cname,jdbcType=VARCHAR},
            ename = #{ename,jdbcType=VARCHAR},
            logo_url = #{logoUrl,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, cname, ename, logo_url, remark
        from com_brand
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, cname, ename, logo_url, remark
        from com_brand
    </select>

</mapper>