<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.ComCategoryMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComCategory" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="TINYINT" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="is_validate" property="isValidate" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from com_category
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComCategory" >
        insert into com_category (id, create_time, create_man, 
            modify_time, modify_man, name, 
            level, pid, sort, 
            is_validate, remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, 
            #{modifyTime,jdbcType=TIMESTAMP}, #{modifyMan,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
            #{level,jdbcType=TINYINT}, #{pid,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
            #{isValidate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComCategory" >
        update com_category
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            modify_man = #{modifyMan,jdbcType=BIGINT},
            name = #{name,jdbcType=VARCHAR},
            level = #{level,jdbcType=TINYINT},
            pid = #{pid,jdbcType=INTEGER},
            sort = #{sort,jdbcType=INTEGER},
            is_validate = #{isValidate,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, create_man, modify_time, modify_man, name, level, pid, sort, 
        is_validate, remark
        from com_category
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, modify_time, modify_man, name, level, pid, sort, 
        is_validate, remark
        from com_category
    </select>

</mapper>