<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.PbBannerMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbBanner" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="hyperlink_url" property="hyperlinkUrl" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from pb_banner
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PbBanner" >
        insert into pb_banner (id, create_time, name, 
            img_url, hyperlink_url, remark
            )
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
            #{imgUrl,jdbcType=VARCHAR}, #{hyperlinkUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PbBanner" >
        update pb_banner
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            name = #{name,jdbcType=VARCHAR},
            img_url = #{imgUrl,jdbcType=VARCHAR},
            hyperlink_url = #{hyperlinkUrl,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, name, img_url, hyperlink_url, remark
        from pb_banner
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, name, img_url, hyperlink_url, remark
        from pb_banner
    </select>

</mapper>