<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.PbMenuMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbMenu" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="rank" property="rank" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pb_menu
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PbMenu" >
        insert into pb_menu (id, name, icon, 
            url, parent_id, is_deleted, 
            create_time, update_time, rank, 
            remark)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
            #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{isDeleted,jdbcType=INTEGER}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{rank,jdbcType=INTEGER}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PbMenu" >
        update pb_menu
        set name = #{name,jdbcType=VARCHAR},
            icon = #{icon,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            parent_id = #{parentId,jdbcType=BIGINT},
            is_deleted = #{isDeleted,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            rank = #{rank,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, name, icon, url, parent_id, is_deleted, create_time, update_time, rank, 
        remark
        from pb_menu
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, name, icon, url, parent_id, is_deleted, create_time, update_time, rank, 
        remark
        from pb_menu
    </select>

</mapper>