<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.PbUserMenuMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbUserMenu" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="pb_user_id" property="pbUserId" jdbcType="BIGINT" />
        <result column="pb_menu_id" property="pbMenuId" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pb_user_menu
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PbUserMenu" >
        insert into pb_user_menu (id, pb_user_id, pb_menu_id, 
            create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{pbUserId,jdbcType=BIGINT}, #{pbMenuId,jdbcType=BIGINT}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PbUserMenu" >
        update pb_user_menu
        set pb_user_id = #{pbUserId,jdbcType=BIGINT},
            pb_menu_id = #{pbMenuId,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, pb_user_id, pb_menu_id, create_time, update_time
        from pb_user_menu
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, pb_user_id, pb_menu_id, create_time, update_time
        from pb_user_menu
    </select>

</mapper>