<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.PbUserMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pb_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PbUser" >
        insert into pb_user (id, user_name, true_name, 
            password, email, sex, 
            age, phone)
        values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, 
            #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
            #{age,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PbUser" >
        update pb_user
        set user_name = #{userName,jdbcType=VARCHAR},
            true_name = #{trueName,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=CHAR},
            age = #{age,jdbcType=INTEGER},
            phone = #{phone,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, user_name, true_name, password, email, sex, age, phone
        from pb_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, user_name, true_name, password, email, sex, age, phone
        from pb_user
    </select>

</mapper>