<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.PfBorderOperationLogMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfBorderOperationLog" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT" />
        <result column="pf_border_status" property="pfBorderStatus" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pf_border_operation_log
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfBorderOperationLog" >
        insert into pf_border_operation_log (id, create_time, create_man, 
            pf_border_id, pf_border_status, remark
            )
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, 
            #{pfBorderId,jdbcType=BIGINT}, #{pfBorderStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfBorderOperationLog" >
        update pf_border_operation_log
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            pf_border_id = #{pfBorderId,jdbcType=BIGINT},
            pf_border_status = #{pfBorderStatus,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, create_man, pf_border_id, pf_border_status, remark
        from pf_border_operation_log
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, pf_border_id, pf_border_status, remark
        from pf_border_operation_log
    </select>

</mapper>