<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.SfOrderMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfOrder" >
        <result column="id" property="id" jdbcType="BIGINT" />
    </resultMap>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.SfOrder" >
        insert into sf_order (id)
        values (#{id,jdbcType=BIGINT})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id
        from sf_order
    </select>

</mapper>