<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.SfOrderFreightMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfOrderFreight" >
        <id column="id" property="id" jdbcType="BIGINT" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from sf_order_freight
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.SfOrderFreight" >
        insert into sf_order_freight (id)
        values (#{id,jdbcType=BIGINT})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id
        from sf_order_freight
    </select>

</mapper>