<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.po.PfBorderMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfBorder" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="user_pid" property="userPid" jdbcType="BIGINT" />
        <result column="user_massage" property="userMassage" jdbcType="VARCHAR" />
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL" />
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
        <result column="product_amount" property="productAmount" jdbcType="DECIMAL" />
        <result column="ship_amount" property="shipAmount" jdbcType="DECIMAL" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="ship_man_id" property="shipManId" jdbcType="INTEGER" />
        <result column="ship_man_name" property="shipManName" jdbcType="VARCHAR" />
        <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
        <result column="ship_remark" property="shipRemark" jdbcType="VARCHAR" />
        <result column="replace_order_id" property="replaceOrderId" jdbcType="BIGINT" />
        <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
        <result column="ship_status" property="shipStatus" jdbcType="INTEGER" />
        <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
        <result column="is_ship" property="isShip" jdbcType="INTEGER" />
        <result column="is_replace" property="isReplace" jdbcType="INTEGER" />
        <result column="is_receipt" property="isReceipt" jdbcType="INTEGER" />
        <result column="receipt_time" property="receiptTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, create_time, create_man, order_code, user_id, user_pid, user_massage, supplier_id, 
        modify_time, modify_man, receivable_amount, order_amount, product_amount, ship_amount, 
        pay_amount, pay_time, ship_man_id, ship_man_name, delivery_time, ship_remark, replace_order_id, 
        order_status, ship_status, pay_status, is_ship, is_replace, is_receipt, receipt_time, 
        remark
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.masiis.shop.dao.po.PfBorderExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from pf_border
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="countByExample" parameterType="com.masiis.shop.dao.po.PfBorderExample" resultType="java.lang.Integer" >
        select count(*) from pf_border
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update pf_border
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createMan != null" >
                create_man = #{record.createMan,jdbcType=BIGINT},
            </if>
            <if test="record.orderCode != null" >
                order_code = #{record.orderCode,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.userPid != null" >
                user_pid = #{record.userPid,jdbcType=BIGINT},
            </if>
            <if test="record.userMassage != null" >
                user_massage = #{record.userMassage,jdbcType=VARCHAR},
            </if>
            <if test="record.supplierId != null" >
                supplier_id = #{record.supplierId,jdbcType=INTEGER},
            </if>
            <if test="record.modifyTime != null" >
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyMan != null" >
                modify_man = #{record.modifyMan,jdbcType=BIGINT},
            </if>
            <if test="record.receivableAmount != null" >
                receivable_amount = #{record.receivableAmount,jdbcType=DECIMAL},
            </if>
            <if test="record.orderAmount != null" >
                order_amount = #{record.orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="record.productAmount != null" >
                product_amount = #{record.productAmount,jdbcType=DECIMAL},
            </if>
            <if test="record.shipAmount != null" >
                ship_amount = #{record.shipAmount,jdbcType=DECIMAL},
            </if>
            <if test="record.payAmount != null" >
                pay_amount = #{record.payAmount,jdbcType=DECIMAL},
            </if>
            <if test="record.payTime != null" >
                pay_time = #{record.payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.shipManId != null" >
                ship_man_id = #{record.shipManId,jdbcType=INTEGER},
            </if>
            <if test="record.shipManName != null" >
                ship_man_name = #{record.shipManName,jdbcType=VARCHAR},
            </if>
            <if test="record.deliveryTime != null" >
                delivery_time = #{record.deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.shipRemark != null" >
                ship_remark = #{record.shipRemark,jdbcType=VARCHAR},
            </if>
            <if test="record.replaceOrderId != null" >
                replace_order_id = #{record.replaceOrderId,jdbcType=BIGINT},
            </if>
            <if test="record.orderStatus != null" >
                order_status = #{record.orderStatus,jdbcType=INTEGER},
            </if>
            <if test="record.shipStatus != null" >
                ship_status = #{record.shipStatus,jdbcType=INTEGER},
            </if>
            <if test="record.payStatus != null" >
                pay_status = #{record.payStatus,jdbcType=INTEGER},
            </if>
            <if test="record.isShip != null" >
                is_ship = #{record.isShip,jdbcType=INTEGER},
            </if>
            <if test="record.isReplace != null" >
                is_replace = #{record.isReplace,jdbcType=INTEGER},
            </if>
            <if test="record.isReceipt != null" >
                is_receipt = #{record.isReceipt,jdbcType=INTEGER},
            </if>
            <if test="record.receiptTime != null" >
                receipt_time = #{record.receiptTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.remark != null" >
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update pf_border
        set id = #{record.id,jdbcType=BIGINT},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            create_man = #{record.createMan,jdbcType=BIGINT},
            order_code = #{record.orderCode,jdbcType=VARCHAR},
            user_id = #{record.userId,jdbcType=BIGINT},
            user_pid = #{record.userPid,jdbcType=BIGINT},
            user_massage = #{record.userMassage,jdbcType=VARCHAR},
            supplier_id = #{record.supplierId,jdbcType=INTEGER},
            modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            modify_man = #{record.modifyMan,jdbcType=BIGINT},
            receivable_amount = #{record.receivableAmount,jdbcType=DECIMAL},
            order_amount = #{record.orderAmount,jdbcType=DECIMAL},
            product_amount = #{record.productAmount,jdbcType=DECIMAL},
            ship_amount = #{record.shipAmount,jdbcType=DECIMAL},
            pay_amount = #{record.payAmount,jdbcType=DECIMAL},
            pay_time = #{record.payTime,jdbcType=TIMESTAMP},
            ship_man_id = #{record.shipManId,jdbcType=INTEGER},
            ship_man_name = #{record.shipManName,jdbcType=VARCHAR},
            delivery_time = #{record.deliveryTime,jdbcType=TIMESTAMP},
            ship_remark = #{record.shipRemark,jdbcType=VARCHAR},
            replace_order_id = #{record.replaceOrderId,jdbcType=BIGINT},
            order_status = #{record.orderStatus,jdbcType=INTEGER},
            ship_status = #{record.shipStatus,jdbcType=INTEGER},
            pay_status = #{record.payStatus,jdbcType=INTEGER},
            is_ship = #{record.isShip,jdbcType=INTEGER},
            is_replace = #{record.isReplace,jdbcType=INTEGER},
            is_receipt = #{record.isReceipt,jdbcType=INTEGER},
            receipt_time = #{record.receiptTime,jdbcType=TIMESTAMP},
            remark = #{record.remark,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.masiis.shop.dao.po.PfBorder" >
        update pf_border
        <set >
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createMan != null" >
                create_man = #{createMan,jdbcType=BIGINT},
            </if>
            <if test="orderCode != null" >
                order_code = #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userPid != null" >
                user_pid = #{userPid,jdbcType=BIGINT},
            </if>
            <if test="userMassage != null" >
                user_massage = #{userMassage,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null" >
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null" >
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyMan != null" >
                modify_man = #{modifyMan,jdbcType=BIGINT},
            </if>
            <if test="receivableAmount != null" >
                receivable_amount = #{receivableAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderAmount != null" >
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="productAmount != null" >
                product_amount = #{productAmount,jdbcType=DECIMAL},
            </if>
            <if test="shipAmount != null" >
                ship_amount = #{shipAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null" >
                pay_amount = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="payTime != null" >
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shipManId != null" >
                ship_man_id = #{shipManId,jdbcType=INTEGER},
            </if>
            <if test="shipManName != null" >
                ship_man_name = #{shipManName,jdbcType=VARCHAR},
            </if>
            <if test="deliveryTime != null" >
                delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shipRemark != null" >
                ship_remark = #{shipRemark,jdbcType=VARCHAR},
            </if>
            <if test="replaceOrderId != null" >
                replace_order_id = #{replaceOrderId,jdbcType=BIGINT},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="shipStatus != null" >
                ship_status = #{shipStatus,jdbcType=INTEGER},
            </if>
            <if test="payStatus != null" >
                pay_status = #{payStatus,jdbcType=INTEGER},
            </if>
            <if test="isShip != null" >
                is_ship = #{isShip,jdbcType=INTEGER},
            </if>
            <if test="isReplace != null" >
                is_replace = #{isReplace,jdbcType=INTEGER},
            </if>
            <if test="isReceipt != null" >
                is_receipt = #{isReceipt,jdbcType=INTEGER},
            </if>
            <if test="receiptTime != null" >
                receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByExample" parameterType="com.masiis.shop.dao.po.PfBorderExample" >
        delete from pf_border
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

</mapper>