<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.generate.PfBorderFreightMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.generate.PfBorderFreight" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="pf_corder_id" property="pfCorderId" jdbcType="BIGINT" />
        <result column="ship_man_id" property="shipManId" jdbcType="INTEGER" />
        <result column="ship_man_name" property="shipManName" jdbcType="VARCHAR" />
        <result column="freight" property="freight" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, create_time, pf_corder_id, ship_man_id, ship_man_name, freight
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.masiis.shop.dao.generate.PfBorderFreightExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from pf_border_freight
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="countByExample" parameterType="com.masiis.shop.dao.generate.PfBorderFreightExample" resultType="java.lang.Integer" >
        select count(*) from pf_border_freight
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update pf_border_freight
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.pfCorderId != null" >
                pf_corder_id = #{record.pfCorderId,jdbcType=BIGINT},
            </if>
            <if test="record.shipManId != null" >
                ship_man_id = #{record.shipManId,jdbcType=INTEGER},
            </if>
            <if test="record.shipManName != null" >
                ship_man_name = #{record.shipManName,jdbcType=VARCHAR},
            </if>
            <if test="record.freight != null" >
                freight = #{record.freight,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update pf_border_freight
        set id = #{record.id,jdbcType=BIGINT},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            pf_corder_id = #{record.pfCorderId,jdbcType=BIGINT},
            ship_man_id = #{record.shipManId,jdbcType=INTEGER},
            ship_man_name = #{record.shipManName,jdbcType=VARCHAR},
            freight = #{record.freight,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <delete id="deleteByExample" parameterType="com.masiis.shop.dao.generate.PfBorderFreightExample" >
        delete from pf_border_freight
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

</mapper>