<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.masiis.shop.dao.user.UserMapper">

    <resultMap id="userMap" type="com.masiis.shop.dao.user.User">
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="true_name" property="trueName" />
        <result column="password"  property="password" />
        <result column="email"     property="email" />
        <result column="phone"     property="phone" />
    </resultMap>


    <!-- 根据id查询记录 -->
    <select id="findById" resultMap="userMap">
        SELECT * FROM b_user WHERE id = #{id}
    </select>

    <!-- 根据条件查询数据 -->
    <select id="findByUserNameAndPwd" resultMap="userMap">
        SELECT * FROM b_user
        <where>
            <if test="userName != null">
                user_name = #{userName}
            </if>
            <if test="password != null">
                AND password  = #{password}
            </if>
        </where>
    </select>

    <!-- 条件分页查询 -->
    <select id="listByCondition" resultMap="userMap">
        SELECT * FROM b_user
        <where>
            <if test="userName != null">
                user_name = #{userName}
            </if>
            <if test="phone != null">
                AND phone = #{phone}
            </if>
        </where>
    </select>

    <!-- 插入一条新数据 -->
    <insert id="add">
        INSERT INTO b_user
        (user_name, true_name, password, email, sex, age, phone)
        VALUES
        (#{user.userName}, #{user.trueName}, #{user.password}, #{user.email}, #{user.sex}, #{user.age}, #{user.phone})
    </insert>
    
</mapper>