<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.material.ComSkuMaterialItemMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComSkuMaterialItem" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="VARCHAR" />
        <result column="material_library_id" property="materialLibraryId" jdbcType="INTEGER" />
        <result column="material_group_id" property="materialGroupId" jdbcType="INTEGER" />
        <result column="material_id" property="materialId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="file_name" property="fileName" jdbcType="VARCHAR" />
        <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
        <result column="file_suffix" property="fileSuffix" jdbcType="VARCHAR" />
        <result column="file_size" property="fileSize" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from com_sku_material_item
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComSkuMaterialItem" >
        insert into com_sku_material_item (id, create_time, create_man, 
            material_library_id, material_group_id, material_id, 
            type, file_name, file_url, 
            file_suffix, file_size, remark
            )
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=VARCHAR}, 
            #{materialLibraryId,jdbcType=INTEGER}, #{materialGroupId,jdbcType=INTEGER}, #{materialId,jdbcType=BIGINT}, 
            #{type,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, 
            #{fileSuffix,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComSkuMaterialItem" >
        update com_sku_material_item
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=VARCHAR},
            material_library_id = #{materialLibraryId,jdbcType=INTEGER},
            material_group_id = #{materialGroupId,jdbcType=INTEGER},
            material_id = #{materialId,jdbcType=BIGINT},
            type = #{type,jdbcType=INTEGER},
            file_name = #{fileName,jdbcType=VARCHAR},
            file_url = #{fileUrl,jdbcType=VARCHAR},
            file_suffix = #{fileSuffix,jdbcType=VARCHAR},
            file_size = #{fileSize,jdbcType=BIGINT},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, create_man, material_library_id, material_group_id, material_id, 
        type, file_name, file_url, file_suffix, file_size, remark
        from com_sku_material_item
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, material_library_id, material_group_id, material_id, 
        type, file_name, file_url, file_suffix, file_size, remark
        from com_sku_material_item
    </select>

</mapper>