<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.material.ComUserSubscriptionMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComUserSubscription" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="com_sku_material_library" property="comSkuMaterialLibrary" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from com_user_subscription
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComUserSubscription" >
        insert into com_user_subscription (id, create_time, modify_time, 
            user_id, com_sku_material_library, status, 
            remark)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
            #{userId,jdbcType=BIGINT}, #{comSkuMaterialLibrary,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComUserSubscription" >
        update com_user_subscription
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            user_id = #{userId,jdbcType=BIGINT},
            com_sku_material_library = #{comSkuMaterialLibrary,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, modify_time, user_id, com_sku_material_library, status, remark
        from com_user_subscription
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, modify_time, user_id, com_sku_material_library, status, remark
        from com_user_subscription
    </select>

</mapper>