<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.statistic.BrandStatisticMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.beans.statistic.BrandStatistic">
        <result column="userNum" property="userNum" jdbcType="INTEGER"/>
        <result column="orderNum" property="orderNum" jdbcType="INTEGER"/>
        <result column="sellAmount" property="sellAmount" jdbcType="BIGINT"/>
    </resultMap>

    <!--<select id="selectBrandStatisticByUserId" resultMap="BaseResultMap">-->
        <!--SELECT-->
        <!--COUNT(DISTINCT e.user_id) AS userNum,-->
        <!--IFNULL(SUM(f.up_order_count), 0) AS orderNum,-->
        <!--IFNULL(SUM(f.cost_fee), 0) AS sellAmount-->
        <!--FROM com_user a-->
        <!--INNER JOIN pf_user_sku d ON a.id = d.user_id-->
        <!--INNER JOIN pf_user_sku e ON e.tree_code LIKE CONCAT(d.tree_code, '%')-->
        <!--INNER JOIN pf_user_statistics f ON e.user_id = f.user_id AND e.sku_id = f.sku_id-->
        <!--WHERE a.user_id = #{userId}-->
    <!--</select>-->

    <select id="selectBrandStatisticByUserIdAndBrandId" resultMap="BaseResultMap">
        SELECT
        COUNT(DISTINCT e.user_id) AS userNum,
        IFNULL(SUM(f.up_order_count), 0) AS orderNum,
        IFNULL(SUM(f.cost_fee), 0) AS sellAmount
        FROM pf_user_brand a
        INNER JOIN com_spu b ON a.brand_id = b.brand_id
        INNER JOIN com_sku c ON b.id = c.spu_id
        INNER JOIN pf_user_sku d ON a.user_id = d.user_id AND c.id = d.sku_id
        INNER JOIN pf_user_sku e ON e.tree_code LIKE CONCAT(d.tree_code, '%')
        INNER JOIN pf_user_statistics f ON e.user_id = f.user_id AND e.sku_id = f.sku_id
        WHERE a.user_id = #{userId}
        AND a.brand_id = #{brandId}
    </select>

    <select id="selectDownUserNumByUserIdAndBrandId" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT e.user_id) AS userNum
        FROM
        pf_user_brand a
        INNER JOIN com_spu b ON a.brand_id = b.brand_id
        INNER JOIN com_sku c ON b.id = c.spu_id
        INNER JOIN pf_user_sku d ON a.user_id = d.user_id AND c.id = d.sku_id
        INNER JOIN pf_user_sku e ON d.id=e.pid
        WHERE
        a.user_id = #{userId}
        AND a.brand_id = #{brandId}
    </select>
</mapper>