<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.ComUserMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.ComUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="user_mail" property="userMail" jdbcType="VARCHAR"/>
        <result column="wx_head_img" property="wxHeadImg" jdbcType="VARCHAR"/>
        <result column="wx_nk_name" property="wxNkName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
        <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <result column="is_binding" property="isBinding" jdbcType="INTEGER"/>
        <result column="is_agent" property="isAgent" jdbcType="INTEGER"/>
        <result column="send_type" property="sendType" jdbcType="INTEGER"/>
        <result column="audit_status" property="auditStatus" jdbcType="INTEGER"/>
        <result column="audit_reason" property="auditReason" jdbcType="VARCHAR"/>
        <result column="wx_unionid" property="wxUnionid" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="pwd_salt" property="pwdSalt" jdbcType="VARCHAR"/>
        <result column="register_source" property="registerSource" jdbcType="INTEGER"/>
        <result column="app_token" property="appToken" jdbcType="VARCHAR"/>
        <result column="app_token_expire" property="appTokenExpire" jdbcType="TIMESTAMP"/>
        <result column="is_buy" property="isBuy" jdbcType="INTEGER"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from com_user
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.ComUser" useGeneratedKeys="true" keyProperty="id">
        insert into com_user (id, create_time, mobile,
            user_mail, wx_head_img, wx_nk_name, sex,
            real_name, id_card, id_card_front_url,
            id_card_back_url, wx_id, is_binding, is_agent,
            send_type, audit_status, audit_reason,
            wx_unionid, password, pwd_salt,
            register_source, app_token, app_token_expire, is_buy)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{mobile,jdbcType=VARCHAR},
            #{userMail,jdbcType=VARCHAR}, #{wxHeadImg,jdbcType=VARCHAR}, #{wxNkName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
            #{realName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{idCardFrontUrl,jdbcType=VARCHAR},
            #{idCardBackUrl,jdbcType=VARCHAR}, #{wxId,jdbcType=VARCHAR}, #{isBinding,jdbcType=INTEGER}, #{isAgent,jdbcType=INTEGER},
            #{sendType,jdbcType=INTEGER}, #{auditStatus,jdbcType=INTEGER}, #{auditReason,jdbcType=VARCHAR},
            #{wxUnionid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{pwdSalt,jdbcType=VARCHAR},
            #{registerSource,jdbcType=INTEGER}, #{appToken, jdbcType=VARCHAR}, #{appTokenExpire, jdbcType=TIMESTAMP}, #{isBuy,jdbcType=INTEGER})
    </insert>

    <update id="updatePhone" parameterType="com.masiis.shop.dao.po.ComUser">
        update com_user
        set mobile = #{mobile,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.ComUser">
        update
        com_user
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="userMail != null">
                user_mail = #{userMail,jdbcType=VARCHAR},
            </if>
            <if test="wxHeadImg != null">
                wx_head_img = #{wxHeadImg,jdbcType=VARCHAR},
            </if>
            <if test="wxNkName != null">
                wx_nk_name = #{wxNkName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="idCardFrontUrl != null">
                id_card_front_url = #{idCardFrontUrl,jdbcType=VARCHAR},
            </if>
            <if test="idCardBackUrl != null">
                id_card_back_url = #{idCardBackUrl,jdbcType=VARCHAR},
            </if>
            <if test="wxId != null">
                wx_id = #{wxId,jdbcType=VARCHAR},
            </if>
            <if test="isBinding != null">
                is_binding = #{isBinding,jdbcType=INTEGER},
            </if>
            <if test="isAgent != null">
                is_agent = #{isAgent,jdbcType=INTEGER},
            </if>
            <if test="sendType != null">
                send_type = #{sendType,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="auditReason != null">
                audit_reason = #{auditReason,jdbcType=VARCHAR},
            </if>
            <if test="wxUnionid != null">
                wx_unionid = #{wxUnionid,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="pwdSalt != null">
                pwd_salt = #{pwdSalt,jdbcType=VARCHAR},
            </if>
            <if test="registerSource != null">
                register_source = #{registerSource,jdbcType=INTEGER},
            </if>
            <if test="appToken != null">
                app_token = #{appToken, jdbcType=VARCHAR},
            </if>
            <if test="appTokenExpire != null">
                app_token_expire = #{appTokenExpire, jdbcType=TIMESTAMP},
            </if>
            <if test="isBuy != null">
                is_buy = #{isBuy,jdbcType=INTEGER},
            </if>
        </set>
        where
        id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
        id_card_back_url, wx_id, is_binding, is_agent, send_type, audit_status, audit_reason, wx_unionid,
        password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from com_user
        where id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
        id_card_back_url, wx_id, is_binding, is_agent, send_type, audit_status, audit_reason, wx_unionid,
        password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from com_user
    </select>
    <select id="findByPid" resultType="string">
        select real_name
        from com_user
        where id = #{pid}
    </select>

    <select id="selectByMobile" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
        id_card_back_url, wx_id, is_binding, is_agent, send_type, audit_status, audit_reason, wx_unionid,
        password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from com_user
        where mobile = #{mobile,jdbcType=VARCHAR}
    </select>

    <!--<select id="selectByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, create_time, openid, wx_nk_name, wx_id, wx_head_img, access_token, refresh_token,
        atoken_expire, rtoken_expire, real_name, mobile, id_card, id_card_front_url, id_card_back_url,
        province_id, province_name, city_id, city_name, region_id, region_name, address,
        is_agent, sex, send_type, audit_status,audit_reason
        from com_user
        where openid = #{openid,jdbcType=VARCHAR}
    </select>-->

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.ComUser" resultMap="BaseResultMap">
        select
        id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
        id_card_back_url, wx_id, is_binding, is_agent, send_type, audit_status, audit_reason, wx_unionid,
        password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from
        com_user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="wxNkName != null">
                AND wx_nk_name = #{wxNkName}
            </if>
            <if test="wxId != null">
                AND wx_id = #{wxId}
            </if>
            <if test="realName != null">
                AND real_name = #{realName}
            </if>
            <if test="mobile != null">
                AND mobile = #{mobile}
            </if>
            <if test="idCard != null">
                AND id_card = #{idCard}
            </if>
            <if test="auditStatus != null">
                AND audit_status = #{auditStatus}
            </if>
        </where>
    </select>

    <select id="auditList" parameterType="com.masiis.shop.dao.po.ComUser" resultMap="BaseResultMap">
        select
        id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
        id_card_back_url, wx_id, is_binding,is_agent, send_type, audit_status, audit_reason, wx_unionid,
        password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from
        com_user
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="wxNkName != null">
                AND wx_nk_name = #{wxNkName}
            </if>
            <if test="wxId != null">
                AND wx_id = #{wxId}
            </if>
            <if test="realName != null">
                AND real_name = #{realName}
            </if>
            <if test="mobile != null">
                AND mobile = #{mobile}
            </if>
            <if test="idCard != null">
                AND id_card = #{idCard}
            </if>
            AND audit_status IN (1,3)
        </where>
    </select>

    <select id="selectByIds" parameterType="List" resultMap="BaseResultMap">
        select
        id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
        id_card_back_url, wx_id, is_binding, is_agent, send_type, audit_status, audit_reason, wx_unionid,
        password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from
        com_user
        WHERE
        id IN
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectByUnionid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            id, create_time, mobile, user_mail, wx_head_img, wx_nk_name, sex, real_name, id_card, id_card_front_url,
            id_card_back_url, wx_id, is_binding, is_agent, send_type, audit_status, audit_reason, wx_unionid,
            password, pwd_salt, register_source, app_token, app_token_expire, is_buy
        from
            com_user
        WHERE
            wx_unionid = #{unionid,jdbcType=VARCHAR}
    </select>
</mapper>