<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.CountGroupMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.beans.user.CountGroup">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="num" property="count" jdbcType="INTEGER"/>
        <result column="sam" property="groupMoney" jdbcType="BIGINT"/>
        <result column="orders" property="orderNum" jdbcType="INTEGER"/>
    </resultMap>

    <select id="countGroup" resultMap="BaseResultMap">
        SELECT COUNT(a.id) as num,IFNULL(SUM(b.income_fee),0) as sam  FROM pf_user_sku a
        LEFT JOIN pf_user_statistics b ON a.user_id=b.user_id AND a.sku_id=b.sku_id
        WHERE a.tree_code LIKE CONCAT(#{treeCode},'%');
    </select>

    <select id="countOrderNum" resultMap="BaseResultMap">
        SELECT SUM(b.down_order_count) as orders FROM pf_user_sku a
        INNER JOIN pf_user_statistics b ON a.user_id=b.user_id AND a.sku_id=b.sku_id
        WHERE a.tree_code LIKE CONCAT(#{treeCode},'%');
    </select>

</mapper>




