<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserAgentApplicationMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserAgentApplication" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="wx_id" property="wxId" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pf_user_agent_application
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserAgentApplication" >
        insert into pf_user_agent_application (id, create_time, create_man, 
            sku_id, name, wx_id, 
            mobile, status, remark,agent_level_id
            )
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT}, 
            #{skuId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{wxId,jdbcType=VARCHAR}, 
            #{mobile,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
            #{agentLevelId,jdbcType=INTEGER}
            )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserAgentApplication" >
        update pf_user_agent_application
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createMan != null">
                create_man = #{createMan,jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="wxId != null">
                wx_id = #{wxId,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="agentLevelId !=null">
                #{agentLevelId,jdbcType=INTEGER}
            </if>
        </set>
        where
              id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, create_man, sku_id, name, wx_id, mobile, status, remark,agent_level_id
        from pf_user_agent_application
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, create_man, sku_id, name, wx_id, mobile, status, remark,agent_level_id
        from pf_user_agent_application
    </select>

    <select id="selectByPhoneAndSkuId" resultMap="BaseResultMap">
        select id, create_time, create_man, sku_id, name, wx_id, mobile, status, remark,agent_level_id
        from pf_user_agent_application
        where mobile = #{mobile,jdbcType=VARCHAR} AND sku_id = #{skuId}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        select id, create_time, create_man, sku_id, name, wx_id, mobile, status, remark,agent_level_id
        from pf_user_agent_application
        where mobile = #{mobile,jdbcType=VARCHAR}
    </select>
    <select id="selectByCondition" parameterType="Map" resultType="Map">
        select
               uaa.id,
               uaa.create_time createTime,
               uaa.create_man  createMan,
               uaa.name        name,
               uaa.wx_id       wxId,
               uaa.mobile      mobile,
               uaa.status      status,
               uaa.remark      remark,
               sku.id          skuId,
               sku.name        skuName,
              cal.id           calId,
              cal.name         calName
        from
               pf_user_agent_application uaa
        LEFT JOIN com_sku                sku ON sku.id = uaa.sku_id
        LEFT JOIN com_agent_level cal ON cal.id = uaa.agent_level_id
        <where>
            <if test="id != null">
                AND uaa.id = #{id}
            </if>
            <if test="name != null">
                AND uaa.name = #{name}
            </if>
            <if test="wxId != null">
                AND uaa.wx_id = #{wxId}
            </if>
            <if test="mobile != null">
                AND uaa.mobile = #{mobile}
            </if>
            <if test="skuName != null">
                AND sku.name = #{skuName}
            </if>
            <if test="calName != null">
                AND cal.name = #{calName}
            </if>
            <if test="beginTime != null"  >
                AND uaa.create_time &gt;=#{beginTime}
            </if>
            <if test="endTime != null"  >
                AND uaa.create_time &lt;=#{endTime}
            </if>
        </where>
    </select>
</mapper>