<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserBillMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserBill" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="balance_date" property="balanceDate" jdbcType="TIMESTAMP" />
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
        <result column="bill_amount" property="billAmount" jdbcType="DECIMAL" />
        <result column="return_amount" property="returnAmount" jdbcType="DECIMAL" />
        <result column="pf_brokerage" property="pfBrokerage" jdbcType="DECIMAL" />
        <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
        <result column="count_start_time" property="countStartTime" jdbcType="TIMESTAMP" />
        <result column="count_end_time" property="countEndTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pf_user_bill
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserBill" useGeneratedKeys="true" keyProperty="id">
        insert into pf_user_bill (id, user_id, create_date, 
            create_man, balance_date, total_amount, 
            bill_amount, return_amount, pf_brokerage, 
            supplier_id, count_start_time, count_end_time, 
            status, remark)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, 
            #{createMan,jdbcType=BIGINT}, #{balanceDate,jdbcType=TIMESTAMP}, #{totalAmount,jdbcType=DECIMAL}, 
            #{billAmount,jdbcType=DECIMAL}, #{returnAmount,jdbcType=DECIMAL}, #{pfBrokerage,jdbcType=DECIMAL},
            #{supplierId,jdbcType=BIGINT}, #{countStartTime,jdbcType=TIMESTAMP}, #{countEndTime,jdbcType=TIMESTAMP}, 
            #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserBill" >
        update pf_user_bill
        set user_id = #{userId,jdbcType=BIGINT},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            create_man = #{createMan,jdbcType=BIGINT},
            balance_date = #{balanceDate,jdbcType=TIMESTAMP},
            total_amount = #{totalAmount,jdbcType=DECIMAL},
            bill_amount = #{billAmount,jdbcType=DECIMAL},
            return_amount = #{returnAmount,jdbcType=DECIMAL},
            pf_brokerage = #{pfBrokerage,jdbcType=DECIMAL},
            supplier_id = #{supplierId,jdbcType=BIGINT},
            count_start_time = #{countStartTime,jdbcType=TIMESTAMP},
            count_end_time = #{countEndTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, user_id, create_date, create_man, balance_date, total_amount, bill_amount, 
        return_amount, pf_brokerage, supplier_id, count_start_time, count_end_time, status, 
        remark
        from pf_user_bill
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, user_id, create_date, create_man, balance_date, total_amount, bill_amount, 
        return_amount, pf_brokerage, supplier_id, count_start_time, count_end_time, status, 
        remark
        from pf_user_bill
    </select>

    <select id="selectByUserIdLimitPage" resultMap="BaseResultMap">
        select id, user_id, create_date, create_man, balance_date, total_amount, bill_amount,
        return_amount, pf_brokerage, supplier_id, count_start_time, count_end_time, status,
        remark
        from pf_user_bill
        where user_id = #{0} and DATE_FORMAT(balance_date,'%Y%m')=#{1}
        and status = 1
        order by balance_date desc
    </select>

    <select id="selectBillNumsByDate" resultType="java.lang.Long">
        select count(id)
        from pf_user_bill
        where create_date <![CDATA[>=]]> #{start,jdbcType=TIMESTAMP}
        and create_date <![CDATA[<]]> #{end,jdbcType=TIMESTAMP}
    </select>
</mapper>