<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserSkuMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserSku">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_pid" property="userPid" jdbcType="BIGINT"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
        <result column="is_certificate" property="isCertificate" jdbcType="INTEGER"/>
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT"/>
        <result column="bail" property="bail" jdbcType="DECIMAL"/>
        <result column="agent_num" property="agentNum" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="tree_code" property="treeCode" jdbcType="VARCHAR"/>
        <result column="tree_level" property="treeLevel" jdbcType="INTEGER"/>
    </resultMap>


    <!-- 合伙人关系映射 -->
    <resultMap id="UserSkuResultMap" type="com.masiis.shop.dao.beans.user.PfUserSkuCertificate">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="BIGINT"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
        <result column="is_certificate" property="isCertificate" jdbcType="INTEGER"/>
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="csname" property="skuName" jdbcType="VARCHAR"/>

        <association column="user_id" property="comUser"
                     javaType="com.masiis.shop.dao.po.ComUser">
            <id column="userId" property="id" jdbcType="INTEGER"/>
            <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
            <result column="real_name" property="realName" jdbcType="VARCHAR"/>
            <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
            <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
            <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
            <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
        </association>
        <association column="agent_level_id" property="comAgentLevel"
                     javaType="com.masiis.shop.dao.po.ComAgentLevel">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="calname" property="name" jdbcType="VARCHAR"/>
            <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
            <result column="lower" property="lower" jdbcType="DECIMAL"/>
            <result column="discount" property="discount" jdbcType="DECIMAL"/>
            <result column="remark" property="remark" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <resultMap id="UserSkuAgentResultMap" type="com.masiis.shop.dao.beans.user.upgrade.UserSkuAgent">
        <id column="skuId" property="skuId" jdbcType="INTEGER"/>
        <id column="skuName" property="skuName" jdbcType="VARCHAR"/>
        <id column="agentLevelId" property="agentLevelId" jdbcType="INTEGER"/>
        <id column="agentName" property="agentName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserSkusResultMap" type="com.masiis.shop.dao.beans.user.UserSkuInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="user_mail" property="userMail" jdbcType="VARCHAR"/>
        <result column="wx_head_img" property="wxHeadImg" jdbcType="VARCHAR"/>
        <result column="wx_nk_name" property="wxNkName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
        <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
        <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
        <result column="is_binding" property="isBinding" jdbcType="INTEGER"/>
        <result column="is_agent" property="isAgent" jdbcType="INTEGER"/>
        <result column="send_type" property="sendType" jdbcType="INTEGER"/>
        <result column="audit_status" property="auditStatus" jdbcType="INTEGER"/>
        <result column="audit_reason" property="auditReason" jdbcType="VARCHAR"/>
        <result column="wx_unionid" property="wxUnionid" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="pwd_salt" property="pwdSalt" jdbcType="VARCHAR"/>
        <result column="register_source" property="registerSource" jdbcType="INTEGER"/>
        <result column="app_token" property="appToken" jdbcType="VARCHAR"/>
        <result column="app_token_expire" property="appTokenExpire" jdbcType="TIMESTAMP"/>
        <result column="is_buy" property="isBuy" jdbcType="INTEGER"/>
        <result column="is_spokesman" property="isSpokesman" jdbcType="INTEGER"/>
        <result column="pName" property="pName" jdbcType="VARCHAR"/>
        <result column="unitName" property="unitName" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="skuAgentMap" type="com.masiis.shop.dao.po.PfSkuAgent">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="bail" property="bail" jdbcType="DECIMAL"/>
        <result column="back_img" property="backImg" jdbcType="VARCHAR"/>
        <result column="is_show" property="isShow" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="is_upgrade" property="isUpgrade" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="TeamMemberInfoMap" type="com.masiis.shop.dao.beans.family.TeamMemberInfo">
        <result column="skuName" property="skuName" jdbcType="VARCHAR"/>
        <result column="agentLevelName" property="agentLevelName" jdbcType="VARCHAR"/>
        <result column="agentLevel" property="agentLevel" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="wxId" property="wxId" jdbcType="VARCHAR"/>
        <result column="auditStatus" property="auditStatus" jdbcType="VARCHAR"/>
        <result column="realName" property="realName" jdbcType="VARCHAR"/>
        <result column="idCard" property="idCard" jdbcType="VARCHAR"/>
        <result column="certImg" property="certImg" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="BIGINT"/>
        <result column="userPid" property="userPid" jdbcType="BIGINT"/>
        <result column="skuId" property="skuId" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pf_user_sku
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserSku" useGeneratedKeys="true" keyProperty="id">
        insert into pf_user_sku (id, create_time, code,
            pid, user_id, user_pid,
            sku_id, agent_level_id, is_pay,
            is_certificate, pf_border_id, bail,
            agent_num, remark, tree_code,
            tree_level)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR},
            #{pid,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{userPid,jdbcType=BIGINT},
            #{skuId,jdbcType=INTEGER}, #{agentLevelId,jdbcType=INTEGER}, #{isPay,jdbcType=INTEGER},
            #{isCertificate,jdbcType=INTEGER}, #{pfBorderId,jdbcType=BIGINT}, #{bail,jdbcType=DECIMAL},
            #{agentNum,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{treeCode,jdbcType=VARCHAR},
            #{treeLevel,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserSku">
        update
        pf_user_sku
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="agentLevelId != null">
                agent_level_id = #{agentLevelId,jdbcType=INTEGER},
            </if>
            <if test="isPay != null">
                is_pay = #{isPay,jdbcType=INTEGER},
            </if>
            <if test="isCertificate != null">
                is_certificate = #{isCertificate,jdbcType=INTEGER},
            </if>
            <if test="pfBorderId != null">
                pf_border_id = #{pfBorderId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="bail != null">
                bail = #{bail,jdbcType=DECIMAL},
            </if>
            <if test="agentNum != null">
                agent_num = #{agentNum,jdbcType=BIGINT},
            </if>
            <if test="userPid != null">
                user_pid = #{userPid,jdbcType=BIGINT},
            </if>
            <if test="treeCode != null">
                tree_code = #{treeCode,jdbcType=VARCHAR},
            </if>
            <if test="treeLevel != null">
                tree_level = #{treeLevel,jdbcType=INTEGER},
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateResetAgentNum">
        update pf_user_sku u set u.agent_num = 0 where agent_num &gt; 0
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from
        pf_user_sku
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from pf_user_sku
    </select>

    <select id="selectAgentNum" resultMap="BaseResultMap">
        select id, agent_num , tree_code from pf_user_sku WHERE user_id = #{userId}
    </select>
    <select id="selectByUserIdAndSkuId" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from
               pf_user_sku
        where
               user_id = #{userId}
               and sku_id = #{skuId}
    </select>

    <select id="getUserSkuList" parameterType="map" resultMap="UserSkuResultMap">
        select pus.id,pus.code,cu.id userId,cu.real_name,cu.mobile,cu.wx_id,cs.name csname,cal.id,cal.name
        calname,pus.create_time,pus.is_pay,pus.is_certificate
        ,pus.pid
        from pf_user_sku pus
        LEFT JOIN com_user cu on pus.user_id = cu.id
        LEFT JOIN com_sku cs on pus.sku_id = cs.id
        LEFT JOIN com_agent_level cal on pus.agent_level_id = cal.id
        <where>
            <if test="searchParam.pid != null">
                pus.pid = #{searchParam.pid}
            </if>
        </where>
    </select>
    <select id="findLowerCount" resultType="Integer">
        select count(1) from pf_user_sku where pid = #{pid,jdbcType=INTEGER}
    </select>
    <!-- 合伙信息 -->
    <select id="getUserSkuListById" parameterType="Integer" resultMap="UserSkuResultMap">
        select
        pus.code,
        cu.real_name,cu.mobile,cu.id_card,cu.id_card_front_url,cu.id_card_back_url,
        cs.name csname,
        cal.name calname,
        pus.id,pus.pid,pus.is_pay,pus.is_certificate
        from pf_user_sku pus
        LEFT JOIN com_user cu on pus.user_id = cu.id
        LEFT JOIN com_sku cs on pus.sku_id = cs.id
        LEFT JOIN com_agent_level cal on pus.agent_level_id = cal.id
        <where>
            <if test="id != null">
                AND pus.id = #{id,jdbcType=INTEGER}
            </if>

        </where>
    </select>

    <select id="selectByOrderIdAndUserIdAndSkuId" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from pf_user_sku
        where pf_border_id = #{bOrderId}
        and user_id = #{userId}
        and sku_id = #{skuId}
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfUserSku" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        FROM
        pf_user_sku
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="pid != null">
                AND pid = #{pid}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="skuId != null">
                AND sku_id = #{skuId}
            </if>
            <if test="agentLevelId != null">
                AND agent_level_id = #{agentLevelId}
            </if>
            <if test="isPay != null">
                AND is_pay = #{isPay}
            </if>
            <if test="isCertificate != null">
                AND is_certificate = #{isCertificate}
            </if>
            <if test="pfBorderId != null">
                AND pf_border_id = #{pfBorderId}
            </if>
            <if test="remark != null">
                AND remark = #{remark}
            </if>
            <if test="bail != null">
                and bail = #{bail,jdbcType=DECIMAL}
            </if>
            <if test="agentNum != null">
                and agent_num = #{agentNum,jdbcType=BIGINT}
            </if>
            <if test="userPid != null">
                and user_pid = #{userPid,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="selectByMap" parameterType="Map" resultType="java.util.HashMap">
        select
        us.id id,
        us.create_time createTime,
        us.code code,
        us.is_pay isPay,
        us.user_pid userPid,
        u.id uId,
        u.real_name realName,
        u.mobile mobile,
        sku.name skuName,
        al.name levelName,
        bo.send_type sendType,
        uss.stock stock,
        pu.real_name puRealName,
        us.bail bail,
        (SELECT COUNT(0) from pf_user_sku where pid=us.id) countLower

        FROM
        pf_user_sku us
        LEFT JOIN com_user u ON u.id = us.user_id
        LEFT JOIN com_user pu ON pu.id = us.user_pid
        LEFT JOIN com_sku sku ON sku.id = us.sku_id
        LEFT JOIN com_agent_level al ON al.id = us.agent_level_id
        LEFT JOIN pf_border bo ON bo.id = us.pf_border_id
        LEFT JOIN pf_user_sku_stock uss ON uss.user_id = us.user_id AND uss.sku_id = us.sku_id
        <where>
            <if test="realName != null">
                AND u.real_name LIKE #{realName}
            </if>
            <if test="mobile != null">
                AND u.mobile = #{mobile}
            </if>
            <if test="pRealName != null">
                AND pu.real_name LIKE #{pRealName}
            </if>
            <if test="pid != null">
                AND us.pid = #{pid}
            </if>
        </where>
    </select>

    <select id="selectChildrenByPId" parameterType="Integer" resultType="Long">
        SELECT user_id FROM pf_user_sku WHERE pid = #{pId}
    </select>

    <select id="countChild" parameterType="String" resultType="Map">
        <!--<![CDATA[-->
        <!--DROP FUNCTION IF EXISTS fn_concat;-->
        <!--delimiter $$-->
        <!--CREATE FUNCTION fn_concat(ppid int) RETURNS int-->
        <!--BEGIN-->
        <!--DECLARE sTemp VARCHAR(4000);-->
        <!--DECLARE sTempChd VARCHAR(4000);-->
        <!--DECLARE _count INT;-->
        <!--DECLARE c INT;-->

        <!--SET sTemp = '';-->
        <!--SET sTempChd = cast(ppid as char);-->
        <!--SET _count = 0;-->
        <!--SET c = 0;-->
        <!--WHILE sTempChd IS NOT NULL DO-->
        <!--SET sTemp = CONCAT(sTemp,sTempChd);-->
        <!--SET sTemp = CONCAT(sTemp,',');-->
        <!--SET _count = _count + c;-->
        <!--SELECT GROUP_CONCAT(id),COUNT(1) INTO sTempChd,c FROM com_area WHERE FIND_IN_SET(pid,sTempChd);-->
        <!--END WHILE;-->
        <!--RETURN _count;-->
        <!--END $$-->
        <!--delimiter ;-->

        <!--SELECT fn_concat(2);-->
        <!--]]>-->

        SELECT GROUP_CONCAT(id) sPIds, GROUP_CONCAT(user_id) sUserIds FROM pf_user_sku WHERE FIND_IN_SET(pid,#{sPIds});
    </select>

    <select id="selectSecondLastLevel" resultMap="BaseResultMap">
        select
            *
        from pf_user_sku s
        where s.agent_level_id = (select max(agent_level_id) - 1 from pf_user_sku );
    </select>

    <select id="selectByListId" resultMap="BaseResultMap">
        select
        *
        from pf_user_sku
        where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByLevel" resultMap="BaseResultMap">
        select
          *
        from pf_user_sku
        where agent_level_id = #{0}
    </select>

    <select id="selectUserSkuCount" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM pf_user_sku
        WHERE is_pay=1
        AND is_certificate=1
        AND user_id=#{userId}
        AND sku_id!=#{skuId}
    </select>

    <update id="updateTreeCodeById">
        update pf_user_sku set tree_code = #{treeCode}
        where id = #{id}
    </update>

    <!-- 查找团队所有成员 -->
    <select id="selectAllTeamMember" parameterType="String" resultType="Long">
        SELECT user_id FROM pf_user_sku WHERE tree_code LIKE #{treeCode}
    </select>

    <select id="selectCurrentAgentLevel" resultMap="UserSkuAgentResultMap" parameterType="java.lang.Long">
        SELECT
	      a.sku_id as skuId,
          c.name as skuName,
          a.agent_level_id as agentLevelId,
          b.name as agentName,
          a.user_pid as userPid
        FROM
	      pf_user_sku a
        INNER JOIN com_agent_level b ON a.agent_level_id = b.id
        INNER JOIN com_sku c ON a.sku_id = c.id
        INNER JOIN com_spu d on c.spu_id = d.id
        WHERE
	      a.user_id = #{userId}
	      AND d.type = 0
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from
        pf_user_sku
        where
        user_id = #{userId,jdbcType=BIGINT}
    </select>

    <update id="updateTreeCodes">
        UPDATE pf_user_sku SET tree_code=CONCAT(#{parentTreeCode},SUBSTRING(tree_code,#{idIndex})),tree_level=tree_level-#{treeLevelDiff}
        WHERE tree_code LIKE CONCAT(#{treeCode},'%');
    </update>

    <!-- 查询代理商品信息 -->
    <select id="selectAgentSku" parameterType="Long" resultType="Map">
        SELECT
               sku.id,
               sku.name
        FROM
               com_sku sku
        INNER JOIN pf_user_sku us ON us.sku_id = sku.id
        WHERE
               us.user_id = #{userId}
    </select>

    <select id="selectByUserIdNotPid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from
        pf_user_sku
        where
        user_id = #{userId,jdbcType=BIGINT} AND user_pid =0
    </select>

    <select id="selectChildNumByUserPid" resultType="java.lang.Integer">
        SELECT count(t.user_id)
        FROM
        (select DISTINCT user_id
        FROM pf_user_sku
        WHERE
          user_pid = #{userPid,jdbcType=BIGINT}
        ) t
    </select>

    <select id="selectChildByUserPid" resultType="java.lang.Long">
        select DISTINCT user_id
        FROM pf_user_sku
        WHERE
          user_pid = #{userPid,jdbcType=BIGINT}
    </select>

    <select id="selectSkusByUserId" resultMap="UserSkusResultMap">
        SELECT
            CASE
                s.user_pid
            WHEN 0 THEN "平台"
            ELSE u.real_name
            END as pName,
            m.name unitName,
            c.*
        FROM
            pf_user_sku s
        LEFT JOIN com_sku c ON c.id = s.sku_id
        LEFT JOIN com_spu p ON c.spu_id = p.id
        LEFT JOIN com_unit_measure m ON p.unit = m.id
        LEFT JOIN com_user u ON s.user_pid=u.id
        WHERE
            s.user_id = #{userId,jdbcType=BIGINT}
    </select>
    <!--查询这个人的boss的团队的所有成员-->
    <select id="getBossTeamInfoByTreeCode" resultMap="BaseResultMap">
        SELECT c.* FROM pf_user_sku a
        INNER JOIN pf_user_sku b ON a.tree_code LIKE CONCAT(b.tree_code,'%') AND b.tree_level=1
        INNER JOIN pf_user_sku c ON c.tree_code LIKE CONCAT(b.tree_code,'%')
        WHERE a.tree_code=#{treeCode,jdbcType=VARCHAR}
        AND c.tree_code!=#{treeCode,jdbcType=VARCHAR}
    </select>

    <select id="selectMaxAgentIdByUserId" resultMap="BaseResultMap">
       SELECT id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from pf_user_sku
       WHERE agent_level_id = (SELECT MIN(agent_level_id) from pf_user_sku WHERE user_id = #{userId,jdbcType=BIGINT}) and user_id  = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectAgentNumByLevelAndSku" resultType="java.lang.Integer">
        select count(*) from pf_user_sku where sku_id = #{skuId} and agent_level_id = #{agentLevel};
    </select>

    <select id="selectNumByBrandId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        pf_user_sku pfsku
        LEFT JOIN com_sku sku ON sku.id = pfsku.sku_id
        LEFT JOIN com_spu spu ON spu.id = sku.spu_id
        WHERE spu.brand_id = #{brandId}
    </select>

    <select id="getLowerLevelPartnerListByUserPid" resultType="map">
        select distinct u.id, ifnull(u.real_name, u.wx_nk_name) realName
        from com_user u
        left join pf_user_sku s on s.user_id = u.id
        where s.user_pid = #{userPid}
    </select>

    <select id="selectOthersByUserIdAndDefaultSkuId" resultMap="skuAgentMap">
        SELECT
            a.*
        FROM
            com_brand b1
        INNER JOIN com_spu p1 ON (p1.brand_id = b1.id AND p1.type=1)
        INNER JOIN com_sku s1 ON s1.spu_id = p1.id
        INNER JOIN pf_user_sku ps ON (s1.id=ps.sku_id AND ps.user_id=#{userId,jdbcType=BIGINT})
        LEFT JOIN pf_sku_agent a ON (ps.agent_level_id=a.agent_level_id AND a.sku_id=ps.sku_id)
        WHERE
            b1.id = (
                SELECT
                    b.id
                FROM
                    com_sku s
                INNER JOIN com_spu p ON p.id = s.spu_id
                INNER JOIN com_brand b ON b.id = p.brand_id
                WHERE
                    s.id = #{skuId,jdbcType=INTEGER}
            );
    </select>

    <select id="selectFamilyUser" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark, tree_code, tree_level
        from pf_user_sku
        where
             sku_id = #{skuId}
             AND agent_level_id = #{agentLevelId}
             tree_code LIKE #{treeCode}
    </select>

    <select id="selectAgentBrand" resultType="java.util.HashMap">
        SELECT
        a.user_id           userId
        ,b.id             	skuId
        ,b.name           	skuName
        ,e.id             	brandId
        ,e.cname          	brandName
        ,e.content        	brandContent
        ,e.logo_url       	brandLogoUrl
        ,e.illustrating_picture_name       	illustratingPictureName
        ,e.remark         	brandRemark
        ,d.id             	organizationId
        ,d.name           	organizationName
        ,d.agent_level_id   levelId
        ,d.logo           	organizationLogo
        ,d.back_img       	organizationBackImg
        ,d.wx_qr_code     	organizationWxQrCode
        ,d.wx_id          	organizationWxId
        ,d.add_description	organizationAddDescription
        ,d.slogan         	organizationSlogan
        ,d.introduction   	organizationIntroduction
        ,d.freeman_num    	organizationFreemanNum
        ,f.freeman_upper_num    organizationFreemanUpperNum
        FROM pf_user_sku a
        INNER JOIN com_sku b ON a.sku_id=b.id
        INNER JOIN com_spu c ON b.spu_id=c.id AND c.type=0
        INNER JOIN pf_user_organization d ON a.user_id=d.user_id AND c.brand_id=d.brand_id
        INNER JOIN com_brand e ON c.brand_id=e.id
        INNER JOIN pf_sku_agent f ON a.sku_id=f.sku_id AND a.agent_level_id=f.agent_level_id
        WHERE a.user_id = #{userId}
        AND d.STATUS = 1
        <if test="brandId != null">
            AND d.brand_id= #{brandId}
        </if>
    </select>

    <select id="selectPAgentBrand" resultType="java.util.HashMap">
        SELECT
        a.user_pid           userId
        ,b.id             	skuId
        ,b.name           	skuName
        ,e.id             	brandId
        ,e.cname          	brandName
        ,e.content        	brandContent
        ,e.logo_url       	brandLogoUrl
        ,e.remark         	brandRemark
        ,d.id             	organizationId
        ,d.name           	organizationName
        ,d.agent_level_id   levelId
        ,d.logo           	organizationLogo
        ,d.back_img       	organizationBackImg
        ,d.wx_qr_code     	organizationWxQrCode
        ,d.wx_id          	organizationWxId
        ,d.add_description	organizationAddDescription
        ,d.slogan         	organizationSlogan
        ,d.introduction   	organizationIntroduction
        ,d.freeman_num    	organizationFreemanNum
        ,f.freeman_upper_num    organizationFreemanUpperNum
        FROM pf_user_sku a
        INNER JOIN com_sku b ON a.sku_id=b.id
        INNER JOIN com_spu c ON b.spu_id=c.id AND c.type=0
        INNER JOIN pf_user_organization d ON a.user_pid=d.user_id AND c.brand_id=d.brand_id
        INNER JOIN com_brand e ON c.brand_id=e.id
        INNER JOIN pf_sku_agent f ON a.sku_id=f.sku_id AND a.agent_level_id=f.agent_level_id
        WHERE a.user_id = #{userId}
        AND d.STATUS = 1
        <if test="brandId != null">
            AND d.brand_id= #{brandId}
        </if>
    </select>

    <select id="selectParentAgentBrand" resultType="java.util.HashMap">
        SELECT
        d.id                   userSkuId
        ,d.user_id             userPid
        ,d.tree_code           treeCode
        ,c.id                  skuId
        ,c.`name`              skuName
        ,b.id                  spuId
        ,b.`name`              spuName
        ,f.id                  brandId
        ,f.cname               brandName
        ,f.content             brandContent
        ,f.logo_url            brandLogoUrl
        ,f.remark              brandRemark
        ,e.id                  levelId
        ,e.name                levelName
        ,e.organization_suffix organizationSuffix
        ,g.id              organizationId
        ,g.`name`          organizationName
        ,g.logo            organizationLogo
        ,g.back_img        organizationBackImg
        ,g.wx_qr_code      organizationWxQrCode
        ,g.wx_id           organizationWxId
        ,g.add_description organizationAddDescription
        ,g.slogan          organizationSlogan
        ,g.introduction    organizationIntroduction
        ,g.freeman_num     organizationFreemanNum
        FROM pf_user_brand a
        INNER JOIN com_spu b ON a.brand_id=b.brand_id AND TYPE=0
        INNER JOIN com_sku c ON b.id=c.spu_id
        INNER JOIN pf_user_sku d ON a.user_id=d.user_id AND c.id=d.sku_id
        INNER JOIN com_agent_level e ON d.agent_level_id=e.id
        INNER JOIN com_brand f ON a.brand_id=f.id
        LEFT  JOIN pf_user_organization g ON g.brand_id = a.brand_id AND g.user_id = a.user_id AND g.status=1
        WHERE 1=1
        <if test="userId != null">
            AND d.user_pid = #{userId}
        </if>
        <if test="brandId != null">
            AND f.id = #{brandId}
        </if>
    </select>

    <select id="countAgentNumBySkuId" resultType="int" parameterType="java.lang.Integer">
        select count(1)
        from
        pf_user_sku
        where
        sku_id = #{skuId}
    </select>

    <select id="selectBrandSku" resultMap="BaseResultMap">
        SELECT
            d.*
        FROM
            pf_user_organization a
        INNER JOIN com_spu b ON a.brand_id = b.brand_id
        INNER JOIN com_sku c ON b.id = c.spu_id
        INNER JOIN pf_user_sku d ON d.sku_id = c.id
        AND d.user_id = a.user_id
        WHERE a.user_id = #{userId}
        AND a.brand_id = #{brandId}
    </select>

    <select id="selectUpBrand" resultType="java.util.Map">
        SELECT
        a.user_pid AS userPid,
        c.brand_id AS brandId,
        b.id AS skuId
        FROM
        pf_user_sku a
        INNER JOIN com_sku b ON a.sku_id = b.id
        INNER JOIN com_spu c ON b.spu_id = c.id
        WHERE
        a.user_id = #{userId}
        AND c.type = 0
        AND a.user_pid <![CDATA[ <> ]]> 0;
    </select>

    <select id="selectTeamCountById" resultType="java.lang.Integer">
        SELECT
          count(a.id)
        FROM
          pf_user_sku a
        INNER JOIN pf_user_sku b ON a.tree_code LIKE CONCAT(b.tree_code, '%')
        <if test="userId != null">
            AND a.user_id <![CDATA[ <> ]]> b.user_id
        </if>
        WHERE
          b.id = #{id};
    </select>

    <select id="selectTeamCountByUserId" resultType="java.lang.Integer">
        SELECT
          count(a.id)
        FROM
          pf_user_sku a
        INNER JOIN pf_user_sku b ON a.tree_code LIKE CONCAT(b.tree_code, '%')
        AND a.user_id <![CDATA[ <> ]]> b.user_id
        WHERE
        b.user_id = #{userId};
    </select>

    <select id="selectdirectNumByUserId" resultType="java.lang.Integer">
        SELECT
            count(a.id)
        FROM
            pf_user_sku a
        INNER JOIN pf_user_sku b ON a.tree_code LIKE CONCAT(b.tree_code, '%')
        AND a.user_pid = b.user_id
        WHERE
            b.user_id = #{userId};
    </select>

    <select id="selectdirectNumById" resultType="java.lang.Integer">
        SELECT
	      count(a.id) as directNum
        FROM
            pf_user_sku b
        left JOIN pf_user_sku a ON a.user_pid = b.user_id
        WHERE
            b.id = #{id}
        AND a.sku_id = b.sku_id;
    </select>

    <select id="selectDirectListByuserId" resultType="java.util.HashMap">
        SELECT
            c.id AS userId,
			c.real_name AS userName,
			IFNULL(c.wx_id,'') AS wxId,
			IFNULL(a.CODE,'') AS CODE,
			a.agent_level_id as agentLevel,
			d.name as agentLevelName,
			e.icon AS agentLevelImg,
			c.wx_head_img AS wxHeadImg,
			a.sku_id as skuId,
			a.id as userSkuId
		FROM
			pf_user_sku a
		INNER JOIN pf_user_sku b ON a.user_pid = b.user_id and a.sku_id = b.sku_id
		INNER JOIN com_user c ON c.id = a.user_id
		INNER JOIN com_agent_level d ON a.agent_level_id = d.id
		INNER JOIN pf_sku_agent e on b.sku_id = e.sku_id and b.agent_level_id = e.agent_level_id
        WHERE
            b.id = #{userSkuId}
    </select>

    <select id="selectMemberInfo" resultMap="TeamMemberInfoMap">
        SELECT
            c.name as skuName,
            d.name as agentLevelName,
            d.id as agentLevel,
            b.mobile as mobile,
            IFNULL(b.wx_id,'') as wxId,
            b.audit_status as auditStatus,
            b.real_name as realName,
            IFNULL(b.id_card,'') as idCard,
            IFNULL(e.img_url,'') as certImg,
            e.status as status,
            b.id as userId,
            a.user_pid as userPid,
            a.sku_id as skuId,
            a.create_time as createTime
        FROM
            pf_user_sku a
        INNER JOIN com_user b ON a.user_id = b.id
        INNER JOIN com_sku c ON a.sku_id = c.id
        INNER JOIN com_agent_level d ON a.agent_level_id = d.id
        LEFT JOIN pf_user_certificate e ON a.id = e.pf_user_sku_id
        where a.id = #{userSkuId}
    </select>
    <!-->代理的主打商品<-->
    <select id="selectPrimarySkuByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select b.id, b.create_time, b.code, b.pid, b.user_id, b.user_pid, b.sku_id, b.agent_level_id, b.is_pay,
        b.is_certificate, b.pf_border_id, b.bail, b.agent_num, b.remark, b.tree_code, b.tree_level
        from pf_user_sku b
            INNER JOIN com_sku sku ON sku.id = b.sku_id
            INNER JOIN com_spu spu ON spu.id = sku.spu_id
            WHERE spu.is_sale=1 AND spu.is_delete=0 AND spu.TYPE=0
        AND b.user_id = #{userId}
    </select>

    <select id="selectGTLastLevelNumByUserId" resultType="java.lang.Integer">
        SELECT
          count(0)
        FROM
          pf_user_sku s
        WHERE
          s.user_id = #{userId,jdbcType=BIGINT}
          AND s.agent_level_id <![CDATA[ < ]]> 5;
    </select>

    <select id="selectChildsByUserIdAndBrandId" resultType="java.lang.Long">
        SELECT
            count(DISTINCT s.user_id)
        FROM
            pf_user_sku s
        INNER JOIN com_sku cs ON cs.id=s.sku_id
        INNER JOIN com_spu sp ON sp.id=cs.spu_id
        INNER JOIN com_brand cb ON cb.id=sp.brand_id AND cb.id=#{brandId,jdbcType=INTEGER}
        WHERE
            s.user_pid = #{userId,jdbcType=BIGINT};
    </select>
</mapper>




