<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserRecommenRelationMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserRecommenRelation" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="user_pid" property="userPid" jdbcType="BIGINT" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT" />
        <result column="tree_code" property="treeCode" jdbcType="VARCHAR" />
        <result column="tree_level" property="treeLevel" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ComSkuMap" type="com.masiis.shop.dao.beans.user.UserRecommend" >
        <id column="id" property="userId" jdbcType="BIGINT" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="agentId" property="agentId" jdbcType="INTEGER" />
        <result column="real_name" property="name" jdbcType="VARCHAR" />
        <result column="wx_head_img" property="wxHeadImg" jdbcType="VARCHAR" />
        <result column="name" property="skuName" jdbcType="VARCHAR" />
        <result column="agentName" property="agentName" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from pf_user_recommen_relation
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserRecommenRelation" useGeneratedKeys="true" keyProperty="id">
        insert into pf_user_recommen_relation (id, create_time, pid, 
            user_id, user_pid, sku_id, 
            pf_border_id, tree_code, tree_level, 
            remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{pid,jdbcType=INTEGER}, 
            #{userId,jdbcType=BIGINT}, #{userPid,jdbcType=BIGINT}, #{skuId,jdbcType=INTEGER}, 
            #{pfBorderId,jdbcType=BIGINT}, #{treeCode,jdbcType=VARCHAR}, #{treeLevel,jdbcType=INTEGER}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserRecommenRelation" >
        update pf_user_recommen_relation
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            pid = #{pid,jdbcType=INTEGER},
            user_id = #{userId,jdbcType=BIGINT},
            user_pid = #{userPid,jdbcType=BIGINT},
            sku_id = #{skuId,jdbcType=INTEGER},
            pf_border_id = #{pfBorderId,jdbcType=BIGINT},
            tree_code = #{treeCode,jdbcType=VARCHAR},
            tree_level = #{treeLevel,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select id, create_time, pid, user_id, user_pid, sku_id, pf_border_id, tree_code, 
        tree_level, remark
        from pf_user_recommen_relation
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--  帮我推荐的人  -->
    <select id="selectGiveSum" resultMap="ComSkuMap" parameterType="java.lang.Long" >
        select sku.name,com.real_name,com.wx_head_img,sku.id as skuId,com.id
        from pf_border pb
        INNER JOIN pf_border_recommen_reward pbrr ON pb.id=pbrr.pf_border_id
        INNER JOIN com_sku sku ON sku.id = pbrr.sku_id
        INNER JOIN com_user com ON com.id = pbrr.recommen_user_id
        WHERE pb.user_pid=#{userId} AND pb.pay_status=1
    </select>

    <!--  帮我推荐的单人单品推荐人数  -->
    <select id="selectGiveNum" resultType="Integer" >
        select COUNT(DISTINCT user_id)
        from pf_user_recommen_relation pbrr
        WHERE pbrr.user_pid=#{userId} AND pbrr.sku_id = #{skuId}
    </select>

    <!--  帮我推荐的单人单品推荐人数  -->
    <select id="selectGiveList" resultType="Long" >
        select pbrr.user_id
        from pf_user_recommen_relation pbrr
        WHERE pbrr.user_pid=#{userId} AND pbrr.sku_id = #{skuId}
    </select>

    <!--  我推荐的人  -->
    <select id="selectSumByUserId" resultMap="ComSkuMap" parameterType="java.lang.Long" >
        select sku.name,com.real_name,com.wx_head_img,sku.id as skuId,com.id,agent.name as agentName
        from pf_user_recommen_relation pbrr
        INNER JOIN com_sku sku ON sku.id = pbrr.sku_id
        INNER JOIN com_user com ON com.id = pbrr.user_id
        INNER JOIN pf_user_sku user_sku ON pbrr.user_id = user_sku.user_id AND pbrr.sku_id = user_sku.sku_id
        INNER JOIN com_agent_level agent ON user_sku.agent_level_id = agent.id
        where pbrr.user_pid = #{userId}
    </select>

    <!--  我推荐的人条件查询  -->
    <select id="selectSumByLike" resultMap="ComSkuMap" >
        select sku.name,com.real_name,com.wx_head_img,sku.id as skuId,com.id,agent.name as agentName
        from pf_user_recommen_relation pbrr
        INNER JOIN com_sku sku ON sku.id = pbrr.sku_id
        INNER JOIN com_user com ON com.id = pbrr.user_id
        INNER JOIN pf_user_sku user_sku ON pbrr.user_id = user_sku.user_id AND pbrr.sku_id = user_sku.sku_id
        INNER JOIN com_agent_level agent ON user_sku.agent_level_id = agent.id
        where
        <if test="userId != null">
             pbrr.user_pid = #{userId}
        </if>
        <if test="skuId != null">
            AND pbrr.sku_id = #{skuId}
        </if>
        <if test="agentLevelId != null">
            AND agent.id = #{agentLevelId}
        </if>
    </select>


    <!--<select id="selectSumByOneUserId" resultType="Integer" >-->
        <!--select COUNT(pbrr.user_id)-->
        <!--from pf_border_recommen_reward pbrr-->
        <!--INNER JOIN com_sku sku ON sku.id=pbrr.sku_id-->
        <!--INNER JOIN com_user use ON use.id=pbrr.user_pid-->
        <!--where pbrr.user_pid = #{userId}  AND pbrr.sku_id=#{skuId}-->
    <!--</select>-->
    <!-- 帮我推荐的人数 -->
    <select id="selectNumByUserId" resultType="Integer" parameterType="java.lang.Long" >
        SELECT COUNT(DISTINCT b.recommen_user_id) FROM pf_border a
        INNER JOIN pf_border_recommen_reward b ON a.id=b.pf_border_id
        WHERE a.user_pid = #{userId} AND a.pay_status=1
    </select>
    <!-- 我推荐的人数 -->
    <select id="selectNumByUserPid" resultType="Integer"  parameterType="java.lang.Long" >
        select COUNT(pid) from pf_user_recommen_relation where user_pid = #{userId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, pid, user_id, user_pid, sku_id, pf_border_id, tree_code, 
        tree_level, remark
        from pf_user_recommen_relation
    </select>

    <select id="selectRecommenRelationByUserIdAndSkuId" resultMap="BaseResultMap" >
        select id, create_time, pid, user_id, user_pid, sku_id, pf_border_id, tree_code,
        tree_level, remark
        from pf_user_recommen_relation
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND sku_id = #{skuId,jdbcType=INTEGER}
    </select>


    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfUserRecommenRelation" resultMap="BaseResultMap">
        select
               id,
               create_time,
               pid,
               user_id,
               user_pid,
               sku_id,
               pf_border_id,
               tree_code,
               tree_level,
               remark
        from
               pf_user_recommen_relation
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="pid != null">
                AND pid = #{pid}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="userPid != null">
                AND user_pid = #{userPid}
            </if>
            <if test="skuId != null">
                AND sku_id = #{skuId}
            </if>
            <if test="pfBorderId != null">
                AND pf_border_id = #{pfBorderId}
            </if>
            <if test="treeCode != null">
                AND tree_code = #{treeCode}
            </if>
            <if test="treeLevel != null">
                AND tree_level = #{treeLevel}
            </if>
            <if test="remark != null">
                AND remark = #{remark}
            </if>
        </where>
    </select>

    <update id="updateTreeCodeById">
        update pf_user_recommen_relation set tree_code = #{treeCode}
        where id = #{id}
    </update>
</mapper>