<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.user.PfUserSkuMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfUserSku">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_pid" property="userPid" jdbcType="BIGINT"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
        <result column="is_certificate" property="isCertificate" jdbcType="INTEGER"/>
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT"/>
        <result column="bail" property="bail" jdbcType="DECIMAL"/>
        <result column="agent_num" property="agentNum" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 合伙人关系映射 -->
    <resultMap id="UserSkuResultMap" type="com.masiis.shop.dao.beans.user.PfUserSkuCertificate">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="BIGINT"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="agent_level_id" property="agentLevelId" jdbcType="INTEGER"/>
        <result column="is_pay" property="isPay" jdbcType="INTEGER"/>
        <result column="is_certificate" property="isCertificate" jdbcType="INTEGER"/>
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="csname" property="skuName" jdbcType="VARCHAR"/>

        <association column="user_id" property="comUser"
                     javaType="com.masiis.shop.dao.po.ComUser">
            <id column="userId" property="id" jdbcType="INTEGER"/>
            <result column="wx_id" property="wxId" jdbcType="VARCHAR"/>
            <result column="real_name" property="realName" jdbcType="VARCHAR"/>
            <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
            <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
            <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
            <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
        </association>
        <association column="agent_level_id" property="comAgentLevel"
                     javaType="com.masiis.shop.dao.po.ComAgentLevel">
            <id column="id" property="id" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="calname" property="name" jdbcType="VARCHAR"/>
            <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
            <result column="lower" property="lower" jdbcType="DECIMAL"/>
            <result column="discount" property="discount" jdbcType="DECIMAL"/>
            <result column="remark" property="remark" jdbcType="VARCHAR"/>
        </association>


    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pf_user_sku
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfUserSku" useGeneratedKeys="true" keyProperty="id">
        insert into pf_user_sku (id, create_time, code,
            pid, user_id, user_pid,
            sku_id, agent_level_id, is_pay,
            is_certificate, pf_border_id, bail,
            agent_num, remark)
        values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR},
            #{pid,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{userPid,jdbcType=BIGINT},
            #{skuId,jdbcType=INTEGER}, #{agentLevelId,jdbcType=INTEGER}, #{isPay,jdbcType=INTEGER},
            #{isCertificate,jdbcType=INTEGER}, #{pfBorderId,jdbcType=BIGINT}, #{bail,jdbcType=DECIMAL},
            #{agentNum,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfUserSku">
        update
        pf_user_sku
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="agentLevelId != null">
                agent_level_id = #{agentLevelId,jdbcType=INTEGER},
            </if>
            <if test="isPay != null">
                is_pay = #{isPay,jdbcType=INTEGER},
            </if>
            <if test="isCertificate != null">
                is_certificate = #{isCertificate,jdbcType=INTEGER},
            </if>
            <if test="pfBorderId != null">
                pf_border_id = #{pfBorderId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="bail != null">
                bail = #{bail,jdbcType=DECIMAL},
            </if>
            <if test="agentNum != null">
                agent_num = #{agentNum,jdbcType=BIGINT},
            </if>
            <if test="userPid != null">
                user_pid = #{userPid,jdbcType=BIGINT},
            </if>
        </set>
        where
        id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark
        from
        pf_user_sku
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num, remark
        from pf_user_sku
    </select>

    <select id="selectAgentNum" resultMap="BaseResultMap">
        select agent_num from pf_user_sku WHERE user_id = #{userId}
    </select>
    <select id="selectByUserIdAndSkuId" resultMap="BaseResultMap">
        select
               id,
               create_time,
               code,
               pid,
               user_id,
               user_pid,
               sku_id,
               agent_level_id,
               is_pay,
               is_certificate,
               pf_border_id,
               bail,
	       agent_num,
               remark
        from
               pf_user_sku
        where
               user_id = #{userId}
               and sku_id = #{skuId}
    </select>

    <select id="getUserSkuList" parameterType="map" resultMap="UserSkuResultMap">
        select pus.id,pus.code,cu.id userId,cu.real_name,cu.mobile,cu.wx_id,cs.name csname,cal.id,cal.name
        calname,pus.create_time,pus.is_pay,pus.is_certificate
        ,pus.pid
        from pf_user_sku pus
        LEFT JOIN com_user cu on pus.user_id = cu.id
        LEFT JOIN com_sku cs on pus.sku_id = cs.id
        LEFT JOIN com_agent_level cal on pus.agent_level_id = cal.id
        <where>
            <if test="searchParam.pid != null">
                pus.pid = #{searchParam.pid}
            </if>
        </where>
    </select>
    <select id="findLowerCount" resultType="Integer">
        select count(1) from pf_user_sku where pid = #{pid,jdbcType=INTEGER}
    </select>
    <!-- 合伙信息 -->
    <select id="getUserSkuListById" parameterType="Integer" resultMap="UserSkuResultMap">
        select
        pus.code,
        cu.real_name,cu.mobile,cu.id_card,cu.id_card_front_url,cu.id_card_back_url,
        cs.name csname,
        cal.name calname,
        pus.id,pus.pid,pus.is_pay,pus.is_certificate
        from pf_user_sku pus
        LEFT JOIN com_user cu on pus.user_id = cu.id
        LEFT JOIN com_sku cs on pus.sku_id = cs.id
        LEFT JOIN com_agent_level cal on pus.agent_level_id = cal.id
        <where>
            <if test="id != null">
                AND pus.id = #{id,jdbcType=INTEGER}
            </if>

        </where>
    </select>

    <select id="selectByOrderIdAndUserIdAndSkuId" resultMap="BaseResultMap">
        select id, create_time, code, pid, user_id, user_pid, sku_id, agent_level_id, is_pay,
        is_certificate, pf_border_id, bail, agent_num,remark
        from pf_user_sku
        where pf_border_id = #{bOrderId}
        and user_id = #{userId}
        and sku_id = #{skuId}
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfUserSku" resultMap="BaseResultMap">
        select
        id,
        create_time,
        code,
        pid,
        user_id,
        user_pid,
        sku_id,
        agent_level_id,
        is_pay,
        is_certificate,
        pf_border_id,
        bail,
        agent_num,
        remark
        FROM
        pf_user_sku
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="pid != null">
                AND pid = #{pid}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="skuId != null">
                AND sku_id = #{skuId}
            </if>
            <if test="agentLevelId != null">
                AND agent_level_id = #{agentLevelId}
            </if>
            <if test="isPay != null">
                AND is_pay = #{isPay}
            </if>
            <if test="isCertificate != null">
                AND is_certificate = #{isCertificate}
            </if>
            <if test="pfBorderId != null">
                AND pf_border_id = #{pfBorderId}
            </if>
            <if test="remark != null">
                AND remark = #{remark}
            </if>
            <if test="bail != null">
                and bail = #{bail,jdbcType=DECIMAL}
            </if>
            <if test="agentNum != null">
                agent_num = #{agentNum,jdbcType=BIGINT},
            </if>
            <if test="userPid != null">
                and user_pid = #{userPid,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="selectByMap" parameterType="Map" resultMap="BaseResultMap">
        select
        id,
        create_time,
        code,
        pid,
        user_id,
        user_pid,
        sku_id,
        agent_level_id,
        is_pay,
        is_certificate,
        pf_border_id,
        bail,
        agent_num,
        remark
        FROM
        pf_user_sku
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="code != null">
                AND code = #{code}
            </if>
            <if test="pid != null">
                AND pid = #{pid}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="skuId != null">
                AND sku_id = #{skuId}
            </if>
            <if test="agentLevelId != null">
                AND agent_level_id = #{agentLevelId}
            </if>
            <if test="isPay != null">
                AND is_pay = #{isPay}
            </if>
            <if test="isCertificate != null">
                AND is_certificate = #{isCertificate}
            </if>
            <if test="pfBorderId != null">
                AND pf_border_id = #{pfBorderId}
            </if>
            <if test="remark != null">
                AND remark = #{remark}
            </if>
            <if test="bail != null">
                and bail = #{bail,jdbcType=DECIMAL}
            </if>
            <if test="agentNum != null">
                agent_num = #{agentNum,jdbcType=BIGINT},
            </if>
            <if test="userPid != null">
                and user_pid = #{userPid,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="selectChildrenByPId" parameterType="Integer" resultType="Long">
        SELECT user_id FROM pf_user_sku WHERE pid = #{pId}
    </select>

    <select id="countChild" parameterType="String" resultType="Map">
        <!--<![CDATA[-->
        <!--DROP FUNCTION IF EXISTS fn_concat;-->
        <!--delimiter $$-->
        <!--CREATE FUNCTION fn_concat(ppid int) RETURNS int-->
        <!--BEGIN-->
        <!--DECLARE sTemp VARCHAR(4000);-->
        <!--DECLARE sTempChd VARCHAR(4000);-->
        <!--DECLARE _count INT;-->
        <!--DECLARE c INT;-->

        <!--SET sTemp = '';-->
        <!--SET sTempChd = cast(ppid as char);-->
        <!--SET _count = 0;-->
        <!--SET c = 0;-->
        <!--WHILE sTempChd IS NOT NULL DO-->
        <!--SET sTemp = CONCAT(sTemp,sTempChd);-->
        <!--SET sTemp = CONCAT(sTemp,',');-->
        <!--SET _count = _count + c;-->
        <!--SELECT GROUP_CONCAT(id),COUNT(1) INTO sTempChd,c FROM com_area WHERE FIND_IN_SET(pid,sTempChd);-->
        <!--END WHILE;-->
        <!--RETURN _count;-->
        <!--END $$-->
        <!--delimiter ;-->

        <!--SELECT fn_concat(2);-->
        <!--]]>-->

        SELECT GROUP_CONCAT(id) sPIds, GROUP_CONCAT(user_id) sUserIds FROM pf_user_sku WHERE FIND_IN_SET(pid,#{sPIds});
    </select>

    <select id="selectSecondLastLevel" resultMap="BaseResultMap">
        select
            *
        from pf_user_sku s
        where s.agent_level_id = (select max(agent_level_id) - 1 from pf_user_sku );
    </select>

    <select id="selectByListId" resultMap="BaseResultMap">
        select
        *
        from pf_user_sku
        where id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectUserSkuCount" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM pf_user_sku
        WHERE is_pay=1
        AND is_certificate=1
        AND user_id=#{userId}
        AND sku_id!=#{skuId}
    </select>
</mapper>




