<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.order.PfBorderRecommenRewardMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfBorderRecommenReward" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="pf_border_id" property="pfBorderId" jdbcType="BIGINT" />
        <result column="pf_border_item_id" property="pfBorderItemId" jdbcType="BIGINT" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="recommen_user_id" property="recommenUserId" jdbcType="BIGINT" />
        <result column="quantity" property="quantity" jdbcType="INTEGER" />
        <result column="reward_unit_price" property="rewardUnitPrice" jdbcType="DECIMAL" />
        <result column="reward_total_price" property="rewardTotalPrice" jdbcType="DECIMAL" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByBorderItemId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, pf_border_id, pf_border_item_id, sku_id, recommen_user_id,
        quantity, reward_unit_price, reward_total_price, remark
        from pf_border_recommen_reward
        where pf_border_item_id = #{pfBorderItemId,jdbcType=BIGINT}
    </select>

    <select id="getRewardByOrderIdAndOrderItemIdAndSkuId" resultMap="BaseResultMap">
        select id, create_time, pf_border_id, pf_border_item_id, sku_id, recommen_user_id,
        quantity, reward_unit_price, reward_total_price, remark
        from pf_border_recommen_reward
        where pf_border_id = #{orderId,jdbcType=BIGINT}
        AND pf_border_item_id = #{orderItemId,jdbcType=BIGINT}
        AND sku_id = #{skuId,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from pf_border_recommen_reward
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfBorderRecommenReward" useGeneratedKeys="true" keyProperty="id">
        insert into pf_border_recommen_reward (id, create_time, pf_border_id, 
            pf_border_item_id, sku_id, recommen_user_id, 
            quantity, reward_unit_price, reward_total_price, 
            remark)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{pfBorderId,jdbcType=BIGINT}, 
            #{pfBorderItemId,jdbcType=BIGINT}, #{skuId,jdbcType=INTEGER}, #{recommenUserId,jdbcType=BIGINT}, 
            #{quantity,jdbcType=INTEGER}, #{rewardUnitPrice,jdbcType=DECIMAL}, #{rewardTotalPrice,jdbcType=DECIMAL}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.PfBorderRecommenReward" >
        update pf_border_recommen_reward
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            pf_border_id = #{pfBorderId,jdbcType=BIGINT},
            pf_border_item_id = #{pfBorderItemId,jdbcType=BIGINT},
            sku_id = #{skuId,jdbcType=INTEGER},
            recommen_user_id = #{recommenUserId,jdbcType=BIGINT},
            quantity = #{quantity,jdbcType=INTEGER},
            reward_unit_price = #{rewardUnitPrice,jdbcType=DECIMAL},
            reward_total_price = #{rewardTotalPrice,jdbcType=DECIMAL},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, pf_border_id, pf_border_item_id, sku_id, recommen_user_id, 
        quantity, reward_unit_price, reward_total_price, remark
        from pf_border_recommen_reward
        where id = #{id,jdbcType=BIGINT}
    </select>


    <!-- 获得奖励订单  -->
    <select id="selectBorders" resultType="Integer" parameterType="java.lang.Long" >
        select COUNT(pb.id)
        from pf_border pb
        inner join pf_border_item pbi ON pb.id=pbi.pf_border_id
        inner join pf_border_recommen_reward pbrr on pbi.id=pbrr.pf_border_item_id
        where pbrr.recommen_user_id = #{userId} AND pb.pay_status=1 AND pb.recommen_amount &gt;0
    </select>

    <!-- 发出奖励订单  -->
    <select id="selectPBorders" resultType="Integer" parameterType="java.lang.Long" >
        select COUNT(0) from  pf_border pb
        where pb.user_pid = #{userId} AND pb.pay_status=1 AND pb.recommen_amount &gt;0
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, pf_border_id, pf_border_item_id, sku_id, recommen_user_id, 
        quantity, reward_unit_price, reward_total_price, remark
        from pf_border_recommen_reward
    </select>

    <select id="selectByPfBorderId" resultMap="BaseResultMap">
        select id, create_time, pf_border_id, pf_border_item_id, sku_id, recommen_user_id,
        quantity, reward_unit_price, reward_total_price, remark
        from pf_border_recommen_reward
        WHERE pf_border_id = #{pfBorderId,jdbcType=BIGINT}
    </select>

    <!--根据订单查找推荐人-->
    <select id="selectRecommenUser" parameterType="Long" resultType="com.masiis.shop.dao.po.ComUser">
        SELECT
               u.id,
               u.wx_nk_name wxNkName,
               u.real_name realName,
               u.mobile
        FROM
               pf_border_recommen_reward brr
        LEFT JOIN com_user u ON u.id = brr.recommen_user_id
        WHERE
              brr.pf_border_id = #{borderId}
    </select>

</mapper>