<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.order.PfBorderMapper">
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfBorder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_man" property="createMan" jdbcType="BIGINT"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_pid" property="userPid" jdbcType="BIGINT"/>
        <result column="user_message" property="userMessage" jdbcType="VARCHAR"/>
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL"/>
        <result column="bail_amount" property="bailAmount" jdbcType="DECIMAL"/>
        <result column="product_amount" property="productAmount" jdbcType="DECIMAL"/>
        <result column="ship_amount" property="shipAmount" jdbcType="DECIMAL"/>
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="ship_man_id" property="shipManId" jdbcType="INTEGER"/>
        <result column="ship_man_name" property="shipManName" jdbcType="VARCHAR"/>
        <result column="ship_type" property="shipType" jdbcType="INTEGER"/>
        <result column="ship_time" property="shipTime" jdbcType="TIMESTAMP"/>
        <result column="send_type" property="sendType" jdbcType="INTEGER"/>
        <result column="order_type" property="orderType" jdbcType="INTEGER"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
        <result column="ship_status" property="shipStatus" jdbcType="INTEGER"/>
        <result column="pay_status" property="payStatus" jdbcType="INTEGER"/>
        <result column="is_counting" property="isCounting" jdbcType="INTEGER"/>
        <result column="is_ship" property="isShip" jdbcType="INTEGER"/>
        <result column="is_receipt" property="isReceipt" jdbcType="INTEGER"/>
        <result column="receipt_time" property="receiptTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pf_border
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfBorder" useGeneratedKeys="true" keyProperty="id">
        insert into pf_border (id, create_time, create_man,
            order_code, user_id, user_pid,
            user_message, supplier_id, modify_time,
            modify_man, receivable_amount, order_amount,
            bail_amount, product_amount, ship_amount,
            pay_amount, pay_time, ship_man_id,
            ship_man_name, ship_type, ship_time,
            send_type, order_type, order_status,
            ship_status, pay_status, is_counting,
            is_ship, is_receipt, receipt_time,
            remark)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createMan,jdbcType=BIGINT},
            #{orderCode,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{userPid,jdbcType=BIGINT},
            #{userMessage,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP},
            #{modifyMan,jdbcType=BIGINT}, #{receivableAmount,jdbcType=DECIMAL}, #{orderAmount,jdbcType=DECIMAL},
            #{bailAmount,jdbcType=DECIMAL}, #{productAmount,jdbcType=DECIMAL}, #{shipAmount,jdbcType=DECIMAL},
            #{payAmount,jdbcType=DECIMAL}, #{payTime,jdbcType=TIMESTAMP}, #{shipManId,jdbcType=INTEGER},
            #{shipManName,jdbcType=VARCHAR}, #{shipType,jdbcType=INTEGER}, #{shipTime,jdbcType=TIMESTAMP},
            #{sendType,jdbcType=INTEGER}, #{orderType,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER},
            #{shipStatus,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER}, #{isCounting,jdbcType=INTEGER},
            #{isShip,jdbcType=INTEGER}, #{isReceipt,jdbcType=INTEGER}, #{receiptTime,jdbcType=TIMESTAMP},
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateById" parameterType="com.masiis.shop.dao.po.PfBorder">
        update
        pf_border
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createMan != null">
                create_man = #{createMan,jdbcType=BIGINT},
            </if>
            <if test="orderCode != null">
                order_code = #{orderCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="userPid != null">
                user_pid = #{userPid,jdbcType=BIGINT},
            </if>
            <if test="userMessage != null">
                user_message = #{userMessage,jdbcType=VARCHAR},
            </if>
            <if test="supplierId != null">
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyMan != null">
                modify_man = #{modifyMan,jdbcType=BIGINT},
            </if>
            <if test="receivableAmount != null">
                receivable_amount = #{receivableAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="productAmount != null">
                product_amount = #{productAmount,jdbcType=DECIMAL},
            </if>
            <if test="shipAmount != null">
                ship_amount = #{shipAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shipManId != null">
                ship_man_id = #{shipManId,jdbcType=INTEGER},
            </if>
            <if test="shipManName != null">
                ship_man_name = #{shipManName,jdbcType=VARCHAR},
            </if>
            <if test="shipType != null">
                ship_type = #{shipType,jdbcType=INTEGER},
            </if>
            <if test="shipTime != null">
                ship_time = #{shipTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="shipStatus != null">
                ship_status = #{shipStatus,jdbcType=INTEGER},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus,jdbcType=INTEGER},
            </if>
            <if test="isCounting != null">
                is_counting = #{isCounting,jdbcType=INTEGER},
            </if>
            <if test="isShip != null">
                is_ship = #{isShip,jdbcType=INTEGER},
            </if>
            <if test="isReceipt != null">
                is_receipt = #{isReceipt,jdbcType=INTEGER},
            </if>
            <if test="receiptTime != null">
                receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="bailAmount != null">
                bail_amount=#{bailAmount,jdbcType=DECIMAL},
            </if>
            <if test="sendType != null">
                send_type=#{sendType,jdbcType=INTEGER},
            </if>
        </set>
        where
        id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
        where
        <if test="userId != null">
            user_id = #{userId,jdbcType=BIGINT}
        </if>
        <if test="orderStatus != null">
            AND order_status = #{orderStatus,jdbcType=INTEGER}
        </if>
        <if test="sendType != null">
            AND send_type = #{sendType,jdbcType=INTEGER}
        </if>
        ORDER BY id DESC
    </select>
    <select id="selectByUserPid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
        where
        <if test="userPId != null">
            user_pid = #{userPId,jdbcType=BIGINT}
        </if>
        <if test="orderStatus != null">
            AND order_status = #{orderStatus,jdbcType=INTEGER}
        </if>
        <if test="sendType != null">
            AND send_type = #{sendType,jdbcType=INTEGER}
        </if>
        ORDER BY id DESC
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfBorder" resultMap="BaseResultMap">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from
        pf_border
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createMan != null">
                AND create_man = #{createMan,jdbcType=BIGINT}
            </if>
            <if test="orderCode != null">
                AND order_code = #{orderCode,jdbcType=VARCHAR}
            </if>
            <if test="userId != null">
                AND user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="userPid != null">
                AND user_pid = #{userPid,jdbcType=BIGINT}
            </if>
            <if test="userMessage != null">
                AND user_message = #{userMessage,jdbcType=VARCHAR}
            </if>
            <if test="supplierId != null">
                AND supplier_id = #{supplierId,jdbcType=INTEGER}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifyMan != null">
                AND modify_man = #{modifyMan,jdbcType=BIGINT}
            </if>
            <if test="receivableAmount != null">
                AND receivable_amount = #{receivableAmount,jdbcType=DECIMAL}
            </if>
            <if test="orderAmount != null">
                AND order_amount = #{orderAmount,jdbcType=DECIMAL}
            </if>
            <if test="productAmount != null">
                AND product_amount = #{productAmount,jdbcType=DECIMAL}
            </if>
            <if test="shipAmount != null">
                AND ship_amount = #{shipAmount,jdbcType=DECIMAL}
            </if>
            <if test="payAmount != null">
                AND pay_amount = #{payAmount,jdbcType=DECIMAL}
            </if>
            <if test="payTime != null">
                AND pay_time = #{payTime,jdbcType=TIMESTAMP}
            </if>
            <if test="shipManId != null">
                AND ship_man_id = #{shipManId,jdbcType=INTEGER}
            </if>
            <if test="shipManName != null">
                AND ship_man_name = #{shipManName,jdbcType=VARCHAR}
            </if>
            <if test="shipType != null">
                AND ship_type = #{shipType,jdbcType=INTEGER}
            </if>
            <if test="shipTime != null">
                AND ship_time = #{shipTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderType != null">
                AND order_type = #{orderType,jdbcType=INTEGER}
            </if>
            <if test="orderStatus != null">
                AND order_status = #{orderStatus,jdbcType=INTEGER}
            </if>
            <if test="shipStatus != null">
                AND ship_status = #{shipStatus,jdbcType=INTEGER}
            </if>
            <if test="payStatus != null">
                AND pay_status = #{payStatus,jdbcType=INTEGER}
            </if>
            <if test="isCounting != null">
                AND is_counting = #{isCounting,jdbcType=INTEGER}
            </if>
            <if test="isShip != null">
                AND is_ship = #{isShip,jdbcType=INTEGER}
            </if>
            <if test="isReceipt != null">
                AND is_receipt = #{isReceipt,jdbcType=INTEGER}
            </if>
            <if test="receiptTime != null">
                AND receipt_time = #{receiptTime,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="bailAmount != null">
                AND bail_amount=#{bailAmount,jdbcType=DECIMAL}
            </if>
            <if test="sendType != null">
                AND send_type=#{sendType,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectByOrderCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
        where order_code = #{orderId,jdbcType=BIGINT}
    </select>

    <select id="selectUnCountingByUserAndDate" resultMap="BaseResultMap">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
        where receipt_time <![CDATA[>=]]> #{start,jdbcType=TIMESTAMP}
              and receipt_time <![CDATA[<]]> #{end,jdbcType=TIMESTAMP}
              and user_pid = #{userid,jdbcType=BIGINT}
              and order_status = 3
              and is_counting = 0
    </select>

    <select id="selectByStatusAndDate" resultMap="BaseResultMap">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        from pf_border
        <where>
            <if test="expiraTime != null">
                create_time <![CDATA[<=]]> #{expiraTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderStatus != null">
                AND order_status = #{orderStatus,jdbcType=INTEGER}
            </if>
            <if test="payStatus != null">
                AND pay_status = #{payStatus,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <update id="updateOrderCancelById">
        update
            pf_border
        SET
            order_status = 2
        WHERE
            id = #{orderId,jdbcType=BIGINT}
        AND order_status = 0
        AND pay_status = 0
    </update>

    <select id="countSales" parameterType="String" resultType="Double">
        SELECT sum(pay_amount - bail_amount) FROM pf_border WHERE FIND_IN_SET(user_id,#{sUserIds})
    </select>

    <select id="statisticsBuy" resultType="Map">
        SELECT
               COUNT(1) stock,
               SUM(pay_amount - bail_amount) totalAmount
        FROM
               pf_border border
        LEFT JOIN pf_border_item item ON item.pf_border_id = border.id
        WHERE
               border.user_id = #{userId}
               AND border.user_pid = #{userPid}
               AND border.order_type IN (0,1)
               AND border.pay_status = 1
               AND item.sku_id = #{skuId}
    </select>
    <select id="selectQueuingOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(pb.id) FROM pf_border pb
        WHERE pb.order_status=6
        AND EXISTS(SELECT 0 FROM pf_border_item pbi WHERE pb.id=pbi.pf_border_id AND pbi.sku_id=#{skuId})
    </select>

    <select id="selectAllQueuingOrder" resultMap="BaseResultMap">
--         select * from pf_border
--         where order_status=6
--         order by case user_pid when 0 then 0 else 1 end,create_time
        SELECT * FROM pf_border WHERE order_status = #{status}
        <![CDATA[ and user_pid > 0 ]]>
        ORDER BY create_time
    </select>

    <select id="queryOrderNumsByUpidAndStatus" resultType="java.lang.Integer">
        select count(id)
        from pf_border
        where user_pid = #{userPid,jdbcType=BIGINT}
        <if test="orderStatus != null">
            AND order_status = #{orderStatus,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectPfBOrderBySkuIdAndUserId" resultMap="BaseResultMap">
        select id, create_time, create_man, order_code, user_id, user_pid, user_message,
        supplier_id, modify_time, modify_man, receivable_amount, order_amount, bail_amount,
        product_amount, ship_amount, pay_amount, pay_time, ship_man_id, ship_man_name, ship_type,
        ship_time, send_type, order_type, order_status, ship_status, pay_status, is_counting,
        is_ship, is_receipt, receipt_time, remark
        FROM pf_border pb
        WHERE pb.user_id= #{userId}
        AND pb.order_status IN (0,9)
        AND EXISTS(SELECT 0 FROM pf_border_item pbi WHERE pb.id=pbi.pf_border_id AND pbi.sku_id=#{skuId}) limit 1
    </select>

</mapper>