<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.order.PfCorderFreightMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PfCorderFreight" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="pf_corder_id" property="pfCorderId" jdbcType="BIGINT" />
        <result column="ship_man_id" property="shipManId" jdbcType="INTEGER" />
        <result column="ship_man_name" property="shipManName" jdbcType="VARCHAR" />
        <result column="freight" property="freight" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectById" parameterType="Long" resultMap="BaseResultMap" >
        select
               id,
               create_time,
               pf_corder_id,
               ship_man_id,
               ship_man_name,
               freight
        from
               pf_corder_freight
        WHERE
               id = #{id}
    </select>

    <select id="selectByCorderId" parameterType="Long" resultMap="BaseResultMap" >
        select
               id,
               create_time,
               pf_corder_id,
               ship_man_id,
               ship_man_name,
               freight
        from
               pf_corder_freight
        WHERE
               pf_corder_id = #{pfCorderId}
    </select>

    <select id="selectByCondition" parameterType="com.masiis.shop.dao.po.PfCorderFreight" resultMap="BaseResultMap" >
        select
               id,
               create_time,
               pf_corder_id,
               ship_man_id,
               ship_man_name,
               freight
        from
               pf_corder_freight
        <where>
            <if test="pfCorderId != null">
                pf_corder_id = #{pfCorderId}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.PfCorderFreight" >
        insert into pf_corder_freight (id, create_time, pf_corder_id, 
            ship_man_id, ship_man_name, freight
            )
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{pfCorderId,jdbcType=BIGINT}, 
            #{shipManId,jdbcType=INTEGER}, #{shipManName,jdbcType=VARCHAR}, #{freight,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateById" parameterType="com.masiis.shop.dao.po.PfCorderFreight">
        UPDATE
               pf_corder_freight
        <set>
            <if test=" != null">
                id = #{id},
            </if>
            <if test=" != null">
                create_time = #{createTime},
            </if>
            <if test=" != null">
                pf_corder_id = #{pfCorderId},
            </if>
            <if test=" != null">
                ship_man_id = #{shipManId},
            </if>
            <if test=" != null">
                ship_man_name = #{shipManName},
            </if>
            <if test=" != null">
                freight = #{freight},
            </if>
        </set>
        from
             pf_corder_freight
        WHERE
             id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM pf_corder_freight WHERE id = #{id}
    </delete>

</mapper>