<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.mall.message.SfMessageContentMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.SfMessageContent" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="content_url" property="contentUrl" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from sf_message_content
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.masiis.shop.dao.po.SfMessageContent" useGeneratedKeys="true" keyProperty="id">
        insert into sf_message_content (id, create_time, shop_id, 
            user_id, type, content, 
            content_url, status, update_time, 
            remark)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{shopId,jdbcType=BIGINT}, 
            #{userId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
            #{contentUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
            #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.masiis.shop.dao.po.SfMessageContent" >
        update sf_message_content
        set create_time = #{createTime,jdbcType=TIMESTAMP},
            shop_id = #{shopId,jdbcType=BIGINT},
            user_id = #{userId,jdbcType=BIGINT},
            type = #{type,jdbcType=INTEGER},
            content = #{content,jdbcType=VARCHAR},
            content_url = #{contentUrl,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select id, create_time, shop_id, user_id, type, content, content_url, status, update_time, 
        remark
        from sf_message_content
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select id, create_time, shop_id, user_id, type, content, content_url, status, update_time, 
        remark
        from sf_message_content
    </select>

    <select id="queryNumsFromUser" resultType="java.lang.Integer" >
        select count(0)
        from sf_message_content
        WHERE
            user_id = #{params.userId,jdbcType=BIGINT}
        <if test="params.types != null">
            AND `type` IN
            <foreach item="uid" index="index" collection="params.types" open="(" separator="," close=")">
              #{uid}
            </foreach>
        </if>
    </select>

    <select id="selectByFromUserAndType" resultMap="BaseResultMap">
        select id, create_time, shop_id, user_id, `type`, content, content_url, status, update_time,
        remark
        from sf_message_content
        WHERE user_id = #{params.userId,jdbcType=BIGINT}
        <if test="params.types != null">
            AND `type` IN
            <foreach item="uid" index="index" collection="params.types" open="(" separator="," close=")">
                #{uid}
            </foreach>
        </if>
        AND id <![CDATA[ <= ]]>
                (select id
                from sf_message_content
                WHERE user_id = #{params.userId,jdbcType=BIGINT}
                <if test="params.types != null">
                    AND `type` IN
                    <foreach item="uid" index="index" collection="params.types" open="(" separator="," close=")">
                        #{uid}
                    </foreach>
                </if>
                order by create_time DESC, id DESC
                limit #{params.start,jdbcType=INTEGER}, 1)
        order by create_time DESC, id DESC
        limit #{params.size,jdbcType=INTEGER}
    </select>

    <select id="queryShopNums" resultType="java.lang.Integer" >
      select count(*) from (select distinct(from_user) from sf_message_sr_relation where to_user = #{userId,jdbcType=BIGINT}) sf
    </select>


    <select id="selectShopInfoAndFirstMsg" resultType="java.util.HashMap">
        SELECT
        r2.notSeeNum,
        s.id, s.name, s.logo, (
        SELECT
        content
        FROM
        sf_message_content
        WHERE
        id = r2.sf_message_content_id
        ) content
        FROM
        (
        SELECT
        r1.sf_message_content_id,
        r1.from_user,
        (
        SELECT
        IFNULL(count(e1.id),0)
        FROM
        sf_message_sr_relation e1
        WHERE
        e1.from_user = r1.from_user
        AND e1.to_user = #{userId}
        AND e1.is_see = 0
        ) AS notSeeNum
        FROM
        (
        SELECT
        *
        FROM
        sf_message_sr_relation e
        WHERE
        e.id IN (
        SELECT
        MAX(f.id) AS rid
        FROM
        sf_message_sr_relation f
        WHERE
        f.to_user = #{userId}
        GROUP BY
        f.from_user
        ORDER BY
        f.is_see DESC
        )
        ) r1
        WHERE
        r1.to_user = #{userId}
        AND r1.id <![CDATA[ <= ]]> (
        SELECT
        o.rid
        FROM
        (
        SELECT
        MAX(r.id) AS rid
        FROM
        sf_message_sr_relation r
        WHERE
        r.to_user = #{userId}
        GROUP BY
        r.from_user
        ORDER BY
        r.is_see DESC
        ) o
        ORDER BY
        o.rid DESC
        LIMIT #{start},
        1
        )
        GROUP BY
        r1.from_user
        ORDER BY
        r1.create_time DESC,
        r1.id DESC
        LIMIT #{size}
        ) r2
        INNER JOIN sf_shop s ON s.user_id = r2.from_user;
    </select>

</mapper>