<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.system.IndexShowMapper" >
    <resultMap id="BannerResultMap" type="com.masiis.shop.dao.po.PbBanner" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="hyperlink_url" property="hyperlinkUrl" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ComSkuResultMap" type="com.masiis.shop.dao.beans.system.IndexComSku" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_man" property="createMan" jdbcType="BIGINT" />
        <result column="spu_id" property="spuId" jdbcType="INTEGER" />
        <result column="sku_id" property="skuId" jdbcType="INTEGER" />
        <result column="img_name" property="imgName" jdbcType="VARCHAR" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
        <result column="is_default" property="isDefault" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="agent_num" property="agentNum" jdbcType="VARCHAR" />
        <result column="ship_amount" property="shipAmount" jdbcType="DECIMAL" />
        <result column="user_id" property="uid" jdbcType="BIGINT" />
        <result column="is_trial" property="isTrial" jdbcType="INTEGER" />
        <association property="comSku" javaType="com.masiis.shop.dao.po.ComSku">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="spu_id" property="spuId" jdbcType="INTEGER" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="create_man" property="createMan" jdbcType="BIGINT" />
            <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
            <result column="modify_man" property="modifyMan" jdbcType="BIGINT" />
            <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
            <result column="price_cost" property="priceCost" jdbcType="DECIMAL" />
            <result column="price_market" property="priceMarket" jdbcType="DECIMAL" />
            <result column="price_retail" property="priceRetail" jdbcType="DECIMAL" />
            <result column="remark" property="remark" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <select id="selectAllPbBanner" resultMap="BannerResultMap">
        select id,name ,img_url ,hyperlink_url from pb_banner
    </select>
    <select id="selectAllIndexComSku" resultMap="ComSkuResultMap" parameterType="java.lang.Long">
        SELECT sku_image.img_name,sku_image.img_url,sku_image.sku_id ,sku.name,sku.price_retail,sku_statistic.agent_num,sku.spu_id,
                spu.ship_amount,user_sku.user_id,spu.is_trial
        FROM com_sku sku
        INNER JOIN com_spu spu ON sku.spu_id=spu.id
        INNER JOIN pf_sku_statistic sku_statistic ON sku.id = sku_statistic.sku_id
        LEFT JOIN pf_user_sku user_sku ON sku.id = user_sku.sku_id AND user_sku.user_id =#{userId}
        LEFT JOIN com_sku_image sku_image ON sku.id = sku_image.sku_id AND sku_image.is_default = 1
        WHERE spu.is_sale=1 AND spu.is_delete = 0
    </select>

</mapper>