<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masiis.shop.dao.platform.system.PbUserMapper" >
    <resultMap id="BaseResultMap" type="com.masiis.shop.dao.po.PbUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 根据id查询一条记录 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
               id, user_name, true_name, password, email, sex, age, phone
        FROM
               pb_user
        WHERE
               id = #{id}
    </select>

    <!-- 根据条件查询记录 -->
    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
               id, user_name, true_name, password, email, sex, age, phone
        FROM
               pb_user
        <where>
            <if test="pbUser.id != null">
                AND id = #{pbUser.id}
            </if>
            <if test="pbUser.userName != null">
                AND user_name = #{pbUser.userName}
            </if>
            <if test="pbUser.trueName != null">
                AND true_name = #{pbUser.trueName}
            </if>
            <if test="pbUser.password != null">
                AND password = #{pbUser.password}
            </if>
            <if test="pbUser.email != null">
                AND email = #{pbUser.email}
            </if>
            <if test="pbUser.sex != null">
                AND sex = #{pbUser.sex}
            </if>
            <if test="pbUser.phone != null">
                AND phone = #{pbUser.phone}
            </if>
        </where>
    </select>

    <!-- 添加一条记录 -->
    <insert id="insert">
        INSERT INTO pb_user
         (user_name, true_name, password, email, sex, age, phone)
        VALUES
         (#{pbUser.userName}, #{pbUser.trueName}, #{pbUser.password}, #{pbUser.email}, #{pbUser.sex}, #{pbUser.age}, #{pbUser.phone})
    </insert>

    <!-- 根据id更新一条记录 -->
    <update id="updateById">
        UPDATE pb_user
        SET    user_name = #{pbUser.userName},
               true_name = #{pbUser.trueName},
               password  = #{pbUser.password},
               email     = #{pbUser.email},
               sex       = #{pbUser.sex},
               age       = #{pbUser.age},
               phone     = #{pbUser.phone}
        WHERE
               id = #{pbUser.id}
    </update>

    <!-- 根据id删除一条记录 -->
    <delete id="deleteById">
        DELETE FROM pb_user WHERE id = #{id}
    </delete>
</mapper>