#wrap{
     width: 100%;
    .main{
        padding-bottom: 3rem;
        header{
            width: 100%;
            height: 100px; 
            display: -webkit-box;
            background: url("../images/icon_27.png") no-repeat;
            background-size: cover;
            -webkit-box-align:center;
            position: relative;
            margin-bottom: 10px;
            &>p{
                position: absolute;
                right: 10px;
                top: 10px;
                color: white;
                padding-right: 20px;
                background:url("../images/put.png") no-repeat 30px;
                background-size:35%;
            }
            div{
                width: 100%;
                height: 60px;
                p{
                    width:55px;
                    height:55px;
                    display: block;
                    border-radius:30px;
                    overflow: hidden;
                    border: 1px solid #CF9E8C;
                    margin-left: 10px;
                    float: left;
                        img{
                            display: block;
                            width:100%;
                        }
                }
                h1{
                     float: left;
                    height: 100%;
                    display: -webkit-box;
                    -webkit-box-orient:vertical;
                    -webkit-box-pack:center;
                    padding-left: 20px;
                    b,span{
                        display: block;
                        color: white;
                    }
                    b{
                        font-size: 14px;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
        #box{
            width: 100%;
            background: white;
            &>p{
                margin: 0 10px;
                border-bottom: 1px solid #F3F4F5; 
                display: -webkit-box;
                -webkit-box-pack:justify;
                background-size: 5%;
                height: 40px;


                span{
                    display:block;
                    color: #5A5A5A;
                    line-height: 40px;
                    position: relative;
                    b{
                        left: 20px;
                        top: 6px;
                        position: absolute;
                        display: block;
                        width:10px;
                        height:10px;
                        background: red;
                        border-radius: 10px;
                        font-size: 12px;
                        text-align: center;
                        line-height: 15px;
                    }
                    img{
                          display: block;
                          width: 22px;
                          float: left;
                          margin-right: 15px;
                          margin-top: 10px;
                    }
                }
                span:nth-child(2){    
                    img{
                        display: block;
                        width: 10px;
                        height: 20px;
                        margin-right: 0;
                    }
                }
            }
            &>p:last-child{
                border: none;
            }
        }
    }
}