.wrap{
        width: 100%;
        -webkit-box-flex:1;
        -moz-box-flex:1;
        overflow: auto;
        position: relative;
    .box{
        width: 100%;
        height: 100%;
        .banner{
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                }
            }
        .all{
            display: -webkit-box;
            background: white;
            padding: 0 10px;
            -webkit-box-align:center;
            &>img{
                display: block;
                width: 15px;
                height: 15px;
            }
            p{
                line-height:42px;
                text-indent: 10px;
                -webkit-box-flex:1;
                &>img{
                    float: right;
                    display: block;
                    width: 10px;
                    margin-top: 12px;
                }
            }
        }
        .main{
            width: 100%;
            -webkit-box-flex:1;
            margin-top: 10px;
            .title{
                background: white;
                padding: 10px 10px;
                text-indent: 10px;
                border-bottom: 1px solid #DFE0E1;
                img{
                    display: block;
                    width: 15px;
                    float: left;
                }
            }
            .sec1{
                    width: 100%;
                    background: white;
                    display: -webkit-box;
                    -webkit-box-align:center;
                     display: -moz-box;
                    -moz-box-align:center;
                     border-bottom: 1px solid #f6f6f6;
                    padding: 5px 0;
                margin-bottom: 5px;
                    .photo{
                        width:90px;
                        margin-left: 5px;
                        img{
                            display:block;
                            width: 90px;
                            height: 90px;
                        }
                    }
                    div{
                        -webkit-box-flex:1;
                        -moz-box-flex:1;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-pack:center; 
                        -webkit-box-orient:vertical;
                         display: -moz-box;
                        -moz-box-pack:center; 
                        -moz-box-orient:vertical;
                        margin-left: 10px;
                        h2{
                            color: #333333;
                            font-size: 14px;
                            b{
                                float: right;
                                margin-right: 10px;
                            }
                        }
                        h2:nth-child(1){
                            margin-bottom: 5px;
                        }
                        h2:last-child{
                            margin-top: 5px;
                        }
                        h3{
                            color: #999999;
                            font-size: 12px;
                            span{
                                font-size: 12px;
                            }
                        }
                        h3:nth-child(3){
                            border-bottom: 1px solid #ccc;
                        }
                        p{
                            width:100%;
                            font-size: 12px;
                            color: #B0B0B0;
                            span{
                                color: #FF6633;
                                font-size: 12px;
                            }
                         }
                    }
    }
        }
    }
}