.wrap{
     width: 100%;
    height: 100%;
    .box{
        width: 100%;
        height:100%;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        nav{
            width: 100%;
            background: white;
            padding: 5px 0;
            border-bottom:1px solid #E8E8E8;
            ul{
                display: -webkit-box;
                li{
                    -webkit-box-flex:1;
                    width: 1px;
                    display:-webkit-box;
                    -webkit-box-pack:center;
                    border-right: 1px solid #F6F6F6;
                    a{
                        padding:0 2px 5px 2px;
                        font-size: 12px;
                        color: #5E5E5E;
                    }
                    .on{
                        border-bottom: 2px solid #FF0000;
                        color: #FF6F35;
                    }
                }
            }
        }
        main{
            -webkit-box-flex:1;
            display: -webkit-box;
            overflow-x: hidden;
            div{
                width: 100%;
            }
            .all:nth-child(1){
                display: block;
            }
            .all{
                display: none;
                .sec1{
                    background: white;
                    &>p{
                    width: 100%;
                    line-height: 25px;
                    font-size: 12px;
                    color: #A5A5A5;
                    background: #f6f6f6;
                        text-indent: 10px;
                    span{
                        font-size: 12px;
                    }
                }
                    &>h2{
                        text-indent: 10px;
                        font-size: 12px;
                        line-height: 30px;
                        border-bottom:1px solid #E8E8E8;
                        span{
                            color: #4E4E4E;
                            font-size: 12px;
                        }
                        b{
                            float: right;
                            margin-right: 10px;
                            color: #FF6F35;
                            line-height: 30px;
                        }
                    }
                    .shangpin{
                        width: 100%;
                        height: 78px;
                        background: white;
                        display: -webkit-box;
                        -webkit-box-align:center;
                        display: -moz-box;
                        -moz-box-align:center;
                         border-bottom:1px solid #F8F8F8;
                        .photo{
                            width:62px;
                            margin-left: 10px;
                            img{
                                display:block;
                                width:54px;
                                height:54px;
                                border:1px solid #999999;
                            }
                        }
                        div{
                            -webkit-box-flex:1;
                            -moz-box-flex:1;
                            display: -webkit-box;
                            -webkit-box-pack:center; 
                            -webkit-box-orient:vertical;
                            display: -moz-box;
                            -moz-box-pack:center; 
                            -moz-box-orient:vertical;
                            margin-left:6px;
                            h2{
                                color: #333333;
                                font-size: 12px;
                            }
                            h3{
                                color: #999999;
                                font-size: 12px;
                                span{
                                font-size: 12px;
                                }
                                b{
                                font-size: 12px;
                                    float: right;
                                    color: #999999;
                                    margin-right: 10px;
                                }
                            }
                            .defult{
                                padding-bottom: 5px;
                                font-size: 12px;
                                margin-right: 10px;
                                span{
                                font-size: 12px;
                                }
                            }
                            
                        }
                    }
                    h1{
                                margin: 0 10px;
                                color: #A5A5A5;
                                text-align: right;
                                font-size: 12px;
                                padding: 5px 0;
                               span{
                                 display: inline-block;
                                font-size: 12px;
                                 }
                                b{
                                    color: #585858;
                                    font-size: 12px;
                                }
                             }
                    .ding{
                        width: 100%;
                        display: -webkit-box;
                        font-size: 12px;
                        line-height: 30px;
                        position: relative;
                        p{
                            text-indent: 10px;
                            font-size: 12px;
                            background: url("../images/icon_26.png") no-repeat 10px;
                            background-size: 14%;
                            padding-left: 18px;
                            line-height: 30px;
                        }
                        p:nth-child(2){
                            background: url("../images/icon_39.png") no-repeat 10px;
                            background-size: 20%;
                            padding-left: 22px;
                        }
                        span{
                            position: absolute;
                            right:10px;
                            top: 3px;
                            padding: 0 10px;
                                border-radius: 5px;
                                border: 1px solid #FF0000;
                                color: #FF5200;
                        }
                        .jixu,.quxiao{
                            right: 100px;
                            border: 1px solid #999999;
                            color: #999999;
                            a{
                                color: #999;
                            }
                        }
                        .quxiao{
                            right:10px;
                        }
                    }
                }
            }
        }
    }
    .back{
            width: 100%;
            height: 100%;
            background-color:rgba(0,0,0,0.4);
            position: absolute;
            top: 0;
            left: 0;
            display: -webkit-box;
            -webkit-box-align:center;
            -webkit-box-pack:center;
        display: none;
        .back_que,.back_shouhuo{
                width: 80%;
                background: white;
                border-radius: 5px;
                z-index: 10;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                display: none;
                p{
                    margin: 0 10px;
                    color: #F74A11;
                    border-bottom: 1px solid #F74A11;
                    line-height:30px;
                    margin-bottom: 10px;
                }
                h4{
                    margin: 0 15px;
                    text-indent: 10px;
                    letter-spacing: 1px;
                }
                h3{
                    margin-top: 10px;
                    -webkit-box-flex:1;
                    display: -webkit-box;
                    -webkit-box-align:center;
                    border-top: 1px solid #999999;
                    span{
                        display: block;
                        -webkit-box-flex:1;
                        text-align: center;
                        line-height: 33px;
                    }
                    span:nth-child(1){
                        border-right: 1px solid #999;
                    }
                }
            }
}
}
