.wrap{
    width: 100%;
    height: 100%;
    color: #333333;
    position: relative;
    nav{
        width: 100%;
        display: -webkit-box;
        -webkit-box-pack:center;
        margin-top:10px;
        ul{
             display: -webkit-box;
            li:first-child{
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                border-right: none;
            }
            li:last-child{
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                border-left: none;
            }
            li{
                padding: 2px 15px;
                border: 1px solid #999;
            }
            .on{
                background: #F74A11;
                border: 1px solid #F74A11;
                color: white;
            }
        }
    }
    main{
        -webkit-box-flex:1;
        overflow: auto;
        padding-top: 5px;
        margin-top: 10px;
        display: -webkit-box;
        .yi,.wei{
            width: 100%;
            .sec1{
                display: -webkit-box;
                -webkit-box-align:center;
                padding: 5px 0 10px 0;
                margin-bottom:10px;
                background:white url("../images/next.png") no-repeat 97% 45%;
                background-size: 4%;
                img{
                        display: block;
                        width: 30px;
                        margin-left: 10px;
                    }
                p{
                    margin-left: 10px;
                    border-left: 1px solid #CECECE;
                    b,span{
                        display: block;
                        margin-left: 10px;
                        em{
                            font-size: 14px;
                            color: #333333;
                        }
                    }
                }
            }
        }
        .wei{
            display: none;
            
        }
    }
}