.wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap main {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap main > p {
  margin: 0 10px;
  line-height: 30px;
}
.wrap main .sec1 {
  padding: 5px 10px;
  background: white;
}
.wrap main .sec1 p {
  display: -webkit-box;
  -webkit-box-pack: justify;
  padding: 5px 0;
  border-bottom: 1px solid #999;
}
.wrap main .sec1 p span {
  display: block;
}
.wrap main .sec1 p:nth-child(3) {
  border: none;
}
