    main{
        width: 100%;
        -webkit-box-flex:1;
        -moz-box-flex:1;
        .sec2{
            width: 100%;
            height: 78px;
            background: white;
            display: -webkit-box;
            -webkit-box-align:center;
            display: -moz-box;
            -moz-box-align:center;
             border-bottom: 1px solid #f6f6f6;
            .photo{
                width:62px;
                margin-left: 10px;
                img{
                    display:block;
                    width:62px;
                    height:62px;
                    border:1px solid #999999;
                }
            }
            div{
                -webkit-box-flex:1;
                -moz-box-flex:1;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-pack:center; 
                -webkit-box-orient:vertical;
                display: -moz-box;
                -moz-box-pack:center; 
                -moz-box-orient:vertical;
                margin-left: 10px;
                h2{
                    color: #333333;
                    font-size: 12px;
                    height: 15px;
                }
                h3{
                    height: 15px;
                    font-size: 12px;
                    color: #999999;
                    span{
                        font-size: 12px;
                    }
                    b{
                        font-size: 12px;
                        float: right;
                        color: #999999;
                        margin-right: 10px;
                    }
                }
                p{
                    width:100%;
                    height: 15px;
                    font-size: 12px;
                    color: #999999;
                   span{
                     color: #FF7F5A;
                     display: inline-block;
                     float: right;
                     margin-right: 10px;
                     font-size: 12px;
                 }
                 }
            }
    }
         .sec3{
             width: 100%;
            
             p{
                 width: 100%;
                 height: 40px;
                 line-height: 40px;
                 text-indent: 10px;
                 margin:10px 0;
                 border-bottom: 1px solid #f6f6f6;
                 color: #333333;
                  background: white;
                 overflow: hidden;
                 input{
                      color:#333333;
                      border: none;
                      font-size: 12px;
                      display: inline-block;
                      line-height: 30px;
                      margin-top:-4px;
                      font-weight: 600;
                  }
             }
             h1{
                 width: 100%;
                  background: white;
                 height: 40px;
                 line-height: 40px;
                 text-indent: 10px;
                 font-size: 12px;
                 border-bottom: 1px solid #f6f6f6;
                 color: #999999;
                 text-align: right;
                 font-weight:600;
                 span{
                     color: #FF7F5A;
                     font-size: 12px;
                     font-weight:600;
                 }
                 span:last-child{
                    margin-right: 10px; 
                }
                 b{
                    font-size: 12px; 
                     font-weight:600;
                }
             }
         }
        .tishi{
          text-indent: 10px;
          color: red;
         overflow: hidden;
         }
        .pople{
            width: 100%;
            text-indent: 10px;
            color: #333333;
            line-height: 30px;
            background: white;
            span{
                font-size: 12px;
                color: #999999;
                padding-left: 10px;
            }
        }
        .sec4{
            width: 100%;
            background: white;
            p{
                text-indent: 25px;
                line-height: 38px;
                border-bottom: 1px solid #f6f6f6;
                color: #333333;
                input{
                      color:#333333;
                      border: none;
                      font-size: 12px;
                      display: inline-block;
                      font-weight:600;
                  }
                .btn{
                    text-indent: 0;
                    text-align: center;
                    font-size: 12px;
                    color: #B2B2B2;
                    display:inline-block;
                    float: right;
                    height: 30px;
                    border-radius: 5px;
                    color: white;
                    width: 80px;
                    line-height: 30px;
                    margin-top: 4px;
                    background: #F74A11;
                    margin-right: 10px;
                }
            }
            p:nth-child(3){
                input{
                    width: 20%;
                }
            }
              .pon{
                  background: url("../images/no.png") no-repeat;
                  background-position: 96%;
                  background-size: 5%;
              }
              .yon{
                background: url("../images/ok.png") no-repeat 54%;
                background-size: 6%;
                }
              .yno{
                background: url("../images/nok.png") no-repeat 54%;
                background-size: 6%;
              }
        }
        .sq{
            display: block;
            color: white;
            line-height: 42px;
            border-radius: 5px;
            text-align: center;
            margin: 20px 10px 0 10px;
            background: #F74A11;
        }
    }
    