*{
    margin: 0;
    padding: 0;
 font-size: 14px;
  font-family: "Microsoft YaHei",Arial,"Helvetica"; 
    a{
         text-decoration: none;   
    }
    b{
        font-weight: normal;
        font-size: 14px;
    }
}
.wrap{
    -webkit-box-flex:1;
    color: #333333;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    overflow: hidden;
    .box{
        width: 100%;
        height: 100%;
        main{
        -webkit-box-flex:1;
        .sec1{
            width: 100%;
            height: 100%;
            background: white;
            &>p{
              border-bottom: 1px solid #C2C2C2;
              text-indent: 10px;
              padding: 10px 0; 
                label{
                    float:right;
                    margin-right: 10px;
                    color:#F74911;
                    background: url("../images/zichan_3.png") no-repeat 100%;
                    background-size: 14px;
                    padding-right: 15px;
                    font-size: 14px;
                    b{
                        font-size: 14px;
                    }
                }
            }
            #divall{
                div{
                display: -webkit-box;
                margin:0 15px;
                padding: 5px 0;
                border-bottom:1px dashed #999999;
                -webkit-box-orient:vertical;
                p{
                    width: 100%;
                    padding:2px 0;
                    display: -webkit-box;
                    -webkit-box-pack:justify;
                    span{
                        display: block;
                        font-size: 14px;
                    }
                    .sd{
                        color: #999999;
                        font-size: 12px;
                        display: block;
                    }
                }
                    
                    h1{
                        font-weight: normal;
                        span{
                            font-size: 12px;
                            margin-right:10px;
                        }
                        b{
                            float: right;
                        }
                    }
            }
            }
        }
    }
    }
}
