.wrap{
    -webkit-box-flex:1;
     -moz-box-flex:1;
    overflow: hidden;
    position: relative;
.box{
   width: 100%;
   height: 100%;
   display: -webkit-box;
   -webkit-box-orient:vertical;
    display: -moz-box;
   -moz-box-orient:vertical;
   main{
   width: 100%;
   .drap{
   width: 100%;
   display: -webkit-box;
   -webkit-box-orient:vertical;
   -webkit-box-align:center;
   display: -moz-box;
   -moz-box-orient:vertical;
   -moz-box-align:center;
   padding: 20px 0 20px 0;
   h2{
      img{
          display: block;
          width: 50%;
          margin: 0 auto;
      }
     }
        p{
            color:#999999;
            margin-top: 10px;
            font-size: 12px;
        }
    }
         .xinxi{
                background: white url("../images/zhuce_2.png") no-repeat;
                background-size: 80%;
                background-position: center 85%;
                p:nth-child(2){
                    color: #F74A11;
                }
            }
        
         .sec1{
           width: 100%;
           height: 55px;
           margin-top: 5px;
           background: white;
           display: -webkit-box;
           -webkit-box-align:center;
            -webkit-box-pack:justify;
            display: -moz-box;
           -moz-box-align:center;
            -moz-box-pack:justify;
            display: none;
           img{
               display:inline-block;
               width: 15px;
               height: 20px;
               margin-left: 10px;
               margin-top: 10px;
           }
           div{
               width: 88%;
               margin-left: 12px;
               display: -webkit-box;
               -webkit-box-pack:center; 
               -webkit-box-orient:vertical;
               display: -moz-box;
               -moz-box-pack:center; 
               -moz-box-orient:vertical;
               h2{
                   span{
                       float: right;
                       margin-right: 10px;
                   }
               }

               p{
                   width:100%;
                   overflow: hidden;
                   position: relative;
                   span{
                       font-size: 12px;
                   }
                   img{
                       position: absolute;
                       right: 10px;
                       top:-5px;
                       display: block;
                       width: 10px;
                       height: 15px;
                   }
                }
           }
                }
         .sec2{
            width: 100%;
            height: 78px;
            margin-top: 5px;
            background: white;
            display: -webkit-box;
            -webkit-box-align:center;
             display: -moz-box;
            -moz-box-align:center;
             border-bottom: 1px solid #f6f6f6;
            .photo{
                width:62px;
                margin-left: 10px;
                img{
                    display:block;
                    width: 62px;
                    height: 62px;
                    border: 1px solid #999999;
                }
            }
            div{
                -webkit-box-flex:1;
                -moz-box-flex:1;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-pack:center; 
                -webkit-box-orient:vertical;
                 display: -moz-box;
                -moz-box-pack:center; 
                -moz-box-orient:vertical;
                margin-left: 10px;
                h2{
                    color: #333333;
                    font-size: 14px;
                    span{
                        float: right;
                        color: #FF7F5A;
                        margin-right: 10px;
                    }
                }
                h3{
                    color: #999999;
                    font-size: 12px;
                    span{
                        font-size: 12px;
                    }
                }
                p{
                    width:100%;
                    font-size: 12px;
                    color: #B0B0B0;
                    span{
                        color: #FF6633;
                        font-size: 12px;
                    }
                 }
            }
    }
         .sec3{
             width: 100%;
             background: white;
             p{
                 width: 100%;
                 height: 40px;
                 line-height: 40px;
                 text-indent: 10px;
                 font-size: 12px;
                 border-bottom: 1px solid #f6f6f6;
                 color: #999999;
                 input{
                     border: none;
                     color: #999999;
                     width: 80%;
                     display: inline-block;
                 }
                 span,b{
                     color: #FF7F5A;
                     display: inline-block;
                     float: right;
                     line-height: 40px;
                     margin-right: 10px;
                     font-size: 12px;
                 }
                 b{
                   color: #999999;  
                 }
             }
             h1{
                 width: 100%;
                 height: 40px;
                 line-height: 40px;
                 border-bottom: 1px solid #f6f6f6;
                 color: #999999;
                 font-size: 12px;
                 text-align: right;
                 span{
                     color: #FF7F5A;
                     font-size: 12px;
                     padding-right: 10px;
                 }
                 b{
                     font-size: 12px;
                 }
             }
         }
        .sec4{
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-box-pack:center;
            -webkit-box-align:center;
            display: -moz-box;
            -moz-box-orient:vertical;
            -moz-box-pack:center;
            -moz-box-align:center;
            background: white;
            padding: 10px 0;
            p{
                margin: 0 auto;
                font-size: 12px;
                width: 100px;
                display: -webkit-box;
                display: -moz-box;
            span{
                display: block;
                color: #FF5200;
                font-size:12px;
                text-align: left;
            }
            b{
                font-size: 12px;
                text-align: right;
                display: block;
                width: 50px;
            }
                }
        }

        .weixin,.xianxia{
            display: block;
            background: #45A5CF;
            border-radius: 5px;
            padding:8px 0;
            color: white;
            text-align: center;
            font-size: 16px;
            margin:20px 10px 0 10px;
        }
        .weixin{
                margin-top:3rem;
                background: #17BA03;
            }
        .xianxia{
            background: #F74A11;
            margin-bottom: 3rem;
        }
}
}
}
