.wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    #box{
        width: 100%;
        height: 100%;
        overflow: auto;
        
    main{
  width: 100%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  .sec1{
      margin-bottom: 5px;
      width: 100%;
      div{
          width: 100%;
          border-bottom: 1px solid #F6F6F6;
          background: white;
          display: -webkit-box;
          -webkit-box-orient:vertical;
          display: -moz-box;
          -moz-box-orient:vertical;        
          p{
              text-indent:10px;
              color: #333333;
              line-height: 40px;
              font-size: 14px;
              position: relative;
              .onc{
                  float: right;
                margin: 10px 28px 0 0;
                width: 24px;
                height: 24px;
                display: none;
                background: url("../images/no.png") no-repeat;
              }
              .gao{
                position: absolute;
                right:13px;
                top: 28px;
                background: url("../images/icon_33.png") no-repeat;
                background-size: contain;
                color: white;
                padding: 10px 20px;
                text-indent: 0;
                z-index: 100;
                display: none;
                padding-left: 14px;}
              b{
                  font-size: 12px;
              }
              input{
                  color:#333333;
                  border: none;
                  font-size: 12px;
                  display: inline-block;
                  line-height: 30px;
                  margin-top:-4px;
                  font-weight: 600;
              }
              .btn{
                  text-indent: 0;
                  font-size: 12px;
                  display:inline-block;
                  float: right;
                  height: 30px;
                  border-radius: 5px;
                  color: white;
                  width: 80px;
                  text-align: center;
                  line-height: 30px;
                  margin-top: 5px;
                  background: #F74A11;
                  margin-right: 10px;
              }
          }
          span{
                  float: right;
                  display: block;
                  width: 21px;
                  height: 21px;
                  margin-top: 10px;
                  margin-right: 27px;
                   background:white url("../images/no.png") no-repeat;
                  text-indent: 10px;
                  line-height: 40px;
                  color: #999999;
                  display: none;
            }
       
          .yon{
            background: url("../images/ok.png") no-repeat 54%;
            background-size: 6%;
            }
          .yno{
            background: url("../images/nok.png") no-repeat 54%;
            background-size: 6%;
          }
      }
  }
  .sec2{
      width: 100%;
      background: white;
      
      h2{
          font-size: 13px;
          text-indent:10px;
          font-weight: 600;
          color: #333333;
          line-height: 30px;
          text-indent: 10px;
          
      }
      &>h3{
          margin: 0 10px;
          border-bottom: 1px solid #f6f6f6;
          line-height: 40px;
          span{
          }
          input{
              display: none;
          }
          label{
              background: url("../images/icon_14.png") no-repeat;
              padding-left: 25px;
              background-size: contain;
          }
          input:checked+label{
              background: url("../images/icon_11.png") no-repeat;
              padding-left: 25px;
              background-size: contain;
          }
      }
      div{
          width: 100%;
          border-bottom: 1px solid #F6F6F6;
          background: white;
          display: -webkit-box; 
          -webkit-box-orient:vertical;
          display: -moz-box;
          -moz-box-orient:vertical;     
          h3{
              position: relative;
              margin-right: 10px;
              text-indent: 10px;
              color: #333333;
              line-height: 40px;
              font-size: 14px;
              .gao{
                position: absolute;
                right:2px;
                top:28px;
                background: url("../images/icon_33.png") no-repeat;
                background-size: 100% 100%;
                color: white;
                padding: 10px 10px;
                text-indent: 0;
                z-index: 100;
                display: none;
              }
              b{
                  font-size: 12px;
              }
              input{
                  color:#333333;
                  border: none;
                  font-size: 12px;
                  display: inline-block;
                  line-height: 30px;
                  margin-top:-4px;
                  font-weight: 600;
              }
              span{
                  position: absolute;
                  display: block;
                  width: 21px;
                  height: 21px;
                  top: 10px;
                  right: 18px;
                   background:white url("../images/no.png") no-repeat;
                  text-indent: 10px;
                  line-height: 40px;
                  color: #999999;
                  display: none;
            }
          }
          
      }
      .dengji{
          p{     
                  display: block;
                  color: #999999;
                  line-height: 40px;
                  border-bottom: 1px solid #F6F6F6;
                  text-indent:35px;
                  background: url("../images/icon_14.png") no-repeat 10px;
                  background-size: 5%;
                  font-size: 13px;
                  span,b{
                      font-size: 12px;
                      color: #999999;

                  }
              }
          .on{
              background: url("../images/icon_11.png") no-repeat 27px;

              background-size:5%;
          }
      }
      .jin{
          color: #c5c5c5;
          background: url("../images/jin.png") no-repeat 27px;
          background-size: 5%;
          
          span,b{
              color: #c5c5c5;
          }
      }
  } 
  .sec3{
      width: 100%;
      display: -webkit-box;
      -webkit-box-pack:center;
      -webkit-box-align:center;
      display: -moz-box;
      -moz-box-pack:center;
      -moz-box-align:center;

      label{

           font-size: 12px;
           color:#333333;
           text-indent: 20px;
          line-height: 14px;
          a{
              text-decoration: underline;
              color: #F74A11;
          }
          }
      input{
           display: none;

       }

  }
  .sec4{
      margin: 0 10px;
      height: 42px;
      background: #F74A11;
      margin-top: 20px;
      display: -webkit-box;
       display: -moz-box;
      border-radius: 5px;
      -webkit-box-pack:center;
      -moz-box-pack:center;
      a{
          display: block;
          -webkit-box-flex:1;
          -moz-box-flex:1;
          line-height: 42px;
          color:white;
          text-align: center;
      }
      }
  }    
    }
    .back{
            width: 100%;
            height: 100%;
            background-color:rgba(0,0,0,0.4);
            position: absolute;
            top: 0;
            left: 0;
            display: -webkit-box;
            -webkit-box-align:center;
            -webkit-box-pack:center;
        display: none;
            .back_que{
                    width: 90%;
                    background: white;
                    border-radius: 5px;
                    z-index: 10;
                    display: -webkit-box;
                    -webkit-box-orient:vertical;
                    p{
                        margin: 0 10px;
                        color: #F74A11;
                        border-bottom: 1px solid #F74A11;
                        line-height:30px;
                        margin-bottom: 10px;
                    }
                    h4{
                        margin: 0 10px;
                        letter-spacing: 1px;
                        b{
                            display: inline-block;
                            width:100px;
                            text-align: right;
                        }
                        span{
                            margin-left: 10px;
                        }
                    }
                    h3{
                        margin-top: 10px;
                        -webkit-box-flex:1;
                        display: -webkit-box;
                        -webkit-box-align:center;
                        border-top: 1px solid #999999;
                        span{
                            display: block;
                            -webkit-box-flex:1;
                            text-align: center;
                            line-height: 33px;
                        }
                        span:nth-child(1){
                            border-right: 1px solid #999;
                        }
                    }
                        }
        }
}
